.copia-button {
    flex: 1;
    height: 28px !important;
    text-transform: uppercase !important;
    font-family: "Lato", Sans-serif !important;
    border-radius: 12px !important;
}

.confirm-button {
    border-color: #007bff;
    background-color: #002850 !important;
    color: white !important;
}

.back-button {
    border: 1px solid #002850 !important;
    color: #002850 !important;
    background-color: white !important;
}

.k-multiselect {
    //display: block;
    height: 80px !important;
    overflow-y: auto !important;
}

.faGridToolbarIcon {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    &.faQdCImportByApp {
        background-image: url('../../../assets/custom-icons/icon-general/ic_options_import_byapp.svg');
    }
}
