.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.title.error-dialog, .title.warning-dialog {
    color: #D90D1D;
}

.title.info-dialog, .title.success-dialog {
    color: #002D5A;
}

.content {
    font-size: 14px;
}

.icon-container {
    display: block;
    text-align: center;
}

.icon {
    display: block;
    height: 64px;
    width: 64px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0 auto;
    border-radius: 100%;
}

.icon.error-dialog {
    background-image: url('../../assets/custom-icons/icon-general/ic_modal_alert_error.svg');
}

.icon.warning-dialog {
    background-image: url('../../assets/custom-icons/icon-general/ic_modal_alert_warning.svg');
}

.icon.info-dialog {
    background-image: url('../../assets/custom-icons/icon-general/ic_modal_alert_info.svg');
}

.icon.success-dialog {
    background-image: url('../../assets/custom-icons/icon-general/ic_modal_alert_success.svg');
}

.content-scrollable {
    overflow: auto;
    padding: 1.143em;
    margin: -1.143em;
}

