h4 {
    color: white !important;
    align-content: center;
    align-items: center;
    justify-content: center !important;
    margin-bottom: 0;
    margin-top: 0 !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    padding-top: 0.8rem;
    background: #002d5a;
}

.close-button {
    position: absolute;
    top: 0.2rem;
    right: 0.9rem;
    opacity: 0.6;
}

.close-button:hover {
    cursor: pointer;
    opacity: 1;
}

.gis-calendar-modal .k-window {
    border: 0;
}

.dropdown-container {
    padding: 1rem;
    margin-bottom: 0;
    border-bottom: solid 1px #ebebeb;
}

.dropdown-container div {
    width: 25rem;
}

.dropdown-container div:first-child {
    width: auto;
    text-align: right;
    margin-right: 1rem;
}

.dropdown-container div label,
.dropdown-container div kendo-dropdownlist {
    display: block;
    margin-top: 1rem;
}

.dropdown-container div label:first-child,
.dropdown-container div kendo-dropdownlist:first-child {
    margin-top: 0;
}

.dropdown-container div kendo-dropdownlist {
    width: 100%;
}

.btn-tipo-ricerca {
    width: 100%;
    color: white;
    background-color: #002d5a;
    text-transform: uppercase;
    align-content: center;
}

.xi-add-inline {
    height: 1.6rem;
    width: 1.7rem;
}
