
.k-grid .k-alt.ricettaBloccata,
.k-grid .k-alt.ricettaBloccata:hover,
.k-grid .ricettaBloccata,
.k-grid .ricettaBloccata:hover  {
    background-color: #d6d6d6!important;
    color: #555!important;
    td:first-child{
      border-left: 2px solid #bababa !important;
    }
}
.ricettaBloccata {
  background-color: #d6d6d6 !important;
  border:1px solid black;
}

.k-grid .k-alt.ricettaPubblica,
.k-grid .k-alt.ricettaPubblica:hover,
.k-grid .ricettaPubblica,
.k-grid .ricettaPubblica:hover  {
    background-color:#d2dafa !important;
    color: #555!important;
    td:first-child{
      border-left: 2px solid #90aeff !important;
    }
}
.ricettaPubblica {
  background-color:#d2dafa !important;
  border:1px solid black;
}

.k-grid .k-alt.ricettaSalvataInAgenda,
.k-grid .k-alt.ricettaSalvataInAgenda:hover,
.k-grid .ricettaSalvataInAgenda,
.k-grid .ricettaSalvataInAgenda:hover  {
    background-color:#ddf2d1 !important;
    color: #555!important;
    td:first-child{
      border-left: 2px solid #ace675 !important;
    }
}
.ricettaSalvataInAgenda {
  background-color:#ddf2d1 !important;
  border:1px solid black;
}

#gridBrogliaccio tr .k-grid-content-sticky,
#gridBrogliaccio tr .k-grid-content-sticky:hover {
  background-color: inherit;
}

#gridBrogliaccio .k-grid tr.k-selected > td {
  background-color: rgb(153 184 217);
}

#gridBrogliaccio tr {
  background-color: #f5f5f5;
}




/* PUBBLICA */

/* 0.55 */
.k-grid .ricettaPubblica .k-grid-content-sticky,
.k-grid .ricettaPubblica {
  background-color: #e2e2fd !important;
  color: #555 !important;
}

.k-grid .ricettaPubblica td:first-child{
  border-left: 2px solid #8d8ddd !important;
}

/* 0.70 */
.k-grid .ricettaPubblica:hover .k-grid-content-sticky,
.k-grid .ricettaPubblica:hover {
  background-color: #dadafd !important;
}

/* 0.85 */
.k-grid .k-alt.ricettaPubblica .k-grid-content-sticky,
.k-grid .k-alt.ricettaPubblica {
  background-color: #d2d2fc !important;
}

/* 1 */
.k-grid .k-alt.ricettaPubblica:hover .k-grid-content-sticky,
.k-grid .k-alt.ricettaPubblica:hover,
.legend-spacing.ricettaPubblica,
.legend-spacing.ricettaPubblica:hover {
  background-color: #cacafc !important;
}

/* SALVATA */

/* 0.55 */
.k-grid .ricettaSalvataInAgenda .k-grid-content-sticky,
.k-grid .ricettaSalvataInAgenda {
  background-color: #d5edd3 !important;
  color: #555 !important;
  
}

.k-grid .ricettaSalvataInAgenda td:first-child{
  border-left: 2px solid #73a56e !important;
}

/* 0.70 */
.k-grid .ricettaSalvataInAgenda:hover .k-grid-content-sticky,
.k-grid .ricettaSalvataInAgenda:hover {
  background-color: #cae8c7 !important;
}

/* 0.85 */
.k-grid .k-alt.ricettaSalvataInAgenda .k-grid-content-sticky,
.k-grid .k-alt.ricettaSalvataInAgenda {
  background-color: #bee3bb !important;
}

/* 1 */
.k-grid .k-alt.ricettaSalvataInAgenda:hover .k-grid-content-sticky,
.k-grid .k-alt.ricettaSalvataInAgenda:hover,
.legend-spacing.ricettaSalvataInAgenda,
.legend-spacing.ricettaSalvataInAgenda:hover {
  background-color: #b3deaf !important;
}


/* BLOCCATA */

/* 0.55 */
.k-grid .ricettaBloccata .k-grid-content-sticky,
.k-grid .ricettaBloccata {
  background-color: #e5e8ea !important;
  color: #555 !important;
}

.k-grid .ricettaBloccata td:first-child{
  border-left: 2px solid #bababa !important;
}

/* 0.70 */
.k-grid .ricettaBloccata:hover .k-grid-content-sticky,
.k-grid .ricettaBloccata:hover {
  background-color: #dee2e4 !important;
}

/* 0.85 */
.k-grid .k-alt.ricettaBloccata .k-grid-content-sticky,
.k-grid .k-alt.ricettaBloccata {
  background-color: #d7dcdf !important;
}

/* 1 */
.k-grid .k-alt.ricettaBloccata:hover .k-grid-content-sticky,
.k-grid .k-alt.ricettaBloccata:hover,
.ricettaBloccata.legend-spacing,
.ricettaBloccata.legend-spacing:hover {
  background-color: #d0d6d9 !important;
}

.legend-spacing {
  border-color: #ccc!important;
}
