.row-container {
    display: flex;
    gap: 10px;
    /*flex-font: flex-start; */
    justify-content: flex-end;
    margin-bottom: 15px;
}

.infotext {
    color: gray;
    font-style: italic;
    font-size: 14px;
}
.bold-text {
  font-weight: bold;
}
.flex-grow-2 {
    flex-grow: 2;
}

.no-settings-container {
    border: dashed 1px #002850;
    border-radius: 15px;
    padding: 15px;
}
