

.btn {
    text-transform: none;
    white-space: normal;
    font-weight: 300;
    border-radius: unset;
    min-height: 58px;
}
.btn:hover {
    color: white;
}

/*.disattivato {

}*/

.buttonpreferiti {
    background-color: #aeaeae;
    color: black;
    text-align: center !important;
    line-height: 40px !important;
    border-radius: 10px !important;
    border: solid 1px !important;
    border-color: #008CBA !important;
    width: 100% !important;
    height: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    font-weight: bold !important;
    font-size: 16px;
    /* margin-left: 10px;*/
    padding: 0px !important;
}

.titolo_sezione {
    color: white;
    text-align: center !important;
    line-height: 40px !important;
    vertical-align: central !important;
    border-bottom: solid 1px !important;
    border-top: solid 1px !important;
    /*border-color: #008CBA !important;*/
    height: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    display: none;
}

.titolo_sezione_menu {
    color: black;
    display: none;
    text-align: right !important;
    vertical-align: central !important;
    height: 40px !important;
    line-height: 40px !important;
    border-bottom: solid 1px !important;
    border-top: solid 1px !important;
    /*border-color: #008CBA !important;*/
}

.ricercavocemenu {
    background-color: white;
    border-radius: 10px;
    border: solid 1px;
    border-color: #008CBA;
    width: 100%;
    height: 40px;
    color: black;
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
}

.buttonmacrocategoria {
    color: black;
    text-align: center;
    border: solid 1px;
    border-color: #008CBA;
    width: 100%;
    height: 50px;
    font-weight: bold !important;
    margin-top: 5px;
    font-size: 16px;
}

.buttonmenu {
    color: black;
    text-align: center;
    border-radius: 10px;
    border: solid 1px;
    border-color: #008CBA;
    width: 100%;
    height: 100px;
    font-weight: bold !important;
    margin-top: 5px;
    font-size: 18px;
    min-height: 40px !important;
}

.widgetallarmi {
    color: black;
    text-align: center;
    border-radius: 10px;
    border: solid 1px;
    border-color: #008CBA;
    font-size: 24px;
    font-weight: bold !important;
    width: 100px;
    height: 80px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 10px;
    min-height: 40px;
}

.widgetmeteo {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid 1px;
    border-color: #008CBA;
}

.widgetemergenza {
    background-color: transparent;
    /*background-color: white;*/
    /*width: 100px;*/
    height: 100px;
    border-radius: 10px;
    border: solid 1px;
    border-color: #008CBA;
}

.iconmenusezioni {
    color: white;
}

.iconmenusezioni:hover {
    color: #cccccc !important;
}

/* hamburger menu */

.nav {
    list-style: none;
    display: none;
    padding: 10px 0;
}

.nav li {
    width: 100%;
    font-size: 14px;
    border: solid 1px !important;
    border-color: #008CBA !important;
}

.nav a:link, .nav a:visited {
    display: block;
    width: 96%;
    padding-left: 4%;
    height: 60px;
    line-height: 60px;
    color: #FFF;
    text-decoration: none;
}

.nav a:hover {
    color: #EA4335;
    background-color: #E9E9E9;
}

/* sezioni del nuovo menu */

.buttonpreferitielementi {
    text-align: center !important;
    line-height: 40px !important;
    border-radius: 10px !important;
    border: solid 1px !important;
    border-color: #008CBA !important;
    width: 100%;
    height: 40px !important;
    min-height: 40px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    color: black;
    margin-top: 5px;
    padding: 0px !important;
    margin-bottom: 0px !important;
}

/* fine sezioni nuovo menu */

.colOperazioni {
    min-width: 120px;
}

#menosx {
    display: none;
}

#divanagrafica {
    display: none;
    min-height: 300px;
}

.w100 {
    width: 100% !important;
}


@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

#waitTutte, #waitFilter {
    -webkit-animation: rotating 2s linear infinite;
    font-size: 18px;
}

.preferito {
    white-space: normal;
    word-wrap: break-word;
}

.colonnaAzioni {
    width: 50px;
}

/*INIZO: CSS PER LA KENDO DDL "ALTRE OPERAZIONI"*/
span.ddlOperazioni > span {
    background-color: #f1f3f7 !important;
    height: 45px;
    border-radius: 0px;
}

span.ddlOperazioni span.k-input, span.ddlOperazioni span.k-select {
    margin-top: 10px;
}

span.ddlOperazioni:hover > span, span.ddlOperazioni:focus > span {
    border-radius: 0px;
}

span.ddlOperazioni:hover > span {
    background-color: #052747 !important;
}

span.ddlOperazioni:hover span.k-input, span.ddlOperazioni:hover span.k-icon {
    color: #fff;
}

#ddlOperazioni_listbox li, span.ddlOperazioni span.k-input {
    text-transform: uppercase;
}
/*FINE: CSS PER LA KENDO DDL "ALTRE OPERAZIONI"*/
