.operations-container {
    height: 100%;
    margin: 20px;
}

.submit-button {
    flex: 1;
    height: 28px !important;
    text-transform: uppercase !important;
    font-family: "Lato", Sans-serif !important;
    border-radius: 12px !important;
}

.border_si {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px;
    padding-top: 20px !important;
    background-color: white;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
    margin-top: 30px;
    margin-left: 1px;
    margin-right: 1px;
}

.border_mostra {
    // border: 1px solid #dddddd;
    // border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 20px !important;
    background-color: white;
    // box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
    margin-bottom: 30px;
    //margin-left: 1px;
    margin-right: 1px;
}

.xi-title {
    font-family: "Lato", Sans-serif;
    color: #002850;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

legend {
    font-size: 14px;
    font-weight: bold;
}

.centro-aziendale-legend {
    padding-top: 10px;
}

.gias-label-switch-container-zone {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    .k-label {
        margin-right: 0.3rem;
        margin-left: 0.3rem;
        color: #575757;
    }
}

.gias-info-container {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.gias-switch-filtrozone {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.v-aligned {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: top;
}

.align-self-end {
    align-self: end;
}

#TabStrip {
    padding-left: 24px;
    margin-left: 4px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.filters-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    min-width: 50px;
}

.button-annata-agraria {
    align-items: center;
    align-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5rem;
    min-width: 50px;

    .disabled {
        pointer-events: none; /* Disabilita il click */
        opacity: 0.6; /* Riduce l'opacità per indicare che è disabilitato */
        cursor: not-allowed; /* Cambia il cursore */
    }
}

.clear-filters-button {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-right-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.title-line {
    width: 100% !important;
    border: none !important;
    border-top: 2px solid #002850 !important;
    margin: 0 !important;
}

.name-icon-container {
    display: flex;
    align-items: center;
}

.fa-user-icon {
    margin-left: 8px;
}

// .custom-toolbar {
//     position: fixed;
//     top: 10px;
//     right: 10px;
//     margin-top: 60px;
//     margin-left: -55px;
//     z-index: 1000; /* Assicurati che abbia un valore di z-index abbastanza alto per stare sopra altri elementi */
// }

.custom-toolbar button { 
    background-color: #002d5a !important;
    color: white;
    border-radius: 25px 0px 0px 25px;
    position: fixed;
    margin-left: -45px;
    z-index: 1;
    width: 55px;
    height: 45px;
}

.with-margin-top {
    margin-top: 60px;
}

.with-margin-top-dati{
    margin-top: 115px !important;
}

.with-margin-top-dati-iframe{
    margin-top: 55px !important;
}

// .dati-aggiuntivi button {
//     margin-top: 115px !important;
// }

kendo-drawer-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.k-drawer-expanded .k-drawer.k-drawer-end {
    width: 80% !important;
}

.btn.btn-primary.btn-primary-fill {
    width: 100%;
}

.right {
    float: right;
    align-self: end;
    margin-right: -20px;
}

.filters-container {
    align-self: flex-end;
    position: absolute;
    z-index: 2;
}

.title-label {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 15px;
    padding-top: 20px !important;
    // box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
    margin-bottom: 30px;
    margin-left: 1px;
    margin-right: 1px;
}

.kendo-drawer-container {
    display: none;
}

.kendo-drawer-container.open {
    display: block;
}

// app-tree-aziende {
//     position: fixed;
//     width: 100%;
//     height: 75vh;
//     z-index: 1000;
//     //pointer-events: none;
// }

.container-print {
    position: relative;
}

app-tree-aziende {
    display:flex;
    flex-direction: column;
    height:100%;
    flex-wrap:nowrap;
}

.margin-sx {
    padding-left: 0.75rem !important
}

@media (min-width: 600px) { /* Su desktop */

    kendo-drawer-container {
        position: fixed;
        width: 100%;
        height: 100%;
        // padding-top: 5%;
    }
    
    .k-drawer-expanded .k-drawer.k-drawer-end {
        width: 80% !important;
        //padding-top: 54px;
    }

    .with-padding-top {
        padding-top: 54px;
    }

    .right {
        margin-right: 0px;
    }

    .custom-toolbar button { 
        background-color: #002d5a !important;
        color: white;
        border-radius: 25px 0px 0px 25px;
        // position: fixed;
        // margin-top: 10px;
        // margin-left: -66px;
        // z-index: 2;
        width: 66px;
        height: 50px;
    }

    .custom-toolbar {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000; /* Assicurati che abbia un valore di z-index abbastanza alto per stare sopra altri elementi */
    }

    .dialog-content {
        max-height: 450px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}