.top-right-div {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
}

.relative-box {
    position: relative;
}

.absolute-box {
    position: absolute;
}

.icona-analisi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px; /* Spazio tra icona e testo */
}

.k-tabstrip-items {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
}

.k-item {
    display: flex;
    align-items: center;
    justify-content: center;
}