
.acqua-title {
    font-size: 15px !important;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media only screen and (max-width: 1370px) {
    .acqua-title {
        font-size: 14px !important;
        line-height: 16px;
    }
}
