:host ::ng-deep #ImpiantiGridId tr .k-grid-content-sticky,
#ImpiantiGridId tr .k-grid-content-sticky:hover {
    background-color: inherit;
}

:host ::ng-deep #ImpiantiGridId .k-grid tr.k-selected > td {
    background-color: rgb(153 184 217);
}

:host ::ng-deep #ImpiantiGridId tr {
    background-color: #f5f5f5;
}


:host ::ng-deep .dato_non_coerente,
tr.k-selected.dato_non_coerente td,
:host ::ng-deep .dpiOn,
tr.k-selected.dpiOn td,
tr.k-selected.dichiarazione_non_utilizzo td {
    background-color: #fcf6dd !important;
}

:host ::ng-deep .dato_non_coerente td:first-child,
:host ::ng-deep .dpiOn td:first-child {
    border-left: 2px solid #f2d177 !important;
}

:host ::ng-deep .dichiarazione_non_utilizzo {
    background-color: #cccccc !important;
    border: 1px solid black;
}

:host ::ng-deep .dichiarazione_non_utilizzo td:first-child {
    border-left: 2px solid black !important;
}

