<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.1.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Agronica, Jquery, Aggiungi # se non esiste</Title>
      <Author>Vanni</Author>
      <Shortcut>ajqhash</Shortcut>
      <HelpUrl></HelpUrl>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>variabile</ID>
          <ToolTip>variabile dove aggiugere hash</ToolTip>
          <Default>NomeJQ</Default>
        </Literal>        
      </Declarations>
      <Code Language="jscript">
        <![CDATA[AddHashIfNotExists($variabile$);]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
