.filters-container {
  border: #002850 1px dashed;
  border-radius: 15px;
  padding: 1%;
  margin: 1%;
}
.padded {
  padding: 2%;
}

gias-validita-datetime {
  display: flex;
  gap: 2%;
  width: 100%;
}

form {
  display: flex;
  width: 100%;
  gap: 2%;
  align-items: flex-end;
}

gias-side-filters-template {
  position: absolute;
  z-index: 1000;
  right: 0 !important;
}
