.on-close-esrcizio-msg {
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  background-color: #E6ECF2;
  display: block;
  margin-top: 1em;
}

.on-close-esrcizio-msg-text {
  unicode-bidi: isolate;
  padding: 15px;
  text-align: center;
}

.on-close-esrcizio-replica-alert {
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  background-color: #f6eeca;
  display: block;
  margin-top: 1em;
}

.on-close-esrcizio-replica-alert-text {
  unicode-bidi: isolate;
  padding: 15px;
  text-align: center;
}
