<appSettings>
  <add key="aspnet:MaxHttpCollectionKeys" value="100000000"/>
  <add key="aspnet:MaxJsonDeserializerMembers" value="100000000"/>
  <add key="RestituisciEccezioniGeneriche" value="false"/>

	<!-- ##### cnONLINE_Super_Server #################################################### -->
	<add key="Super_Server" value="true"/>
	<add key="Super_Server_Provider" value="SQLOLEDB"/>
	<add key="Super_Server_Server" value="*****"/>
	<add key="Super_Server_DB" value="GIAS_Super_Server"/>
	<add key="Super_Server_UserId" value="*****"/>
	<add key="Super_Server_Password" value="*****"/>
	<add key="Super_Server_PivaSuperUser" value=""/>
	<!-- ################################################################################ -->
	
	<!-- Scommentare e impostare a "true" per loggare ogni Begin Request (scrive un file di log nella cartella dell'applicazione stessa) -->
	<!-- NON ARCHIVIARE MAI IN MANIERA ASSOLUTA QUESTA CHIAVE A TRUE ED I RELATIVI FILE DI LOG GENERATI!!!! -->
	<!--<add key="DEBUG_LogBeginRequest" value="false"/>-->

	<!-- Per attivare il controllo di sicurezza su attacchi cross-site scripting (XSS) -->
	<!-- 0 = Nessun controllo (default) -->
	<!-- 1 = Logga le chiamate contenenti script -->
	<!-- 2 = Blocca le chiamate contenenti script -->
	<!-- 3 = Logga e blocca le chiamate contenenti script -->
	<!-- <add key="DetectScriptInjection" value="0"/> -->

	<add key="cr2" value="74b7ca09-dbe5-4e5d-9a70-661cb5f60587"/>
	<add key="ControlloAutenticazioneConAuthCookie" value="true"/>
</appSettings>