.infotext {
    padding-left: 20px;
    display: block;
    color: gray;
    font-style: italic;
    font-size: 14px;
}

.dash-border {
    border-radius: 5px;
    border: dashed 1px #ababab;
}

.v-spaced {
    margin: 20px 0px;
}
