.container-fluid {
  background-color: white;
  min-height: calc(100vh - 100px);
}

.container-grid {
  margin-top: 20px;
}

h1 {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

::ng-deep .k-grid {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 100vh !important;
  width: 100% !important;
  margin-bottom: 40px;
}

/* ::ng-deep  .k-grid-edit-row>td>.k-textbox {
  padding: 0px !important;
  width: 100% !important;
  margin-left: 0px !important;
}

/* ::ng-deep .k-textbox .k-input .k-input-md .k-rounded-md .k-input-solid .ng-star-inserted .ng-touched .ng-dirty .ng-valid {
  padding: 0px !important;
  margin-left: 0px !important;
  width: 100% !important;
} */

/* ::ng-deep .k-textbox.ng-invalid.ng-touched {
  outline: 2px solid red !important;
  padding: 0px !important;
  margin-left: 0px !important;
  width: 100% !important;
} */ 

::ng-deep .k-grid-header {
  background-color: #f5f5f5;
}

::ng-deep .k-grid-toolbar {
  padding: 8px 16px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ebebeb;
}