.options-row {
    border-bottom: solid 1px #EBEBEB;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.options-row p:first-child {
    padding-right: 1rem;
}

.options-row p {
    margin-bottom: 0;
}

.options-row.first {
    border-top: solid 1px #EBEBEB;
}

.options-row.last {
    border-bottom: none;
}

.dropdown-container hr {
    background-color: #ebebeb;
    height: 1px;
    border: none;
    opacity: 1;
}

.options-row p:last-child {
    border-left: solid 1px #EBEBEB;
    padding: 0 1rem;
}