.arc-full-width {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.arc-full-width .middle {
    align-self: center;
    margin-right: 10px;
    margin-left: 10px;
}