.inserisci-dose-container {
    display: flex;
    .sup-calcolata-container,
    .udm-container {
        flex: 1;
        min-width: 150px;
    }
    .dosi-container {
        flex: 3;
        min-width: 450px;
    }
    .btn-dose-container {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        min-width: 350px;
        margin: auto;
        margin-bottom: 2px;
    }
}

@media only screen and (max-width: 1066px)  {
    .inserisci-dose-container {
        .btn-dose-container {
            margin-top: 10px;
            max-width: none;
        }
    }
}
