.agricultural-exercices-contributes-link-msg-text {
  unicode-bidi: isolate;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: left;
}

.agricultural-exercices-contributes-link-btn {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}
