.dialog-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  p {
      margin: 0;
  }

  .buttons {
      display: flex;
      align-items: center;
      gap: 10px;
  }
}

.notification-container {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

kendo-loader {
  display: flex;
  justify-content: center;
}

pre.data {
  max-width: 80vw;
  max-height: 80vh;
}