.raster-row {
    display: flex;
}

.raster-switch {
    margin: 0;
    margin-right: 10px;
}

::ng-deep .raster-switch.k-switch-on .k-switch-track {
    background-color: #052747 !important;
}