.k-chart-legend {
    max-height: 150px;
    overflow-y: auto;
    display: block;
}

.k-chart-legend ul {
    max-height: 150px;
    overflow-y: auto;
}

.chart-header-title {
    color: #002d5a;
    padding: 0px 12px;
    font-size: 16px;
    font-weight: bold;
}