body {
  display: flex;
  flex-direction: column;
}

gias-side-filters-template {
  position: absolute;
  z-index: 1000;
  right: 0 !important;
}

.filters-container {
  align-self: flex-end;
  z-index: 3000;
}

.grid-container {
  padding: 1% 3%;
}