<div [formGroup]="ProdottiForm" [id]="'RicercaProdotto_'+ Lav_Cod">
    <div class="row form-row">
        <div class="col-12 ricerca-prodotto-title gias-section-title-with-icon mb-2 mt-2">
            <div class="ricerca-text">
                <gias-info-template size="lg" [title]="prodottiservice.setInfoLabelImpostazioni()"></gias-info-template>
                <!-- <span class="fa_diserbo_ricerca_prodotto_da_utilizzare me-1"></span> -->
                <h5 class="card-title me-1">{{'Prodotto' | transloco}} *</h5>
                <!--<h6 class="subtitle me-1" *ngIf="ServerFiltering">
                    {{'InserireTreCaratteriDellaDescrizione' | transloco}}
                </h6>-->
                <h6 class="subtitle">{{ Numero_Formulati() }}</h6>
                <div class="ricerca-visualizza-giacenze">
                    <app-flag-visualizza-giacenze-zero></app-flag-visualizza-giacenze-zero>
                </div>
                <div class="ricerca-visualizza-magazzini-agenzie">
                    <app-flag-magazzini-agenzie></app-flag-magazzini-agenzie>
                </div>
                <div class="ricerca-visualizza-magazzini-esterni">
                  <app-flag-magazzini-esterni></app-flag-magazzini-esterni>
                </div>
                <div class="bottone-ricerca-prodotto">
                    <app-bottone-ricerca-prodotti></app-bottone-ricerca-prodotti>
                </div>
            </div>

            <div class="ricerca-gestione-prodotto" *ngIf="showComandi && qdcservice.Mostra_Btn_Gestione_Prodotto()">
                <app-bottoni-gestione-prodotto></app-bottoni-gestione-prodotto>
            </div>
        </div>
        <div class="col-12 col-sm-10">

            <!-- Ricerca Formulati senza Pulsante
            [applyMinimumFilterLength]="true"
            [MinimumFilterLength]="3"
            [ddlServerFiltering]="ServerFiltering"
            (open)="openddl($event)"
            [loadFunctionMultiColumnComboboxServerFiltering]="loadFunctionddlServerFilteringProdotti.bind(this)"-->

            <gias-multi-column-combobox-template
                #MultiColumnCombobox
                [name]="''"
                [listItems]="qdcdettagliformulatiservice.Array_Formulati"
                textField="Descrizione_Concatenata"
                valueField="Codice_Concatenato"
                [filterable]="true"
                giasFormControlName="Prodotto"
                [valuePrimitive]="false"
                [columns]="qdcdettagliformulatiservice.ColumnComboboxFormulati"
                [placeholder]="qdcdettagliformulatiservice.PlaceHolderRicercaFormulati()"
                [emptyObj]="qdcservice.Obj_Empty_MultiColumnComboboxTrattamento"
                (filterChange)="filterChangeFormulati($event)"
                [allowCustom]="true">
            </gias-multi-column-combobox-template>
        </div>
        <div class="col-12 col-sm-2">
            <app-bottoni-sezione-prodotti></app-bottoni-sezione-prodotti>
        </div>

        <div class="row"
             *ngIf="qdcservice.showInfoGiacenza(ProdottiForm.get('Prodotto').getRawValue()?.MagazziniMovimentazioni) !== ''">
            <div class="col">
                <div id="Lbl_Info_Giacenza_Prodotto"
                     [innerHtml]="qdcservice.showInfoGiacenza(ProdottiForm.get('Prodotto').getRawValue()?.MagazziniMovimentazioni)"></div>
            </div>
        </div>

        <div class="col-12 col-sm-12" *ngIf="MostraRiga_NoteProdotto()">
            <label id="Lbl_NoteProdotto"
                   style="color: red; font-size: small">{{ qdcdettagliformulatiservice.Riga_NoteProdotto }}</label>
        </div>
    </div>
</div>
