.fa_diserbo_ricerca_prodotto_da_utilizzare {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-image: url('../../../../../../../../assets/custom-icons/icon-general/ic_options_diserbo_ricerca_prodotto_da_utilizzare.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.ricerca-text {
    display: flex;
    gap: 5px;
    align-items: center;
}

h6 {
    margin-bottom: 0 !important;
}

.ricerca-prodotto-title {
    display: flex;
    justify-content: space-between;

    .card-title {
        margin: 0 !important;
    }
}

.ricerca-prodotto-title .card-subtitle,
.ricerca-prodotto-title .card-subtitle {
    margin-bottom: 0 !important;
}

.ricerca-visualizza-giacenze,
.bottone-ricerca-prodotto,
.ricerca-visualizza-magazzini-agenzie,
.ricerca-visualizza-magazzini-esterni{
    margin-left: 1rem;
}
