.agricultural-plots-weaving-msg-text {
  unicode-bidi: isolate;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: left;
}

.agricultural-plot-weaving-btn {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}
