.bg-white {
    background-color: white;
}

.circle {
    border-radius: 50px;
}

.x-outline-0 {
    outline-width: 0!important;
}


.TipologiaMappaSelected {
    border: 2px solid #e78c85;
}