/* ------- color GIAS - primary */
/* text */
    .red, .text_red {color: #D52B1E;}
    .blue, .text_blue {color: #002D5A;}

    .gray_dark1, .text_gray_dark1 {color: #1A1A1A;}
    .gray_dark2, .text_gray_dark2 {color: #575757;}

    .gray_light1, .text_gray_light1 {color:#E8E8E8;}
    .gray_light2, .text_gray_light2 {color: #F7F7F7;}
    .gray_light3, .text_gray_light3 {color: #BABABA;}

/* text link */
    .text_red a, .text_red a:hover, .text_red a:visited, .text_red a:focus { color: #D52B1E; }
    .text_blue a, .text_blue a:hover, .text_blue a:visited, .text_blue a:focus { color:#002D5A; }

    .gray_dark1 a, .gray_dark1 a:hover, .gray_dark1 a:visited, .gray_dark1 a:focus, .text_gray_dark1 a, .text_gray_dark1 a:hover, .text_gray_dark1 a:visited, .text_gray_dark1 a:focus { color:#1A1A1A; }
    .gray_dark2 a, .gray_dark2 a:hover, .gray_dark2 a:visited, .gray_dark2 a:focus, .text_gray_dark2 a, .text_gray_dark2 a:hover, .text_gray_dark2 a:visited, .text_gray_dark2 a:focus { color:#575757; }

   .gray_light1 a, .gray_light1 a:hover, .gray_light1 a:visited, .gray_light1 a:focus, .text_gray_light1 a, .text_gray_light1 a:hover, .text_gray_light1 a:visited, .text_gray_light1 a:focus { color:#E8E8E8; }
   .gray_light2 a, .gray_light2 a:hover, .gray_light2 a:visited, .gray_light2 a:focus, .text_gray_light2 a, .text_gray_light2 a:hover, .text_gray_light2 a:visited, .text_gray_light2 a:focus { color:#F7F7F7; }
   .gray_light3 a, .gray_light3 a:hover, .gray_light3 a:visited, .gray_light3 a:focus, .text_gray_light3 a, .text_gray_light3 a:hover, .text_gray_light3 a:visited, .text_gray_light3 a:focus { color:#BABABA; }


/* background */
    .bg_red {background-color: #D52B1E;}
    .bg_blue {background-color: #002D5A;}
    .bg_blue_nav {background-color: #002D5A;}

    .bg_gray_dark1 {background-color: #1A1A1A;}
    .bg_gray_dark2 {background-color: #575757;}

    .bg_gray_light1 {background-color:#E8E8E8;}
    .bg_gray_light2 {background-color: #F7F7F7;}
    .bg_gray_light3 {background-color: #BABABA;}

    /* table list */
    table.hCompanyTableSelect tbody tr:nth-child(even), table.hCompanyTableSelect tbody tr:nth-child(even) td {
        background-color: #F8F8F8;
    }

/* border */
    .border_red {border-color: #D52B1E;}
    .border_blue {border-color: #002D5A;}

    .border_gray_dark1 {border-color: #1A1A1A;}
    .border_gray_dark2 {border-color: #575757;}

    .border_gray_light1 {border-color:#E8E8E8;}
    .border_gray_light2 {border-color: #F7F7F7;}
    .border_gray_light3 {border-color: #BABABA;}

/* ------- color GIAS - status alert */
/* text */
    .status_text_red {color:#EA5455;}
    .status_text_green {color: #28C76F;}
    .status_text_orange {color: #FF9F43;}

/* background */
    .status_bg_red {background-color:#EA5455;}
    .status_bg_green {background-color: #28C76F;}
    .status_bg_orange {background-color: #FF9F43;}

/* border */
    .status_border_red {border-color:#EA5455;}
    .status_border_green {border-color: #28C76F;}
    .status_border_orange {border-color: #FF9F43;}



/* general style */
body {
    background-color:#F8F8F8;
    font-weight: 400;
    color: #1A1A1A;
}
/* general style */
#master_contenitore_principale, #master_contenitore_principale.container {
    padding-top: 50px;
}


/* general font */
h1, h2, h3, h4, h5, h6 {
    color: #002D5A;
    font-weight: 600;
}
#GiasSidenav p, #GiasSidenav ul li, #GiasSidenav ol li, #GiasSidenav table, #GiasSidenav table tr th, #GiasSidenav table tr td, #GiasSidenav input, #GiasSidenav select,
header p, header ul li, header ol li, header table, header table tr th, header table tr td, header input, header select {
    color: #575757;
    font-weight: 400;
}
#GiasSidenav p strong,
#GiasSidenav ul li strong,
#GiasSidenav ol li strong,
#GiasSidenav table strong,
#GiasSidenav table tr th strong,
#GiasSidenav table tr td strong,
header p strong,
header ul li strong,
header ol li strong,
header table strong,
header table tr th strong,
header table tr td strong {
        color: #575757;
        font-weight: 600;
    }

/* ---- FONT-STYLE */
.text_uppercase { text-transform: uppercase;}
.text_lowercase { text-transform: lowercase;}
.text_capitalize { text-transform: capitalize;}
.text_transform_none { text-transform: none;}


/* ---- TEXT-ALIGN */
.text_align_center { text-align: center;}
.text_align_left { text-align: left;}
.text_align_right { text-align: right;}


/* ---- FONT-SIZE - title */
.title_h1 {
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0 8px 0;
    padding: 0;
}
.title_h2 {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 8px 0;
    padding: 0;
}
.title_h3 {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 4px 0;
    padding: 0;
}
.title_h4 {
    font-size: 12px;
    line-height: 16px;
   margin: 0 0 4px 0;
   padding: 0;
}
.title_h5 {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 4px 0;
    padding: 0;
}

/* ---- FONT-SIZE - text */
.label_text_small {
    font-size: 11px;
    line-height: 16px;
}
.text_small, .dropbtn {
    font-size: 11px;
    line-height: 16px;
}

.label_text_medium {
    font-size: 12px;
    line-height: 18px;
}
.text_medium {
    font-size: 12px;
    line-height: 18px;
}

.label_text_normal {
    font-size: 14px;
    line-height: 18px;
}
.text_normal {
    font-size: 14px;
    line-height: 18px;
}

.label_text_large {
    font-size: 18px;
    line-height: 22px;
}
.text_large {
    font-size: 18px;
    line-height: 22px;
}

/* --- BOLD */
.text_weight_200 {
  font-weight: 200;
}
.text_weight_300 {
  font-weight: 300;
}
.text_weight_400 {
  font-weight: 400;
}
.text_weight_500 {
  font-weight: 500;
}
.text_weight_600 {
  font-weight: 600;
}
.text_weight_800 {
  font-weight: 800;
}


/** Tooltip  */
.tooltiptext {
    background-color: #002D5A;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 16px;
    -webkit-box-shadow: 3px 0px 9px -5px #002D5A;
    -moz-box-shadow: 3px 0px 9px -5px #002D5A;
    -o-box-shadow: 3px 0px 9px -5px #002D5A;
    box-shadow: 3px 0px 9px -5px #002D5A;
}
.hCurrentCompanyName .tooltiptext::after, .tooltiptext::after {
    border-color: #002D5A transparent transparent transparent;
}

/** Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: #fff;
    border: 1px solid #E8E8E8;
    box-shadow: 3px 0px 9px -5px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 5px 0;
    color:#002D5A;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
}
#userAccount.dropdown-content a, #hNotificationDrop.dropdown-content a {
    padding: 4px 16px;
}
.dropdown-content a:hover {
    background-color: transparent;
}

/** Legend Arrow */
.ic_arrow {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px auto;
}
.ic_arrow_small {
    background-position: 96% center;
    background-repeat: no-repeat;
    background-size: 16px 12px;
}

/* Icon arrow BLU */
.navbar_ic_arrow_down_type01 {
    background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_down_type01.svg);
}
.navbar_ic_arrow_left_type01 {
    background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_left_type01.svg);
}
.navbar_ic_arrow_top_type01 {
    background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_top_type01.svg);
}
.navbar_ic_arrow_right_type01 {
    background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_right_type01.svg);
}

/* Icon arrow RED */
.navbar_ic_arrow_down_type02 {
    background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_down_type02.svg);
}
.navbar_ic_arrow_left_type02 {
    background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_left_type02.svg);
}
.navbar_ic_arrow_top_type02 {
    background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_top_type02.svg);
}
.navbar_ic_arrow_right_type02 {
    background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_right_type02.svg);
}

/** hr */
hr {
    margin: 4px 0!important;
    box-shadow: none !important;
    height: 0!important;
    border-width: 0 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.05)!important;
    width: 100%;
}

/** input */
.container-search input#search, .container-search input#searchService{
    width: 100%;
    height: 34px;
    background-color: #F5F5F5;
    border: none;
    font-size: 10pt;
    float: left;
    color: #575757;
    padding-left: 45px;
    border-radius: 60px;
    box-sizing: border-box;
}
.container-search input#searchService {
    background-color: #fff;
    margin-bottom: 8px;
}
#GiasSidenav input:focus-visible,
#GiasSidenav input#search:focus-visible,
#GiasSidenav input#searchService:focus-visible,
header input:focus-visible,
header input#search:focus-visible,
header input#searchService:focus-visible {
    outline: 3px solid rgba(0, 45, 90, 0.2);
}

/** icon search */
#GiasSidenav .container-search .icon .fa.fa-search:not(.xo-agronica-style),
#GiasSidenav .fa.fa-search:not(.xo-agronica-style),
#hCompaniesDrop .container-search .icon .fa.fa-search:not(.xo-agronica-style),
#hCompaniesDrop .fa.fa-search:not(.xo-agronica-style) {
    background-image: url(../Styles/images/dashboard/navbar/navbar_ic_search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34px auto;
    font-size: 40px;
}

    #GiasSidenav .container-search .icon .fa.fa-search:not(.xo-agronica-style)::before,
    #GiasSidenav .fa.fa-search:not(.xo-agronica-style)::before,
    #hCompaniesDrop .container-search .icon .fa.fa-search:not(.xo-agronica-style)::before,
    #hCompaniesDrop .fa.fa-search:not(.xo-agronica-style)::before {
        opacity: 0;
    }




/** --------- Dropdown menu */
.dropbtn {
    color: #002D5A;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #F7F7F7;
}


/* ------------------------------------ HEADER */

header {
    background-color: #fff;
    -webkit-box-shadow: 3px 0px 9px -5px #000000;
    -moz-box-shadow: 3px 0px 9px -5px #000000;
    -o-box-shadow: 3px 0px 9px -5px #000000;
    box-shadow: 3px 0px 9px -5px #000000;
}

/* toggle icon */
#headerColLeft #hContentBars .menuBars i { color: #002D5A;}

/* div right - navbar */
.hRightElement { border-left: 1px solid #F7F7F7; }

/* Notice icon - navbar */
#navbar_notice .notification .fa.fa-bell, .fa.fa-bell {
    background-image: url(../Styles/images/dashboard/navbar/navbar_ic_notice.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34px auto;
    font-size: 40px;
}
#navbar_notice .notification .fa.fa-bell::before, .fa.fa-bell::before {
    opacity: 0;
}

/* Notice Badge - navbar */
#navbar_notice .notification .badge {
    background: #D52B1E;
    color: #FFF;
}

/* Favorite - navbar */
.hIcon .icon-favorite-edit, .icon-favorite-edit {
    background-image: url(../Styles/images/dashboard/navbar/navbar_ic_favorite_edit.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34px auto;
}
.hIcon .icon-favorite-edit::before, .icon-favorite-edit::before {
    opacity: 0;
}
.hIcon .icon-favorite-edit:hover, .icon-favorite-edit:hover {
    background-image: url(../Styles/images/dashboard/navbar/navbar_ic_favorite_edit_on.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34px auto;
}
.hFavoriteContent {
    width: 34px;
    height: 34px;
}
.overbtn {
    padding: 8px 11px;
    border: none;
    cursor: pointer;
}
.hIcon .icon-favorite-edit-active, .icon-favorite-edit-active {
    background-image: url(../Styles/images/dashboard/navbar/navbar_ic_favourite_edit_active.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34px auto;
}

/* Back - navbar */
.hIcon .icon-back, .icon-back {
    background-image: url(../Styles/images/dashboard/navbar/navbar_ic_navigation_back.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34px auto;
}

    .hIcon .icon-back::before, .icon-back::before {
        opacity: 0;
    }

    .hIcon .icon-back:hover, .icon-back:hover {
        background-image: url(../Styles/images/dashboard/navbar/navbar_ic_navigation_back.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 34px auto;
    }

.hBackContent {
    width: 34px;
    height: 34px;
}

.overbtn {
    padding: 8px 11px;
    border: none;
    cursor: pointer;
}

.hIcon .icon-back-active, .icon-back-active {
    background-image: url(../Styles/images/dashboard/navbar/navbar_ic_navigation_back.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34px auto;
}



/* Company - navbar */
#navbar_company .dropbtn span.hCurrentCompanyName {
    color: #76bc21;
}
#navbar_company .dropbtn .fa.fa-chevron-down {
    background-image: url(../Styles/images/dashboard/navbar/navbar_ic_search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34px auto;
    font-size: 40px;
}
#navbar_company .dropbtn .fa.fa-chevron-down::before {
    opacity: 0;
}
#navbar_company .dropbtn .fa.fa-building-o, .fa.fa-building-o {
    background-image: url(../Styles/images/dashboard/navbar/navbar_ic_company.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34px auto;
    font-size: 40px;
}
#navbar_company .dropbtn .fa.fa-building-o::before, .fa.fa-building-o::before {
    opacity: 0;
}


/* Company Dropdown - navbar */
#hCompaniesDrop.dropdown-content span.dropTitleRed a.ic_arrow:hover, span.dropTitleRed a.ic_arrow:hover {
    background-color: transparent;
    text-decoration: underline;
}



/* Profilo - navbar */
#navbar_user .fa.fa-user-circle-o, .fa.fa-user-circle-o {
    background-image: url(../Styles/images/dashboard/navbar/navbar_ic_profile.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34px auto;
    font-size: 40px;
}
#navbar_user .fa.fa-user-circle-o::before, .fa.fa-user-circle-o::before {
    opacity: 0;
}
#navbar_user .dropbtn .fa.fa-chevron-down {
    background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_down_type01.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    font-size: 16px;
}
#navbar_user .dropbtn .fa.fa-chevron-down::before {
    opacity: 0;
}

/* title dropdown */
#hNotificationDrop.dropdown-content .hTitleGrey a.ic_arrow:hover, #userAccount.dropdown-content .hTitleGrey a.ic_arrow:hover, .hTitleGrey a.ic_arrow:hover {
    background-color: transparent;
    text-decoration: underline;
}


/** icon profile edit - dropdown */
.hIcon .fa.fa-pencil-square-o, .fa.fa-pencil-square-o{
    background-image: url(../Styles/images/dashboard/navbar/navbar_profile_edit.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px auto;
    font-size: 24px;
}
.hIcon .fa.fa-pencil-square-o::before, .fa.fa-pencil-square-o::before {
    opacity: 0;
}

/** icon profile logout - dropdown */
.hIcon .fa.fa-sign-out, .fa.fa-sign-out{
    background-image: url(../Styles/images/dashboard/navbar/navbar_profile_logout.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px auto;
    font-size: 24px;
}
.hIcon .fa.fa-sign-out::before, .fa.fa-sign-out::before {
    opacity: 0;
}







/** -------------------------------------------- Sidebar menu */
#GiasSidenav .sidebar #leftside-navigation ul ul li {
    background-color: #002D5A;
}
#GiasSidenav .sidebar #leftside-navigation ul li, #GiasSidenav .sidebar #leftside-navigation ul ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    padding: 2px 0;
}
#GiasSidenav .sidebar #leftside-navigation ul ul li:last-child {
    border-width: 0 !important;
}

/* Default menu */
#GiasSidenav .sidebar #leftside-navigation ul li a {
    padding: 8px 15px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 12px;
    color: #fff;
    display: flex !important;
    align-items: center !important;
    justify-content: left !important;
}

/* Hover menu */
#GiasSidenav .sidebar #leftside-navigation ul li a:hover {
    color: #fff;
    background-color: rgba(255,255,255, 0.2);
    border-color: transparent;
}

/* Active menu */
#GiasSidenav .sidebar #leftside-navigation ul li.active {
    background-color: transparent;
    border-width: 0;
}
#GiasSidenav .sidebar #leftside-navigation ul li.active > a {
    color: #002D5A;
    background-color: #fff;
}
#GiasSidenav .sidebar #leftside-navigation ul li a span {
    text-align: left;
    padding-left: 8px;
    font-size: 13px;
    line-height: 16px;
    max-width: 232px;
    min-width: 232px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*
    #GiasSidenav .sidebar #leftside-navigation ul li a span {
        text-align: left;
        padding-left: 8px;
        font-size: 13px;
        line-height: 16px;
        max-width: 240px;
        min-width: 240px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
*/



/* icon */
#GiasSidenav .sidebar #leftside-navigation ul li a i:first-child {
    width: 18px;
    height: 20px;
    left: 0;
    font-size: 18px;
    display: block;
    float: left;
}
.arrow.flipIcon180 {
    transform: rotate(-180deg);
}

/* ------- arrow */
#GiasSidenav .sidebar #leftside-navigation ul li a i.arrow {
    width: 8px;
    right: 0;
    font-size: 14px;
    display: block;
    float: right;
    padding: 3px 0;
}



/* accordion sub-menu open */
#GiasSidenav .sidebar #leftside-navigation li.sub-menu.open {
    border: 1px solid rgba(255,255,255, 0.8);
    border-radius: 8px;
}
#GiasSidenav .sidebar #leftside-navigation li.sub-menu.open ul{
    border-top: 1px solid rgba(255,255,255, 0.2);
}
#GiasSidenav .sidebar #leftside-navigation ul ul li {
    margin-left: 30px !important;
}
#GiasSidenav .sidebar #leftside-navigation ul ul li a {
    font-size: 12px;
    color: #fff;
    padding-left: 30px !important;
}


/** icon custom sidebar menu */
#GiasSidenav .sidebar #leftside-navigation ul li a i.fa:first-child {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 29px auto;
    font-size: 20px;
    content: " ";
}
.menuGias .item-icon .fa, .fa.fa_gias_colors {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 29px auto;
    font-size: 20px;
    content: " ";
    width: 26px;
    height: 26px;
    text-align: center;
}

/* Dashboard */
/*.fa.fa_gias_dashboard{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_dashboard_off.svg);
}
.active .fa.fa_gias_dashboard{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_dashboard_on.svg);
}
.fa.fa_gias_colors.fa_gias_dashboard{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_dashboard.svg);
}
.fa.fa_gias_dashboard::before {
    opacity: 0;
}*/
.fa.fa_gias_dashboard {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_home.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_home.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}


/* Anagrafiche e Piano Colturale */
/*.fa.fa_gias_anagrafiche_piano_colturale{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_anagrafiche_piano_colturale_off.svg);
}
.active .fa.fa_gias_anagrafiche_piano_colturale{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_anagrafiche_piano_colturale_on.svg);
}
.fa.fa_gias_colors.fa_gias_anagrafiche_piano_colturale{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_anagrafiche_piano_colturale.svg);
}
.fa.fa_gias_anagrafiche_piano_colturale::before {
    opacity: 0;
}
*/
.fa.fa_gias_anagrafiche_piano_colturale {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_anagrafiche.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_anagrafiche.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}


.active.fa {
    background-color: #d90011;
}


/* Quaderno di Campagna */
/*.fa.fa_gias_quaderno_campagna{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_quaderno_campagna_off.svg);
}
.active .fa.fa_gias_quaderno_campagna{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_quaderno_campagna_on.svg);
}
.fa.fa_gias_colors.fa_gias_quaderno_campagna{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_quaderno_campagna.svg);
}
.fa.fa_gias_quaderno_campagna::before {
    opacity: 0;
}*/
.fa.fa_gias_quaderno_campagna {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_quaderno.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_quaderno.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}


/* Magazzini Movimenti Prodotti */
/*.fa.fa_gias_magazzini_movimento_prodotti{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_magazzini_movimento_prodotti_off.svg);
}
.active .fa.fa_gias_magazzini_movimento_prodotti{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_magazzini_movimento_prodotti_on.svg);
}
.fa.fa_gias_colors.fa_gias_magazzini_movimento_prodotti{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_magazzini_movimento_prodotti.svg);
}
.fa.fa_gias_magazzini_movimento_prodotti::before {
    opacity: 0;
}*/
.fa.fa_gias_magazzini_movimento_prodotti {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_magazzini.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_magazzini.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}






/* Qualità e Tracciabilità */
/*.fa.fa_gias_qualita_tracciabilita{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_qualita_tracciabilita_off.svg);
}
.active .fa.fa_gias_qualita_tracciabilita{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_qualita_tracciabilita_on.svg);
}
.fa.fa_gias_colors.fa_gias_qualita_tracciabilita{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_qualita_tracciabilita.svg);
}
.fa.fa_gias_qualita_tracciabilita::before {
    opacity: 0;
}*/
.fa.fa_gias_qualita_tracciabilita {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_qualita.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_qualita.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}


/* Controllo di Gestione */
/*.fa.fa_gias_controllo_di_gestione{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_controllo_di_gestione_off.svg);
}
.active .fa.fa_gias_controllo_di_gestione{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_controllo_di_gestione_on.svg);
}
.fa.fa_gias_colors.fa_gias_controllo_di_gestione{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_controllo_di_gestione.svg);
}
.fa.fa_gias_controllo_di_gestione::before {
    opacity: 0;
}*/
.fa.fa_gias_controllo_di_gestione {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_controllo_gestione.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_controllo_gestione.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}

/* Stampe e Statistiche */
/*.fa.fa_gias_stampe_e_statistiche{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_stampe_e_statistiche_off.svg);
}
.active .fa.fa_gias_stampe_e_statistiche{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_stampe_e_statistiche_on.svg);
}
.fa.fa_gias_colors.fa_gias_stampe_e_statistiche{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_stampe_e_statistiche.svg);
}
.fa.fa_gias_stampe_e_statistiche::before {
    opacity: 0;
}*/
.fa.fa_gias_stampe_e_statistiche {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_stampe.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_stampe.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}

/* Contabilità */
/*.fa.fa_gias_contabilita{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_contabilita_off.svg);
}
.active .fa.fa_gias_contabilita{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_contabilita_on.svg);
}
.fa.fa_gias_colors.fa_gias_contabilita{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_contabilita.svg);
}
.fa.fa_gias_contabilita::before {
    opacity: 0;
}*/
.fa.fa_gias_contabilita {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_contabilita.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_contabilita.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}

/* Scadenze Documentale */
/*.fa.fa_gias_scadenze_documentale{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_scadenze_documentale_off.svg);
}
.active .fa.fa_gias_scadenze_documentale{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_scadenze_documentale_on.svg);
}
.fa.fa_gias_colors.fa_gias_scadenze_documentale{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_scadenze_documentale.svg);
}
.fa.fa_gias_scadenze_documentale::before {
    opacity: 0;
}*/
.fa.fa_gias_scadenze_documentale {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_documentale.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_documentale.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}

/* Acquisti */
/*.fa.fa_gias_acquisti{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_acquisti_off.svg);
}
.active .fa.fa_gias_acquisti{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_acquisti_on.svg);
}
.fa.fa_gias_colors.fa_gias_acquisti{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_acquisti.svg);
}
.fa.fa_gias_acquisti::before {
    opacity: 0;
}*/
.fa.fa_gias_acquisti {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_acquisti.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_acquisti.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}


/* Vendite */
/*.fa.fa_gias_vendite{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_vendite_off.svg);
}
.active .fa.fa_gias_vendite{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_vendite_on.svg);
}
.fa.fa_gias_colors.fa_gias_vendite{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_vendite.svg);
}
.fa.fa_gias_vendite::before {
    opacity: 0;
}*/
.fa.fa_gias_vendite {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_vendite.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_vendite.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}


/* Conferimento */
/*.fa.fa_gias_conferimento{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_conferimento_off.svg);
}
.active .fa.fa_gias_conferimento{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_conferimento_on.svg);
}
.fa.fa_gias_colors.fa_gias_conferimento{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_conferimento.svg);
}
.fa.fa_gias_conferimento::before {
    opacity: 0;
}*/
.fa.fa_gias_conferimento {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_conferimento.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_conferimento.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}




/* Campionamento e Liquidazioni */
/*.fa.fa_gias_campionamento_e_liquidazioni{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_campionamento_e_liquidazioni_off.svg);
}
.active .fa.fa_gias_campionamento_e_liquidazioni{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_campionamento_e_liquidazioni_on.svg);
}
.fa.fa_gias_colors.fa_gias_campionamento_e_liquidazioni{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_campionamento_e_liquidazioni.svg);
}
.fa.fa_gias_campionamento_e_liquidazioni::before {
    opacity: 0;
}*/
.fa.fa_gias_campionamento_e_liquidazioni {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_campionamento.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_campionamento.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}



/* Lavorazioni */
/*.fa.fa_gias_lavorazioni{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_lavorazioni_off.svg);
}
.active .fa.fa_gias_lavorazioni{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_lavorazioni_on.svg);
}
.fa.fa_gias_colors.fa_gias_lavorazioni{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_lavorazioni.svg);
}
.fa.fa_gias_lavorazioni::before {
    opacity: 0;
}*/
.fa.fa_gias_lavorazioni {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_lavorazioni.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_lavorazioni.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}


/* Ammin. di Sistema */
/*.fa.fa_gias_settings{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_lavorazioni.svg);;
}
.active .fa.fa_gias_settings{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_settings_on.svg);
}
.fa.fa_gias_colors.fa_gias_settings{
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_settings.svg);
}
.fa.fa_gias_settings::before {
    opacity: 0;
}
*/
.fa.fa_gias_settings {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_amministrazione.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_amministrazione.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}



/* Biologico */
/*.fa.fa_gias_biologico {
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_biologico.svg);
}*/
.fa.fa_gias_biologico {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_biologico.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_biologico.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}

/* Budget */
/*.fa.fa_gias_budget {
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_budget.svg);
}*/
.fa.fa_gias_budget {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_budget.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_budget.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}




/* Carburanti Uma */
/*.fa.fa_gias_carburanti_uma {
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_carburanti_uma.svg);
}*/
.fa.fa_gias_carburanti_uma {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_carburanti_uma.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_carburanti_uma.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}




/* Gis */
/*.fa.fa_gias_gis {
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_gis.svg);
}*/
.fa.fa_gias_gis {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_gis.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_gis.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}




/* Materiale Vivaistico */
/*.fa.fa_gias_materiale_vivaistico {
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_materiale_vivaistico.svg);
}*/
.fa.fa_gias_materiale_vivaistico {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_materiale_vivaistico.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_materiale_vivaistico.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}






/* Modelli */
/*.fa.fa_gias_modelli {
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_modelli.svg);
}*/
.fa.fa_gias_modelli {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_modelli.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_modelli.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}







/* Pianificazione */
/*.fa.fa_gias_pianificazione {
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_pianificazione.svg);
}*/
.fa.fa_gias_pianificazione {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_pianificazione.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_pianificazione.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}






/* Zootecnia */
/*.fa.fa_gias_zootecnia {
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_zootecnia.svg);
}*/
.fa.fa_gias_zootecnia {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_zootecnia.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_zootecnia.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}





/*Monitoraggi*/ 
/*.fa.fa_gias_monitoraggi {
    background-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_zootecnia.svg);
}
*/
.fa.fa_gias_monitoraggi {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_monitoraggi.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_monitoraggi.svg);
    background-image: none;
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-color: #fff;
}

/* Domanda Irrigua */
.fa.fa_gias_domanda_irrigua {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_domanda_irrigua.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_domanda_irrigua.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}

/* Manualistica */
.fa.fa_gias_manualistica {
    /*-webkit-mask-size: cover;*/
    mask-size: cover;
    -webkit-mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_manualistica.svg);
    mask-image: url(../Styles/images/dashboard/sidebar/ic_macrocategoria_manualistica.svg);
    /*background-image: none;*/
    -webkit-mask-position: center center;
    -webkit-mask-size: 29px;
    -webkit-mask-repeat: no-repeat;
    background-image: none;
    background-color: #fff;
}

.active .iconaMacro {
    background-color: #76bc21;
}
/* menu select navbar */
#headerColCenter #breadcrumb-menu {
    border-left: 1px solid #F7F7F7;
}
#headerColCenter #breadcrumb-menu .double_arrow {
    background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_double_next.svg);
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 24px auto;
}
#headerColCenter #breadcrumb-menu .item:last-child {
    background-image: none;
}

    /** SELECT DROPDOWN  */
    .dropdown-el .select-items div {
        color: #ffffff;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    }
    #breadcrumb-menu .dropdown-el{
        border-width: 0px !important;
    }
    #breadcrumb-menu .dropdown-el .select-selected {
        color: #000000 !important;
        border-width: 1px !important;
        border-style: solid !important;
        border-radius: 4px;
        background-color: #fff;
    }
    #breadcrumb-menu .item-icon + .item .dropdown-el, #breadcrumb-menu .item-icon + .item .select-selected {
        border-left-width: 4px !important;
    }
    #breadcrumb-menu .dropdown-el input:focus + label {
        background: #fff;
    }
/*    #breadcrumb-menu .dropdown-el::after {
        border: 0.3em solid transparent;
        border-color: transparent transparent transparent transparent;
         background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_down_type04.svg);
         background-position: 100% center;
         background-repeat: no-repeat;
         background-size: 12px auto;
    }*/
/*    #breadcrumb-menu .select-selected::after {
         background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_down_type04.svg);
         background-position: 100% center;
         background-repeat: no-repeat;
         background-size: 12px auto;
         border-width: 0;
         margin-top: 6px;
    }*/
/*    #breadcrumb-menu .select-selected.select-arrow-active:after {
        border-width: 0;
        background-image: url(../Styles/images/dashboard/arrow/navbar_ic_arrow_top_type04.svg);
    }*/

    /* hover */
    #breadcrumb-menu .select-selected:hover {
        cursor: pointer;
    }

    /* expanded */
    #breadcrumb-menu .dropdown-el.expanded, #breadcrumb-menu .dropdown-el .select-items {
        border: 0.06em solid #F7F7F7 !important;
        background: #fff;
        border-radius: 0.25em;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    }
    #breadcrumb-menu .dropdown-el.expanded label, #breadcrumb-menu .dropdown-el .select-items div {
        border-bottom: 1px solid #F1F3F6;
        color: #595959;
    }
    #breadcrumb-menu .dropdown-el.expanded label:last-child, #breadcrumb-menu .dropdown-el .select-items div:last-child {
        border-bottom: 0px solid #F1F3F6;
    }
    #breadcrumb-menu .dropdown-el.expanded label:hover, #breadcrumb-menu .dropdown-el .select-items div:hover {
        color: #002D5A;
        background-color:#F1F3F6;
    }
    #breadcrumb-menu .dropdown-el .select-items div:hover, #breadcrumb-menu .dropdown-el .same-as-selected {
        background-color:#F1F3F6;
        color: #002D5A;
    }
    #breadcrumb-menu .dropdown-el.expanded input:checked + label {
        color: #002D5A;
    }



    /* input disabled */
    #breadcrumb-menu .dropdown-el select:disabled + .select-selected {
        color: #000;
        background-color:#F8F8F8;
    }
    #breadcrumb-menu .dropdown-el select:disabled + .select-selected, #breadcrumb-menu .dropdown-el select:disabled + .select-selected:hover, #breadcrumb-menu .dropdown-el select:disabled + .select-selected:focus, #breadcrumb-menu .dropdown-el select:disabled + .select-selected:active {
        cursor: default !important;
        box-shadow: none;
    }
    #breadcrumb-menu .dropdown-el select:disabled + .select-selected + .select-items {
        display: none !important;
    }
    #breadcrumb-menu .dropdown-el select:disabled + .select-selected::after {
        display: none;
    }




    /** ------- SELECT DROPDOWN END */


/** ------------------ icon custom sidebar menu - legend color */

/* blu #002D5A
Dashboard
*/
.color-area-general {color:#002D5A !important;}
.color-bg-area-general {background-color:#002D5A !important;}
.color-border-area-general {border-color:#002D5A !important;}
.color-border-area-general.dropdown-el {border-color:transparent !important;}
.input-border-area-general .select-selected, .item-icon + .item .input-border-area-general .select-selected {border-color:#002D5A !important;}

/* verde #6FB783
Anagrafiche e Piano Colturale, Quaderno di Campagna, Stampe e Statistiche, Conferimento, Campionamento e Liquidazioni, Lavorazioni
*/
.color-area-green {color:#6FB783 !important;}
.color-bg-area-green {background-color:#6FB783 !important;}
.color-border-area-green {border-color:#6FB783 !important;}
.color-border-area-green.dropdown-el {border-color:transparent !important;}
.input-border-area-green .select-selected, .item-icon + .item .input-border-area-green .select-selected {border-color:#6FB783 !important;}

/* grigio #575757
Magazzini Movimenti Prodotti, Qualità e Tracciabilità, Controllo di Gestione
*/
.color-area-product {color:#575757 !important;}
.color-bg-area-product {background-color:#575757 !important;}
.color-border-area-product {border-color:#575757 !important;}
.color-border-area-product.dropdown-el {border-color:transparent !important;}
.input-border-area-product .select-selected, .item-icon + .item .input-border-area-product .select-selected {border-color:#575757 !important;}

/* giallo #D0AD5E
Contabilità, Scadenze Documentale, Acquisti, Vendite
*/
.color-area-commercial {color:#D0AD5E !important;}
.color-bg-area-commercial {background-color:#D0AD5E !important;}
.color-border-area-commercial {border-color:#D0AD5E !important;}
.color-border-area-commercial.dropdown-el {border-color:transparent !important;}
.input-border-area-commercial .select-selected, .item-icon + .item .input-border-area-commercial .select-selected {border-color:#D0AD5E !important;}

/* rosso #D90D1D
Amm. del Sistema
*/
.color-area-settings {color:#D90D1D !important;}
.color-bg-area-settings {background-color:#D90D1D !important;}
.color-border-area-settings {border-color:#D90D1D !important;}
.color-border-area-settings-left {border-left-color:#D90D1D !important;}
.color-border-area-settings.dropdown-el {border-color:transparent !important;}
.input-border-area-settings .select-selected, .item-icon + .item .input-border-area-settings .select-selected {border-color:#D90D1D !important;}



.icon-favorite-edit-sidemenu {
    background-image: url(../Styles/images/dashboard/navbar/navbar_ic_favorite_edit.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px auto;
}
.hContainerFavorite{
    transform: translateX(-53px);
    top: 25px;
}
.overbtn {
    padding: 0;
    padding-left: 6px;
}
/* icon right navbar */
.hRightElement-side {
    height: 40px;
    background-color: white;
    border-radius: 8px;
    align-items: center;
    margin-bottom: 6px;
    cursor: pointer;
}


/* ---- Sidebar footer contacts */
#GiasSidenav .sidebar #leftside-footer {
    background-color:#002245;
}
    /*#GiasSidenav .sidebar #leftside-footer .row-footer{
    border-bottom: 1px dashed #8091A2;
}*/
#GiasSidenav .sidebar #leftside-footer .row-footer:last-child{
    border-bottom: 0px dashed #8091A2;
}

.footer-link-phone, .footer-link-mail, .footer-link-whatsapp {
    width: 30px;
    height: 30px;
    float: right;
    display: block;
    margin-left: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
        outline: none !important;
        text-decoration: none !important;
}
.footer-link-phone {
    background-image: url(../Styles/images/dashboard/footer/footer_ic_phone.svg);
}
.footer-link-mail {
    background-image: url(../Styles/images/dashboard/footer/footer_ic_mail.svg);
}
.footer-link-whatsapp {
    background-image: url(../Styles/images/dashboard/footer/footer_ic_whatsapp.svg);
}
#GiasSidenav .sidebar #leftside-footer .row-footer span{
    color: #fff;
    text-align: left;
}


/* SCROLLBAR WINDOWS SIDEBAR */
#GiasSidenav .sidebar #leftside-navigation::-webkit-scrollbar {
  width: 10px;
/* width of the entire scrollbar */
}

#GiasSidenav .sidebar #leftside-navigation::-webkit-scrollbar-track {
  background: #002D5A; /* color of the tracking area */
}

#GiasSidenav .sidebar #leftside-navigation::-webkit-scrollbar-thumb {
    background-color: #fff !important; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 0;/*3px solid #002D5A;   creates padding around scroll thumb */
}