



/* stile coprob */

.agroTestataPersonalizzata {
    background-color: #78d18b !important;
}

#footer {
    background-color: #78d18b !important;
}

.container.AgronicaFooter {
    background-color: #78d18b !important;
}

.k-window-titlebar.k-header {
    background-color: #78d18b
}

.k-window-titlebar.k-dialog-titlebar.k-header {
    background-color: #78d18b
}