



/* stile terrainnova */

a {
    color: #FFFFFF;
}

.agroTestataPersonalizzata {
    background-color: #009D5A !important;
    color: #FFFFFF !important;
}

#footer {
    background-color: #009D5A !important;
}

.AgronicaFooter {
    background-color: #009D5A !important;
}

.container.AgronicaFooter {
    background-color: #009D5A !important;
}

.k-window-titlebar.k-header {
    background-color: #009D5A
}

.k-window-titlebar.k-dialog-titlebar.k-header {
    background-color: #009D5A
}

.k-window-title.k-dialog-title {
    text-align: right;
}

.k-button.k-primary {
    background-color: #5CB75C
}
