/* stile coldiretti (restyle 2022) */

header {
    background-color: #FED91F !important;
}

#navbar_company .dropbtn span.hCurrentCompanyName {
    color: black !important;
    max-width: 200px !important;
}


.tooltiptext {
    background-color: #6fa68b !important;
    color: white !important;
}

    .hCurrentCompanyName .tooltiptext::after,
    .tooltiptext::after {
        border-color: #6fa68b transparent transparent transparent !important;
    }

#navbar_user .dropbtn:hover,
#navbar_company .dropbtn:hover {
    background-color: #fee879 !important;
}

/* menu navigazione */
.leftside-header-tab.active {
    border-color: #FED91F !important;
}

#GiasSidenav .sidebar #leftside-navigation ul li a span {
    font-weight: 700 !important;
}

#GiasSidenav .sidebar #leftside-footer,
#GiasSidenav .sidebar #leftside-navigation ul li:not(.hRightElement-side),
#GiasSidenav .sidebar #leftside-navigation ul li a:not(.hRightElement-side),
#GiasSidenav .sidebar #leftside-navigation ul ul li,
.bg_blue_nav {
    background-color: #000000 !important;
    color: #a0aec0 !important;
}

#GiasSidenav .sidebar #leftside-navigation ul li.hRightElement-side,
#GiasSidenav .sidebar #leftside-navigation ul li.hRightElement-side a,
#GiasSidenav .sidebar #leftside-navigation ul li.hRightElement-side:hover,
#GiasSidenav .sidebar #leftside-navigation ul li.hRightElement-side a :hover {
    background-color: #FFFFFF !important;
}

#GiasSidenav .sidebar #leftside-navigation ul li.active > a:hover,
#GiasSidenav .sidebar #leftside-navigation ul li a:hover,
#GiasSidenav .sidebar #leftside-navigation ul ul li:hover {
    background-color: #2d3748 !important;
    color: #a0aec0 !important;
}

#GiasSidenav .sidebar #leftside-navigation ul li.active > a {
    background-color: #1a202c !important;
    color: #a0aec0 !important;
}

    #GiasSidenav .sidebar #leftside-navigation ul li.active > a:hover {
        color: white !important;
    }

#GiasSidenav .sidebar #leftside-navigation ul li.sub-menu.open {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.active .iconaMacro {
    background-color: #FED91F !important;
}

#GiasSidenav .sidebar #leftside-navigation::-webkit-scrollbar-track {
    background: black !important;
}


/* toggable section */
.k-expanded > .k-expander-header, .k-panelbar > .k-panelbar-header.k-expanded > .k-link, .k-panelbar > .k-panelbar-header.k-expanded > .k-link:hover, .k-expanded > .k-expander-header .header-content {
    background-color: #FED91F !important;
    color: #000000 !important;
}

.k-expander-header,
.k-panelbar > .k-panelbar-header > .k-link {
    color: black !important;
    font-weight: 700 !important;
    background-color: white !important;
}

    .k-panelbar > .k-panelbar-header > .k-link:hover {
        background-color: #f6f5f4 !important;
    }

/*bottoni*/
kendo-grid-toolbar .btn-primary-fill,
kendo-grid-toolbar .btn.btn-primary.btn-primary-fill,
kendo-appbar-section .btn-primary-fill,
kendo-appbar-section .btn.btn-primary.btn-primary-fill {
    background-color: #6fa68b !important;
}

    kendo-grid-toolbar .btn-primary-fill:hover, kendo-grid-toolbar .btn.btn-primary.btn-primary-fill:hover, kendo-appbar-section .btn-primary-fill:hover, kendo-appbar-section .btn.btn-primary.btn-primary-fill:hover {
        background-color: #8cb8a2 !important;
    }

.btn-primary-fill,
.btn.btn-primary.btn-primary-fill,
.k-button.k-button-solid.k-grid-add,
.btn.xonne-btn-primary,
.btn.gias-btn-primary,
#btn_nuovo_cedente_cessionario_1,
#btn_nuovo_vettore,
#btn_modifica_vettore,
#xoGestioneCompletaCdGFiltriContainer span.k-button.k-selected {
    background-color: #6fa68b !important;
    border-color: #6fa68b !important;
}

#xoGestioneCompletaCdGFiltriContainer span.k-button.k-selected {
    color: #FFFFFF !important;
}

.btn-primary-fill:hover,
.btn.btn-primary.btn-primary-fill:hover
.k-button.k-button-solid.k-grid-add:hover,
.btn.xonne-btn-primary:hover,
.btn.gias-btn-primary:hover,
#btn_nuovo_cedente_cessionario_1:hover,
#btn_nuovo_vettore:hover,
#btn_modifica_vettore:hover {
    background-color: #8cb8a2 !important;
}


#xoGestioneCompletaCdGFiltriContainer #TipoOutput:hover {
    background-color: transparent;
}
/*tooltip*/
kendo-tooltip.k-tooltip.k-widget,
.k-tooltip,
.k-tooltip.k-popup,
.k-tooltip.k-widget {
    background-color: #6fa68b !important;
    color: white !important;
    border-color: #6fa68b !important;
}

.k-callout.ng-star-inserted.k-callout-s {
    background-color: transparent !important;
    color: #6fa68b !important;
}

.k-tooltip .k-callout {
    color: #6fa68b !important;
}
/* tabs */
kendo-appbar kendo-appbar-section ul [routerlinkactive="nav-item active"].active {
    border-color: #FED91F;
}

.k-tabstrip-items .k-item.k-active .k-link {
    color: #002850 !important;
    border-bottom: 3px solid #FED91F;
    font-weight: bold;
}

.nav.nav-tabs li.active a, .nav.nav-tabs li.k-active .k-link, .k-tabstrip .k-tabstrip-item.k-active .k-link {
    border-bottom: 2px solid #8cb8a2 !important;
}

.k-panelbar .k-panelbar-header.k-expanded > span {
    border-width: 0 !important;
}
/* griglie */
thead tr th.k-header, thead tr th.k-header .k-cell-inner .k-link, thead tr th.k-header .k-column-title {
    background-color: #f6f5f4 !important;
    color: #968c8d !important;
}

    thead tr th.k-header:first-child {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

.k-grid-header .k-sort-icon, .k-grid-header .k-sort-order {
    color: #968c8d !important;
}

#qdcTableId tr {
    background-color: unset !important;
}

kendo-grid-toolbar .k-grid-excel, kendo-grid-toolbar .btn.btn-primary, kendo-grid-toolbar .k-button, kendo-appbar-section .k-grid-excel, kendo-appbar-section .btn.btn-primary, kendo-appbar-section .k-button {
    border: 1px solid #6fa68b !important;
}

.k-grid-header .k-grid-header-menu.k-active {
    background-color: #f6f5f4 !important;
}

#qdcTableId tr .k-grid-content-sticky, #qdcTableId tr .k-grid-content-sticky:hover {
    background-color: #fff !important;
}

/* sovrascrivo alcune icone */
.k-icon.k-i-filter {
    background-image: url('assets/custom-icons/icon-general/d/ic_options_filter_option.svg');
}


::-webkit-scrollbar-thumb {
    background: hsla(240,4%,49%,.8) !important;
}

/* form element*/
.gias-right-sidebar-filters {
    border-left-color: #6fa68b !important;
}

.k-switch-on .k-switch-track {
    background-color: #6fa68b !important;
}

/* filter right */
.xonne-tab.k-selected, .xonne-tab.k-selected:focus {
    background-color: #6fa68b !important;
}
/* pages qdc */
.custom-toolbar.qdc-toolbar button {
    background-color: #6fa68b !important;
}


.AgroBtnLogin {
    background-color: #6fa68b !important;
    border-color: #6fa68b !important;
}

.agroTestataPersonalizzata {
    background-color: #FED91F !important;
    color: #052747 !important;
}

#footer {
    background-color: #FED91F !important;
    color: #052747 !important;
}

.container.AgronicaFooter {
    background-color: #FED91F !important;
    color: #052747 !important;
}

.k-window-titlebar.k-header {
    background-color: #FED91F
}

.k-window-titlebar.k-dialog-titlebar.k-header {
    background-color: #FED91F
}


.k-window-title.k-dialog-title {
    text-align: right;
}

.k-button.k-primary {
    background-color: #5CB75C
}

/* STAZIONI */

#mainContainer .k-tabstrip-items-wrapper {
    margin-top: 25px;
}

.k-tabstrip-content .btnStazioniGIS, .k-tabstrip-content #elencoStaz .k-listview-content .list-view-item .k-block .k-button  {
    border: 1px solid black;
}

.k-tabstrip-content .fa-globe {
    color: black !important;
}

.k-tabstrip-content #elencoStaz .k-listview-content .list-view-item .k-block {
    border-color: black;
}

#elencoStaz .k-listview-content .list-view-item .k-block .drag-handle {
    background-color: black !important;
}

#elencoStaz .k-listview-content .list-view-item .k-block .stazione-nome {
    color: black;
}

#master_contenitore_principale .bar-menu-icon {
    color: black;
}

#master_contenitore_principale .bar-menu .page-title {
    color: black;
}

#master_contenitore_principale .bar-menu {
    border-bottom: 2px solid black;
}

.bar-menu-box .k-menu-link-text {
    color: black;
}

.bar-menu-box .k-item.k-menu-item.k-hover:hover, .bar-menu-box .k-item.k-menu-item.k-hover:hover .k-menu-link {
    background-color: black !important;
}

#master_contenitore_principale .stazione-container {
    border-color: black;
    color: black;
}

.bar-menu-page .k-listview-content .list-view-item .k-block {
    border-color: black;
}

#applicDSSDifesa .k-listview-content .list-view-item .k-button {
    color: black;
    border-color: black;
}

.k-tabstrip-items .k-item.k-active .k-link {
    color: black !important;
}

#master_contenitore_principale .bar-menu-icon.menu-open {
    background-color: black;
}

.k-popup .k-list-item.k-selected {
    background-color: black !important;
}

.k-popup .k-list-item.k-hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

#applicArea .k-focus {
    border-color: black !important;
    color: black !important;
}

#anagArea #btnEditConferma {
    background-color: black !important;
    border-color: black !important;
}

/* DSS IRRIGAZIONE */

#DSS_Irrigazione_Indicatori .indic-collapsible {
    color: black !important;
    padding: 8px 10px;
}

#DSS_Irrigazione_Indicatori > .indic-hdr > .k-block:has(> div.collapsed) {
    border-color: black;
}

#DSS_Irrigazione_Indicatori > .indic-hdr > .k-block:has(> div.collapsed):hover {
    background-color: #F5F5F5 !important;
}

#DSS_Irrigazione_Indicatori > .indic-hdr > .k-block:has(:not(> div.collapsed)) {
    border-color: rgba(210, 212, 212, 1);
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block .indic-collapsible:not(.collapsed) {
    background-color: #FED91F !important;
    color: black !important;
    border-color: rgba(211, 211, 211, 1);
}

#DSS_Irrigazione_Indicatori > .indic-hdr .indic-grid > .k-block {
    color: black;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block .collapse .indic-grid .k-block .indic-wrapper .indic-body .label-big:nth-child(1) {
    border-color: #FED91F !important;
    background-color: #FED91F !important;
    color: black;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block .collapse .indic-grid .k-block .indic-wrapper .indic-body .label-big:nth-child(2) {
    border-color: #DDDDDD !important;
    color: black !important;
}

#DSS_Irrigazione_Indicatori .indic-hdr .grid-params .left > .fa {
    color: black !important;
}

#DSS_Irrigazione_Indicatori .indic-hdr .grid-params .k-button:hover {
    border-color: black;
    background-color: #DDDDDD;
}

#DSS_Irrigazione_Main #filtroSpecie .k-input:focus-within {
    border-color: black !important;
}

.k-popup .k-list-item:hover {
    color: black !important;
    background-color: #DDDDDD !important;
}

.k-popup .k-list-item.k-selected:hover {
    color: black !important;
}

.k-animation-container .k-list-item:hover {
    color: black;
    background-color: #DDDDDD;
}

.k-chip-list .k-chip {
    background-color: black;
}

.k-list ul .k-hover {
    color: black;
}

.k-window .k-window-titlebar .k-window-title {
    color: black !important;
}

.k-window .k-header {
    background-color: #FED91F !important;
}

.k-window .k-header a, body .k-window .k-header a:hover {
    color: black;
}

.k-window .k-header a:nth-child(2) {
    border: none;
}

.k-window .k-calendar .k-calendar-td.k-today .k-link {
    border-color: black !important;
}

.k-window .k-calendar .k-calendar-td.k-selected .k-link {
    border-color: black !important;
    background-color: black !important;
}

.k-window #irri-win-data-wrapper .k-button-solid-base {
    border-color: black !important;
    color: black;
}

.k-window .k-window-titlebar-actions .k-button {
    color: black;
}

.k-window .k-window-titlebar-actions .k-button:hover {
    color: black;
    background-color: #DDDDDD !important;
}

.k-window #irri-win-data #irri-win-data-wrapper .k-button:not(.k-icon-button) {
    margin: 10px;
}

/* DATI METEO */

#master_contenitore_principale #geo-pos-edit .fa {
    color: #6fa68b !important;
}

#master_contenitore_principale .k-svg-i-calendar {
    color: #6fa68b;
}

#master_contenitore_principale .k-input-inner > span > div:nth-child(2) .fa-globe {
    color: #6fa68b !important;
}

#tab-dati .k-header {
    color: black;
}

#tab-dati .k-button {
    color: #6fa68b;
    border-color: #6fa68b;
}

#tab-dati #divKendoOut .meteoKendoChart div:nth-child(2) {
    background-color: #6fa68b !important;
}

#tab-dati #divKendoOut .meteoKendoChart .chart-help-tooltip .with-transition {
    background-color: #6fa68b !important;
}

#divKendoOut .chart-help-tooltip {
    background-color: #6fa68b !important;
}