



/* stile coldiretti */

.AgroBtnLogin {
    background-color: #6fa68b !important;
    border-color: #6fa68b !important;
}

.agroTestataPersonalizzata {
    background-color: #FED91F !important;
    color: #052747 !important;
}

#footer {
    background-color: #FED91F !important;
    color: #052747 !important;
}

.container.AgronicaFooter {
    background-color: #FED91F !important;
    color: #052747 !important;
}

.k-window-titlebar.k-header {
    background-color: #FED91F
}

.k-window-titlebar.k-dialog-titlebar.k-header {
    background-color: #FED91F
}


.k-window-title.k-dialog-title {
    text-align: right;
}

.k-button.k-primary {
    background-color: #5CB75C
}
