



/* stile coldiretti (NG) */

html {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
}

header {
    background-color: #FED91F !important;
}

#navbar_company .dropbtn span.hCurrentCompanyName {
    color: black;
}

.tooltiptext {
    background-color: #6fa68b !important;
    color: white !important;
}

    .hCurrentCompanyName .tooltiptext::after,
    .tooltiptext::after {
        border-color: #6fa68b transparent transparent transparent;
    }

#navbar_user .dropbtn:hover,
#navbar_company .dropbtn:hover {
    background-color: #fee879 !important;
}

/* menu navigazione */
.leftside-header-tab.active {
    border-color: #FED91F !important;
}

#GiasSidenav .sidebar #leftside-navigation ul li a span {
    font-weight: 700 !important;
}

#GiasSidenav .sidebar #leftside-footer,
#GiasSidenav .sidebar #leftside-navigation ul li,
#GiasSidenav .sidebar #leftside-navigation ul li a,
#GiasSidenav .sidebar #leftside-navigation ul ul li,
.bg_blue {
    background-color: #000000 !important;
    color: #a0aec0 !important;
}

    #GiasSidenav .sidebar #leftside-navigation ul li.active > a:hover,
    #GiasSidenav .sidebar #leftside-navigation ul li a:hover,
    #GiasSidenav .sidebar #leftside-navigation ul ul li:hover {
        background-color: #2d3748 !important;
        color: #a0aec0 !important;
    }

    #GiasSidenav .sidebar #leftside-navigation ul li.active > a {
        background-color: #1a202c !important;
        color: #a0aec0 !important;
    }

        #GiasSidenav .sidebar #leftside-navigation ul li.active > a:hover {
            background-color: #2d3748 !important;
            color: white !important;
        }

.active .iconaMacro {
    background-color: #FED91F !important;
}

/* toggable section */
.k-expanded > .k-expander-header,
.k-panelbar > .k-panelbar-header.k-expanded > .k-link,
.k-panelbar > .k-panelbar-header.k-expanded > .k-link:hover,
.k-expanded > .k-expander-header .header-content {
    background-color: #FED91F !important;
    color: #000000 !important;
}

.k-expander-header,
.k-panelbar > .k-panelbar-header > .k-link {
    color: black !important;
    font-weight: 700 !important;
    background-color: white !important;
}

    .k-panelbar > .k-panelbar-header > .k-link:hover {
        background-color: #f6f5f4 !important;
    }

/*bottoni*/
kendo-grid-toolbar .btn-primary-fill, kendo-grid-toolbar .btn.btn-primary.btn-primary-fill, kendo-appbar-section .btn-primary-fill, kendo-appbar-section .btn.btn-primary.btn-primary-fill {
    background-color: #6fa68b !important;
}

    kendo-grid-toolbar .btn-primary-fill:hover, kendo-grid-toolbar .btn.btn-primary.btn-primary-fill:hover, kendo-appbar-section .btn-primary-fill:hover, kendo-appbar-section .btn.btn-primary.btn-primary-fill:hover {
        background-color: #8cb8a2 !important;
    }

.btn-primary-fill, .btn.btn-primary.btn-primary-fill {
    background-color: #6fa68b !important;
}

    .btn-primary-fill:hover, .btn.btn-primary.btn-primary-fill:hover {
        background-color: #8cb8a2 !important;
    }


/*tooltip*/
kendo-tooltip.k-tooltip.k-widget {
    background-color: #6fa68b !important;
    color: white !important;
}

.k-callout.ng-star-inserted.k-callout-s {
    background-color: transparent !important;
    color: #6fa68b !important;
}

/* tabs */
kendo-appbar kendo-appbar-section ul [routerlinkactive="nav-item active"].active {
    border-color: #FED91F;
}

.k-tabstrip-items .k-item.k-active .k-link {
    color: #002850 !important;
    border-bottom: 3px solid #FED91F;
    font-weight: bold;
}

/* griglie */
thead tr th.k-header {
    background-color: #f6f5f4 !important;
    color: #968c8d !important;
}
thead tr th.k-header:first-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
thead tr th.k-header .k-sort-order,
thead tr th.k-header .k-icon.k-i-sort-desc-small,
thead tr th.k-header .k-icon.k-i-sort-asc-small {
    color: #968c8d !important;
}

#qdcTableId tr:not(.agendaOperazPianificata,.agendaOperazDaRevisionare,.agendaOperazBloccata) {
    background-color: unset !important;
}

kendo-grid-toolbar .k-grid-excel, kendo-grid-toolbar .btn.btn-primary, kendo-grid-toolbar .k-button, kendo-appbar-section .k-grid-excel, kendo-appbar-section .btn.btn-primary, kendo-appbar-section .k-button {
    border: 1px solid #6fa68b !important;
}

.k-grid-header .k-grid-header-menu.k-active {
    background-color: #f6f5f4 !important;
}

#qdcTableId tr:not(.agendaOperazPianificata,.agendaOperazDaRevisionare,.agendaOperazBloccata) .k-grid-content-sticky, #qdcTableId tr:not(.agendaOperazPianificata,.agendaOperazDaRevisionare,.agendaOperazBloccata) .k-grid-content-sticky:hover {
    background-color: #fff !important;
}

/* sovrascrivo alcune icone */
.k-icon.k-i-filter {
    background-image: url('../AB_Immagini/custom-icons/icon-general/d/ic_options_filter_option.svg');
}
/* .k-icon.k-i-filter:hover {
  background-image: url('assets/custom-icons/icon-general/d/ic_options_filter_option_on.svg');
} */

::-webkit-scrollbar-thumb {
    background: hsla(240,4%,49%,.8) !important;
}

/* pages qdc */
.custom-toolbar.qdc-toolbar button {
    background-color: #6fa68b !important;
}

