/** ICONE STILI FONT AWSOME **/
.btn .fa.fa-refresh::before { opacity: 0; }
.btn .fa.fa-refresh {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_refresh.svg');
    /*
        prima di spostare questa icona è necessario controllare l'impatto su tutte le varie pagine
        al momento la soluzione è quella di aggiungere una classe aggiuntiva nei bottoni che si vogliono stilizzare
        in modo da pilotare il passaggio
        background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_refresh_off.svg'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.btn.gias-btn-primary .fa.fa-refresh, .btn.xonne-btn-primary .fa.fa-refresh {
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_refresh_2.svg') !important;
}

.fa.fa-floppy-o::before { opacity: 0; }
.fa.fa-floppy-o {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_table_save_edit_schedule_01.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#btnSalvaEsciDoc .fa.fa-floppy-o, #btnSalvaEsciDoc2 .fa.fa-floppy-o {
    background-image: url('../AB_Immagini/custom-icons/icon-buttons/ic_options_btnsave_type03_saveexit_on.svg');
}
#btnSalvaENuovoDoc .fa.fa-floppy-o, #btnSalvaENuovoDoc2 .fa.fa-floppy-o, #prodotto_Edit_UC_SalvaNuovo i {
    background-image: url('../AB_Immagini/custom-icons/icon-buttons/ic_options_btnsave_type01_savenew_on.svg');
}



.fa.fa-files-o::before {
    opacity: 0;
}
.fa.fa-files-o {
    height: 32px;
    width: 32px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_copy.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.fa.fa-files-o:hover {
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_copy_on.svg');
}

.fa.fa-info-circle::before { opacity: 0; }
.fa.fa-info-circle {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_info.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.fa.fa-trash-o::before, .fa.fa-trash::before { opacity: 0; }
.fa.fa-trash-o, .fa.fa-trash {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_delete.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.fa.fa-trash-o:hover, .fa.fa-trash:hover {
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_delete_on.svg');
}
#searchArea #tabGriglia .row .fa.fa-trash:hover {
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_delete.svg');
}

.fa.fa-lock::before {
    opacity: 0;
}
.fa.fa-lock {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_lock.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.fa.fa-lock:hover {
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_lock_on.svg');
}

.fa.fa-info::before { opacity: 0; }
.fa.fa-info {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_details.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.fa.fa-info:hover {
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_details_on.svg');
}

.fa.fa-unlock::before { opacity: 0; }
.fa.fa-unlock {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_unlock.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.fa.fa-undo::before { opacity: 0; }
.fa.fa-undo {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_delete.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.fa.fa-pencil-square-o::before { opacity: 0; }
.fa.fa-pencil-square-o {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_edit.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.fa.fa-pencil-square-o:hover { background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_edit_on.svg'); }

.fa.fa-paperclip::before { opacity: 0; }
.fa.fa-paperclip {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_copy.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.fa.fa-paperclip:hover { background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_copy_on.svg'); }

.fa.fa-print::before { opacity: 0; }
.k-command-cell .fa.fa-print {
    height: 32px;
    width: 32px;
}
.k-command-cell .k-button.k-icon-button {
    border: none !important;
    background: transparent !important;
}
.fa.fa-print {
    height: 24px;
    width: 24px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_print.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.fa.fa-print:hover { background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_print_on.svg'); }
.gias-btn-primary .fa.fa-print {
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_print_02.svg');
}

.fa.fa-external-link::before {
    opacity: 0;
}
.fa.fa-external-link {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_open_link.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.fa.fa-external-link:hover {  background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_open_link_on.svg'); }

/** ICONE XO **/
.xo-icon.ic_options_open_map_gis_type02 {
    height: 28px;
    width: 28px;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('../AB_Immagini/custom-icons/icon-buttons/ic_options_open_map_gis_type02.svg') !important;
}

.xo-icon.ic_options_gps_gis_type02 {
    height: 28px;
    width: 28px;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('../AB_Immagini/custom-icons/icon-buttons/ic_options_gps_gis_type02.svg') !important;
}

/* ICONE BASATE SU K-ICON */
.k-window .k-icon.k-i-close::before { opacity: 0; }
.k-window .k-icon.k-i-close {
    height: 24px;
    width: 24px;
    color: transparent;
    position: relative;
    background-image: url('../AB_Immagini/custom-icons/icon-modal/ic_modal_head_close.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-grid-toolbar .k-icon.k-i-list-unordered::before { opacity: 0; }
.k-grid-toolbar .k-icon.k-i-list-unordered {
    height: 24px;
    width: 24px;
    color: transparent;
    position: relative;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_open_close_exercise.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


th .k-icon.k-i-more-vertical {
    height: 28px;
    width: 28px;
    color: transparent;
    position: relative;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_filter_option.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-window .k-icon.k-i-window-restore::before { opacity: 0; }
.k-window .k-icon.k-i-window-restore {
    height: 24px;
    width: 24px;
    color: transparent;
    position: relative;
    background-image: url('../AB_Immagini/custom-icons/icon-modal/ic_modal_head_reduce.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.k-window .k-icon.k-i-window-maximize::before { opacity: 0; }
.k-window .k-icon.k-i-window-maximize {
    height: 24px;
    width: 24px;
    color: transparent;
    position: relative;
    background-image: url('../AB_Immagini/custom-icons/icon-modal/ic_modal_head_fullscreen.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-close::before { opacity: 0; }
.k-icon.k-i-close {
    height: 24px;
    width: 24px;
    color: transparent;
    position: relative;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_undo_off.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-arrow-s::before { opacity: 0; }
.k-icon.k-i-arrow-s {
    color: transparent;
    position: relative;
    background-image: url('../AB_Immagini/custom-icons/icon-general/dropdown_arrow_bottom_02.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-arrow-60-left::before { opacity: 0;}
.k-icon.k-i-arrow-60-left {
    color: transparent;
    position: relative;
    background-image: url('../AB_Immagini/custom-icons/icon-general/navbar_ic_arrow_left_type05.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-arrow-60-right::before { opacity: 0; }
.k-icon.k-i-arrow-60-right {
    color: transparent;
    position: relative;
    background-image: url('../AB_Immagini/custom-icons/icon-general/navbar_ic_arrow_right_type05.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-arrow-n::before { opacity: 0; }
.k-icon.k-i-arrow-n {
    color: transparent;
    position: relative;
    background-image: url('../AB_Immagini/custom-icons/icon-general/dropdown_arrow_up_02.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-zoom::before { opacity: 0; }
.k-icon.k-i-zoom {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_details.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.k-icon.k-i-search::before { opacity: 0; }
.k-icon.k-i-search {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_details_off.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-i-cancel:before { content: none; }
button .k-i-cancel {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    color: transparent;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-table/ic_table_editback_row_single.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.k-i-plus:before { content: none; }
button .k-i-plus {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    color: transparent;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-table/ic_table_add_row_single_02.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.dragPanel .fa.fa-search::before { opacity: 0; }
.dragPanel .fa.fa-search {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_details_on.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.dragPanel .fa.fa-refresh::before { opacity: 0; }
.dragPanel .fa.fa-refresh {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_refresh_on.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.dragPanel .fa.fa-arrow-left::before { opacity: 0; }
.dragPanel .fa.fa-arrow-left {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_filter_viewlist_on.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.btn-operation .fa.fa-calendar-o::before { opacity: 0; }
.btn-operation .fa.fa-calendar-o {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_operazione.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.btn-operation:hover .fa.fa-calendar-o { background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_operazione_on.svg'); }

.btn-new-operation .fa.fa-plus-square-o::before { opacity: 0; }
.btn-new-operation .fa.fa-plus-square-o {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_nuova_operazione.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.btn-new-operation:hover .fa.fa-plus-square-o { background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_nuova_operazione_on.svg'); }


.k-icon.k-i-calendar::before { opacity: 0; }
.k-icon.k-i-calendar {
    height: 26px;
    width: 26px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_calendar.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.btn.btn-app-import .fa.fa-refresh {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_import_byapp.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#BtnImportaApp .fa.fa-refresh {
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_import_byapp_white.svg') !important;
    width: 12px;
    height: 24px;
    margin-right: 7px;
}

.btn .fa.fa-reply::before {
    opacity: 0;
}
.btn .fa.fa-reply {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_exit_no_save.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.btn .fa.fa-eraser::before { opacity: 0; }
.btn .fa.fa-eraser {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_filter_reset.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.btn .fa.fa-search::before { opacity: 0; }
.btn .fa.fa-search {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: white !important;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_details_02.svg') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.fa.fa-save::before { opacity: 0; }
.fa.fa-save {
    height: 32px;
    width: 32px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_new.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.btn .fa.fa-edit::before { opacity: 0; }
.btn .fa.fa-edit {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_edit.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.btn .fa.fa-plus::before { opacity: 0; }
.btn .fa.fa-plus {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_undo.svg');
    transform: rotate(45deg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.btn.xi-btn-primary .fa.fa-plus {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_table_add_schedule_02.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.btn.xi-btn-primary .fa-search {
    height: 20px;
    width: 20px;
    margin-left: 0;
    color: transparent;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_info_02.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#btn_PulsanteNuovaRiga .fa.fa-plus::before { opacity: 0; }
#btn_PulsanteNuovaRiga .fa.fa-plus {
    height: 24px !important;
    width: 24px !important;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_table_add_row_single_02.svg') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


/** ICONE ANAGRAFICHE **/
.icon-tab { padding-right: 5px; width: 32px; height: 32px; }
i.icon-tab-azienda { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_imprese_off.svg'); }
i.icon-tab-centri { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_centri_off.svg'); }
i.icon-tab-catasto { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_catasto_off.svg'); }
i.icon-tab-campi { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_campi_off.svg'); }
i.icon-tab-appezzamenti { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_appezzamenti_off.svg'); }
i.icon-tab-impianti { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_impianti_off.svg'); }
/*i.icon-tab-esercizi { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab__off.svg'); }*/
i.icon-tab-fabbricati { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_fabbricati_off.svg'); }
i.icon-tab-contatti { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_contatti_off.svg'); }
i.icon-tab-macchine { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_macchine_off.svg'); }
i.icon-tab-stalle { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_stalle_off.svg'); }
i.icon-tab-gruppi { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_gruppi_off.svg'); }
i.icon-tab-capi { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_capi_off.svg'); }
i.icon-tab-dss { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_dssmeteo_off.svg'); }
i.icon-tab-prodotti { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_prodotti_off.svg'); }
li.k-active i.icon-tab-azienda { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_imprese.svg'); }
li.k-active i.icon-tab-centri { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_centri.svg'); }
li.k-active i.icon-tab-catasto { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_catasto.svg'); }
li.k-active i.icon-tab-campi { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_campi.svg'); }
li.k-active i.icon-tab-appezzamenti { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_appezzamenti.svg'); }
li.k-active i.icon-tab-impianti { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_impianti.svg'); }
/*li.k-active i.icon-tab-esercizi { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_.svg'); }*/
li.k-active i.icon-tab-fabbricati { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_fabbricati.svg'); }
li.k-active i.icon-tab-contatti { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_contatti.svg'); }
li.k-active i.icon-tab-macchine { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_macchine.svg'); }
li.k-active i.icon-tab-stalle { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_stalle.svg'); }
li.k-active i.icon-tab-gruppi { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_gruppi.svg'); }
li.k-active i.icon-tab-capi { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_capi.svg'); }
li.k-active i.icon-tab-dss { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_dssmeteo.svg'); }
li.k-active i.icon-tab-prodotti { content: url('../AB_Immagini/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_prodotti.svg'); }

/** ICONE FILE TYPE **/
td .fa.fa-file-zip-o::before, .k-file .file-wrapper .fa-file-zip-o::before, .k-i-file-zip::before {
    opacity: 0;
}

td .fa.fa-file-zip-o, .k-file .file-wrapper .fa-file-zip-o, .k-i-file-zip {
    height: 32px;
    width: 32px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-type-files/ic_file_zip.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

td .fa.fa-file-pdf-o::before, .k-file .file-wrapper .fa-file-pdf-o::before, .k-i-file-pdf::before {
    opacity: 0;
}

td .fa.fa-file-pdf-o, .k-file .file-wrapper .fa-file-pdf-o, .k-i-file-pdf {
    height: 32px;
    width: 32px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-type-files/ic_file_pdf.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

td .fa.fa-file-excel-o::before, .k-file .file-wrapper .fa-file-excel-o::before, .k-i-file-excel::before {
    opacity: 0;
}

td .fa.fa-file-excel-o, .k-file .file-wrapper .fa-file-excel-o, .k-i-file-excel {
    height: 32px;
    width: 32px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-type-files/ic_file_excel.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

td .fa.fa-file-word-o::before, .k-file .file-wrapper .fa-file-word-o::before, .k-i-file-word::before {
    opacity: 0;
}

td .fa.fa-file-word-o, .k-file .file-wrapper .fa-file-word-o, .k-i-file-word {
    height: 32px;
    width: 32px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-type-files/ic_file_word.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
td .fa-file-image-o::before, .k-file .file-wrapper .fa-file-image-o::before, .k-i-file-image::before {
    opacity: 0;
}
td .fa-file-image-o, .k-file .file-wrapper .fa-file-image-o, .k-i-file-image {
    height: 32px;
    width: 32px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-type-files/ic_file_image.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
td .fa-file-text-o::before, .k-file .file-wrapper .fa-file-text-o::before, .k-i-file-text::before {
    opacity: 0;
}
td .fa-file-text-o, .k-file .file-wrapper .fa-file-text-o, .k-i-file-text {
    height: 32px;
    width: 32px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-type-files/ic_file_txt_generic.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
td .fa-file-powerpoint-o::before, .k-file .file-wrapper .fa-file-powerpoint-o::before, .k-i-file-powerpoint::before {
    opacity: 0;
}
td .fa-file-powerpoint-o, .k-file .file-wrapper .fa-file-powerpoint-o, .k-i-file-powerpoint {
    height: 32px;
    width: 32px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-type-files/ic_file_powerpoint.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
/** EDIT PRODOTTO */
#prodotto_Edit_UC_SalvaEsci i {
    background-image: url('../AB_Immagini/custom-icons/icon-buttons/ic_options_save_and_exit_type01.svg') !important;
}

/*****  DSS  *****/
/* irrigazione */
/* modifica icona ? con la i di informazioni */
#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params span.fa-question-circle:before {
    width: 0;
    opacity: 0;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params span.fa-question-circle {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_details_info_02_blue.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: #002850 !important;
    margin-right: 0;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params .overflow-ellipsis {
    padding-top: 8px;
    font-size: 12px;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params span.fa-exclamation-triangle:before {
    opacity: 0;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params span.fa-exclamation-triangle {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_modal_alert_warning_trasp.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: transparent !important;
    margin-right: 0;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params .data-start .k-button {
    font-size: 12px;
}

#DSS_Irrigazione_Indicatori span.fa.fa-warning.fa-2x, #DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body div .k-block div span.fa.fa-warning.fa-2x {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_modal_alert_warning.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: transparent !important;
    margin-right: 0;
}

#DSS_Irrigazione_Indicatori i.fa-calendar, #DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body div .k-block div i.fa-calendar {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_calendar_kendo_red_circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: transparent !important;
    margin-right: 0;
}

#DSS_Irrigazione_Indicatori .indic-body .grid-params .data-start.not-valid .k-button .fa-calendar::before {
    opacity: 0;
}

#DSS_Irrigazione_Indicatori .indic-body .grid-params .data-start.not-valid .k-button .fa-calendar {
    vertical-align: middle;
    height: 18px;
    width: 18px;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_calendar_kendo_red.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: transparent !important;
    margin-right: 0;
}

#DSS_Irrigazione_Indicatori i.fa-stack-2x {
    opacity: 0;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block .indic-collapsible:not(.collapsed) {
    font-size: 16px;
    background-color: #002850 !important;
    color: #FFF !important;
    border-radius: 0.375rem;
}

.dot-pulse {
    background-size: 75px;
    background-image: url(../AB_Immagini/Varie/loader_w.gif) !important;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent !important;
    width: 75px !important;
    height: 75px !important;
    position: initial !important;
}

    .dot-pulse::after, .dot-pulse::before {
        opacity: 0 !important;
    }


#invia_dati_altro_sito {
    background-color: #002850;
    color: #FFF;
    border: 1px solid #002850;
}

#invia_dati_altro_sito .fa.fa-tree::before {
    opacity: 0;
}

#invia_dati_altro_sito .fa.fa-tree {
    background-image: url(../AB_Immagini/custom-icons/icon-buttons/ic_options_save_edit_schedule_01.svg);
    font-size: 14px;
    width: 28px;
    height: 28px;
}
