@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.d-none, .gias-display-none { display: none !important; }

.gias-default-text, .xonne-default-text {
    text-align: start !important;
    font-family: 'Lato', sans-serif;
    color: #575757;
    font-size: 14px;
}

.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20, .gias-mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }

.text-align-center { text-align: center; }
.gias-font-size-14px { font-size: 14px !important; }

.gias-dotted-box-green {
    border: 1px solid green;
    border-radius: 4px;
    border-style: dotted;
    border-left: 4px solid green;
    padding-left: 12px;
}

.gias-max-w-250 { max-width: 250px; }
.gias-col-100 { width: 100%; }
.gias-bg-white { background-color: white !important; }

.gias-flex-justify-end {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.gias-flex { display: flex; gap: 1rem; }
.gias-col-no-gutters { padding: 0 !important; }
.gias-jumbotron-0 { padding: 0 !important; }

.gias-table-plain { box-shadow: none !important; padding: 0 !important; }
.gias-panel-plain { box-shadow: none !important; padding: 0 !important; }

/*.gias-border-white { border-color: white !important; }*/
.gias-pb-1 { padding-bottom: 1rem !important; }
.gias-max-w-200, .xo-max-w-200 { max-width: 200px; }
.gias-margin-top-15px, .xo-margin-top-15px { margin-top: 15px !important; }
.gias-width-auto, .xo-width-auto { width: auto !important; }

.gias-padding-right-30px, .xo-padding-right-30px { padding-right: 30px !important; }
.gias-padding-right-22-5px, .xo-padding-right-22-5px { padding-right: 22.5px !important; }
.gias-padding-top-0, .xo-padding-top-0 { padding-top: 0 !important; }
.gias-p-x-15px, .xo-p-x-15px { padding-left: 15px; padding-right: 15px; }
.gias-padding-bottom-0, .xo-padding-bottom-0 { padding-bottom: 0 !important; }
.gias-padding-y-15px, .xo-padding-y-15px { padding-left: 15px !important; padding-right: 15px !important; }
.gias-px-0 { padding-left: 0 !important; padding-right: 0 !important; }
.gias-p-x-30px, .xo-p-x-30px {
    padding-left: 30px;
    padding-right: 30px;
}

.gias-margin-y-15px, .xo-margin-y-15px { margin-left: 15px !important; margin-right: 15px !important; }
.gias-row-flex-bottom, .xo-row-flex-bottom { display: flex; align-items: flex-end; }

.gias-mr-1, .xo-mr-1 { margin-right: 1rem; }
.gias-ml-1, .xo-ml-1 { margin-left: 1rem; }
.gias-mt-1, .xo-mt-1 { margin-top: 1rem; }
.gias-mb-1, .xo-mb-1 { margin-bottom: 1rem; } 
.gias-mr-2, .xo-mr-2 { margin-right: 2rem; } 
.gias-ml-2, .xo-ml-2 { margin-left: 3rem; }
.gias-mt-2, .xo-mt-2 { margin-top: 2rem; }
.gias-mb-2, .xo-mb-2 { margin-bottom: 2rem; }

.gias-pt-15px { padding-top: 15px; }
.gias-cursor-pointer { cursor: pointer !important; }

.gias-section { margin-bottom: 0 !important; }
.gias-section-title > b, .xo-section-title > b {
    color: #002D5A;
    font-weight: 600;
    font-size: 18px;
    text-align: left !important;
    margin-left: 30px;
}

.xo-button-horizontal {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.k-i-x::before { content: none !important; }
.btn-icon { cursor: pointer !important; }

.xi-title {
    font-family: Lato, sans-serif;
    color: #002850;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.xi-form-action { margin-top: 36px; }

.gias-border-white {
    border: 1px solid white !important;
}

/* ELEMENTI DA MIGRARE */
.xonne-btn-right { text-align: right; }
.xonne-tab-group { margin-top: 20px !important; width: 100%; padding: 0; }
.xonne-tab-50 { width: 50%; }
.xonne-tab.k-selected, .xonne-tab.k-selected:focus { background-color: #002850 !important; color: white !important; }


.d-none { display: none !important; }

/* ---- LAYOUT ---- */

.gias-container-margin-x {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.gias-container-margin-y {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.gias-container-padding-x {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.gias-container-padding-y {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.gias-content-padding-y {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.gias-content-padding-x {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.gias-toolbar-margin-y {
    margin-bottom: 0.5rem !important;
}

.gias-full-width-with-margin-x {
    width: calc(100% - 2rem) !important;
}

.gias-content-no-padding-x {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.gias-zootecnia-anagrafiche-fabbricato-dati-accessori-periodo-attivita .checkbox {
    padding-left: 15px;
}

.gias-zootecnia-anagrafiche-fabbricato-dati-accessori-periodo-attivita .container-info {
    margin-bottom: 0;
}

.gias-content-padding-bottom {
    margin-bottom: 0.5rem !important;
}

.gias-content-no-padding-right {
    padding-right: 0;
}

.gias-zootecnia-anagrafiche-fabbricato-dati-accessori-codici-anagrafici-tabella {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(50% - 30px);
}

.gias-zootecnia-anagrafiche-fabbricato-dati-accessori-codici-anagrafici #btn_Aggiungi_Codice i {
    display: none;
}

.gias-default-font-size {
    font-size: 14px !important;
}

.gias-default-button-size-x {
    width: 32px;
}