.gias-audit-list-container { border-color: white !important; }
.gias-audit-edit-profilo-container { border-color: white !important; }

.gias-audit-list-container .gias-table-plain .k-grid-search {
    margin-right: 1rem !important;
}

.gias-audit-list-container .fa-file-text-o.btnDoc {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_options_documents_manage_03.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.gias-audit-list-container .fa-file-text-o.btnDoc:hover {
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_options_documents_manage_03_on.svg');
}

.gias-audit-list-container .fa-paperclip.btnDoc {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_options_upload_file_02.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.gias-audit-list-container .fa-paperclip.btnDoc:hover {
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_options_upload_file_02_on.svg');
}

.gias-audit-list-container .fa-file-zip-o.btnDoc {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_options_download_file_02.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.gias-audit-list-container .fa-file-zip-o.btnDoc:hover {
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_options_download_file_02_on.svg');
}

.gias-audit-list-container tr .fa-pencil {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_options_edit_schedule.svg')!important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.gias-audit-list-container tr .fa-pencil:hover {
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_options_edit_schedule_on.svg')!important;
}

.gias-audit-list-container .status-icon { border: 2px solid transparent !important; }

.gias-audit-list-container .stato0 { background-color: #4FD5D3; }
.gias-audit-list-container .stato1 { background-color: #8DCC00; }
.gias-audit-list-container .stato2 { background-color: #F26B60; }
.gias-audit-list-container .stato3 { background-color: #F8DD6E; }
.gias-audit-list-container .stato4 { background-color: #F2A960; }
.gias-audit-list-container .stato5 { background-color: black; }
.gias-audit-list-container .stato6 { background-color: #FC96C9; }

.gias-audit-list-container .stato_0 { background-color: #4FD5D3; }
.gias-audit-list-container .stato_1 { background-color: #8DCC00; }
.gias-audit-list-container .stato_2 { background-color: #F26B60; }
.gias-audit-list-container .stato_3 { background-color: #F8DD6E; }
.gias-audit-list-container .stato_4 { background-color: #F2A960; }
.gias-audit-list-container .stato_5 { background-color: lightgray; }
.gias-audit-list-container .stato_6 { background-color: black; }

.gias-audit-list-container .stato500 { background-color: #a5a5a5; }
.gias-audit-list-container .stato501 { background-color: gold; }
.gias-audit-list-container .stato502 { background-color: #ED7D31; }
.gias-audit-list-container .stato503 { background-color: green; }
.gias-audit-list-container .stato504 { background-color: red; }
.gias-audit-list-container .stato505 { background-color: black; }
.gias-audit-list-container .stato506 { background-color: black; }
.gias-audit-list-container .stato507 { background-color: #FF33CC; }
.gias-audit-list-container .stato508 { background-color: darkseagreen; }
.gias-audit-list-container .stato509 { background-color: darkviolet; }
.gias-audit-list-container .stato510 { background-color: brown; }
.gias-audit-list-container .stato511 { background-color: #5B9BD5; }
.gias-audit-list-container .stato512 { background-color: blueviolet; }
.gias-audit-list-container .stato513 { background-color: #5B9BD5; }
.gias-audit-list-container .stato514 { background-color: green; }
.gias-audit-list-container .stato515 { background-color: red; }

.gias-audit-list-container .stato_500 { background-color: #a5a5a5; }
.gias-audit-list-container .stato_501 { background-color: gold; }
.gias-audit-list-container .stato_502 { background-color: #ED7D31; }
.gias-audit-list-container .stato_503 { background-color: green; }
.gias-audit-list-container .stato_504 { background-color: red; }
.gias-audit-list-container .stato_505 { background-color: black; }
.gias-audit-list-container .stato_506 { background-color: black; }
.gias-audit-list-container .stato_507 { background-color: #FF33CC; }
.gias-audit-list-container .stato_508 { background-color: darkseagreen; }
.gias-audit-list-container .stato_509 { background-color: darkviolet; }
.gias-audit-list-container .stato_510 { background-color: brown; }
.gias-audit-list-container .stato_511 { background-color: #5B9BD5; }
.gias-audit-list-container .stato_512 { background-color: blueviolet; }
.gias-audit-list-container .stato_513 { background-color: #5B9BD5; }
.gias-audit-list-container .stato_514 { background-color: green; }
.gias-audit-list-container .stato_515 { background-color: red; }


/*
.gias-audit-list-container .stato500 { background-color: #4FD5D3; }
.gias-audit-list-container .stato503 { background-color: #8DCC00; }
.gias-audit-list-container .stato504 { background-color: #F26B60; }
.gias-audit-list-container .stato501 { background-color: #F8DD6E; }
.gias-audit-list-container .stato502 { background-color: #F2A960; }
.gias-audit-list-container .stato506 { background-color: black; }
.gias-audit-list-container .stato505 { background-color: #FC96C9; }
.gias-audit-list-container .stato507 { background-color: #FC96C9; }*/

.gias-audit-edit-profilo-container #btnAnnullaModifiche .k-icon.k-i-close {
    height: 24px;
    width: 24px;
    color: transparent;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_exit_no_save.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.gias-audit-edit-profilo-container #btnAnnullaModifiche:hover .k-icon.k-i-close { background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_exit_no_save_white.svg); }

/* Pagina edit audit 
    .gias-audit-edit-audit-container
*/
.gias-audit-edit-audit-container #btnAnnullaModifiche .k-icon.k-i-close,
.gias-audit-edit-audit-container #btnAnnullaModifiche2 .k-icon.k-i-close {
    height: 24px;
    width: 24px;
    color: transparent;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_exit_no_save.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.gias-audit-edit-audit-container #btnAnnullaModifiche:hover .k-icon.k-i-close,
.gias-audit-edit-audit-container #btnAnnullaModifiche2:hover .k-icon.k-i-close {
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_exit_no_save_white.svg);
}

.gias-audit-edit-audit-container .form-control { font-size: 14px !important; }

.gias-table-check-list .gias-audit-description {
    font-size: 14px;
    font-weight: 800;
    color: #002850;
}
.gias-table-check-list .gias-audit-chip {
    min-width: 130px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 40px;
    font-size: 95%;
    margin-right: 10px;
}
.gias-table-check-list .gias-audit-doc-info {
    font-size: 12px;
    font-style: normal;
    color: #3a3a3a;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
}

.gias-table-check-list .gias-audit-download-image {
    content: url("../AB_Immagini/custom-icons/icon-table/ic_options_download_file_02.svg");
}


.gias-table-check-list .gias-audit-upload-image {
    content: url("../AB_Immagini/custom-icons/icon-table/ic_options_upload_file_02.svg");
}

.gias-audit-edit-audit-container #btnSalvaEsci .k-icon.k-i-check::before { display: none; }
.gias-audit-edit-audit-container #btnSalvaEsci .k-icon.k-i-check {
    height: 24px;
    width: 24px;
    margin-left: 0;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-buttons/ic_options_btnsave_type03_saveexit_on.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.gias-audit-edit-audit-container .gias-audit-disposizioni-row,
.gias-audit-edit-audit-container .gias-audit-disposizioni-row th,
.gias-audit-edit-audit-container .gias-audit-disposizioni-row td {
    background-color: white !important;
    color: #002850;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.gias-audit-edit-audit-container .gias-audit-toggle-section-header,
.gias-audit-edit-audit-container .gias-audit-disposizioni-title {
    color: white;
    font-weight: 600;
}
.gias-audit-edit-audit-container .gias-audit-toggle-section-header td,
.gias-audit-edit-audit-container .gias-audit-disposizioni-title td,
.gias-audit-edit-audit-container .gias-audit-toggle-section-header th,
.gias-audit-edit-audit-container .gias-audit-disposizioni-title th {
    background-color: #002850 !important;
    text-transform: uppercase;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.gias-audit-profilazione-title-row { border: 1px solid #002850; color: #002850; }
.gias-audit-profilazione-title-row th { background-color: white !important; }

.gias-audit-important-row {
    background-color: #002850 !important;
    text-transform: uppercase;
    color: white;
}
/* FINE pagina edit audit */
/* INIZIO pagina PROFILAZIONE AZIENDA */
.gias-audit-edit-profilo-container #gridDomandeInterviste label.k-checkbox-label {
    display: none;
}

.gias-audit-edit-profilo-container #gridDomandeInterviste tbody tr:first-child td {
    background-color: #002850 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.gias-audit-edit-profilo-container #gridDomandeInterviste #btnDeselectAll .k-icon.k-i-close {
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_undo.svg');
    height: 28px;
    width: 28px;
}
.gias-audit-edit-profilo-container #txtProfilo { padding: 6px 12px; border: 1px solid #bbb; }
.gias-audit-edit-profilo-container #txtProfilo:focus-within { box-shadow: none !important; border-color: #002850 !important; }
.gias-audit-edit-profilo-container #txtProfilo:focus-visible { outline: none !important; }
/* FINE pagina PROFILAZIONE AZIENDA */

/* INIZIO Popup riduzione */
#windowRiduzione {
    font-size: 14px;
    padding: 1rem;
}
#windowRiduzione table { border-collapse: separate; }
#windowRiduzione table thead tr th {
    background-color: #00285A;
    color: white;
    line-height: 28px;
    vertical-align: middle;
}
#windowRiduzione table tbody tr td.danger {
    background-color: white;
    color: #d52b1e !important;
    text-align: center;
    padding: 1rem;
    border: 2px solid red !important;
    font-weight: bold;
    border-radius: 8px;
}

#windowRiduzione table thead tr:first-child th:first-child { border-top-left-radius: 8px!important; border-bottom-left-radius: 8px; }
#windowRiduzione table thead tr:first-child th:last-child { border-top-right-radius: 8px; border-bottom-right-radius: 8px; }

/* FINE Popup riduzione */

/* INIZIO pagina stampe */
.gias-audit-print-container table tr.active td {
    background-color: #002850 !important;
    color: white;
    text-transform: uppercase;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
/* FINE pagina stampe */