/* Controllo di Gestione */
button .k-svg-i-cancel {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    color: transparent;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-table/ic_table_editback_row_single.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

button .k-svg-i-plus {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    color: transparent;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-table/ic_table_add_row_single_02.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.k-button .k-icon, .k-button .k-image, .k-button .k-sprite {
    color: inherit;
    align-self: center;
    pointer-events: none;
}

/* forms */
.k-svg-i-calendar {
    width: 26px;
    height: 26px;
    min-width: auto !important;
}

/*****  DSS  *****/
/* irrigazione */
/* modifica icona ? con la i di informazioni */
#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params span.fa-question-circle:before {
    width: 0;
    opacity: 0;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params span.fa-question-circle {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_details_info_02_blue.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: #002850 !important;
    margin-right: 0;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params .overflow-ellipsis {
    padding-top: 8px;
    font-size: 12px;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params span.fa-exclamation-triangle:before {
    opacity: 0;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params span.fa-exclamation-triangle {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_modal_alert_warning_trasp.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: transparent !important;
    margin-right: 0;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body .grid-params .data-start .k-button {
    font-size: 12px;
}

#DSS_Irrigazione_Indicatori span.fa.fa-warning.fa-2x, #DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body div .k-block div span.fa.fa-warning.fa-2x {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_modal_alert_warning.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: transparent !important;
    margin-right: 0;
}

#DSS_Irrigazione_Indicatori i.fa-calendar, #DSS_Irrigazione_Indicatori .indic-hdr .k-block div.collapse .indic-grid .k-block.k-shadow.indic-elem .indic-wrapper .indic-body div .k-block div i.fa-calendar {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_calendar_kendo_red_circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: transparent !important;
    margin-right: 0;
}
#DSS_Irrigazione_Indicatori .indic-body .grid-params .data-start.not-valid .k-button .fa-calendar::before { opacity: 0; }
#DSS_Irrigazione_Indicatori .indic-body .grid-params .data-start.not-valid .k-button .fa-calendar {
    vertical-align: middle;
    height: 18px;
    width: 18px;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_calendar_kendo_red.svg);
}

.fa-globe, .bar-menu-page .fa-sitemap, .bar-menu-page .fa-calendar-o, .bar-menu-page .fa-clock-o, #anagArea .fa-pencil {
    color: #002D5A !important;
}

#btnEditAnnulla .fa-ban::before {
    opacity: 0;
}

#btnEditAnnulla .fa-ban {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-general/ic_options_exit_no_save.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: transparent !important;
    margin-right: 0;
}

#DSS_Irrigazione_Indicatori i.fa-stack-2x {
    opacity: 0;
}

#DSS_Irrigazione_Indicatori .indic-hdr .k-block .indic-collapsible:not(.collapsed) {
    font-size: 16px;
    background-color: #002850 !important;
    color: #FFF !important;
    border-radius: 0.375rem;
}

.dot-pulse {
    background-size: 75px;
    background-image: url(../AB_Immagini/Varie/loader_w.gif) !important;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent !important;
    width: 75px !important;
    height: 75px !important;
    position: initial !important;
}

.dot-pulse::after, .dot-pulse::before {
    opacity: 0 !important;
}

#container-notifica-edit > div {
    border: 1px solid #D90D1D !important;
    padding: 16px;
}

    #container-notifica-edit > div > span {
        vertical-align: middle;
        height: 32px;
        width: 32px;
        position: relative;
        background-image: url(../AB_Immagini/custom-icons/icon-buttons/ic_modal_alert_error.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        color: transparent !important;
        margin-right: 16px;
    }
.k-svg-i-calendar {width:26px; height: 26px; min-width: auto !important;}
