.login-title {
    border-bottom: #f1f1f1 1px solid;
}

.xo-login-eye {
    background-color: white;
    border: 1px solid #428BCA;
    border-left: none;
    border-color: #052747;
}

.xo-login-eye button,
.xo-login-eye a {
    color: #052747;
}

.xo-login-password,
.xo-login-password:focus {
    border-right: none;
    border-color: #052747;
    box-shadow: none;
}

.input-group {
    width: 100%;
}


.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn:focus,
.input-group .form-control:last-child,
.input-group .form-control:last-child:focus {
    border-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-color: #052747;
    box-shadow: none;
}

.input-group-addon.control-label {
    background: none;
    border: none;
    display: block;
    text-align: left !important;
    padding-left: 0;
    font-weight: bold;
    color: #052747;
}

#scaricaChrome {
    display: none !important;
}

.btn-default {
    border-color: #052747;
}

button[name="btnReimpostaPassword"],
button[name="btnReimpostaPassword"]:hover,
button[name="btnReimpostaPassword"]:active,
button[name="btnReimpostaPassword"]:focus,
#boxTornaAllaLogin input,
#boxTornaAllaLogin input:hover,
#boxTornaAllaLogin input:active,
#boxTornaAllaLogin input:focus,
input#button1,
#btnSPID {
    padding: 5px 10px;
    font-size: 15px;
    margin-top: 4rem;
    background: #052747;
    border-color: #052747;
}

.bottom-links .btnAsLink {
    text-decoration: underline;
    color: #052747;
}

.bottom-links .row {
    display: inline-block;
}

.bottom-links > .row:first-child {
    border-right: #052747 solid 1px;
    padding-right: 6px;
}

.bottom-links {
    text-align: right;
}

i#iconEsito {
    font-size: 2rem;
    margin-right: 1rem;
}

div#boxMessaggiAgronica {
    background-color: #78B72D;
    text-align: left;
    border-radius: 50px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div#expiredSession {
    color: #D52B1E;
    font-weight: bold;
    padding: 10px 2px 10px 2px;
    background-color: white;
    text-align: left;
    border-radius: 50px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #D52B1E;
}

div#expiredSession > span {
    color: #D52B1E !important;
}

#descDominioScelto,
#lbl_cmb_server {
    font-size: 23px !important;
    color: #052747;
}

#boxEsito {
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-radius: 50px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esitoErrore {
    border: 2px solid #D52B1E;
    color: #D52B1E;
    background-color: white;
}

.esitoSuccesso {
    background-color: #78B72D;
    border: none;
    color: white;
}


.troubleLoginDataRow {
    display: flex;
    align-items: flex-end;
    column-gap: 1rem;
}

    .troubleLoginDataRow input,
    .troubleLoginDataRow input:focus {
        border: #052747 1px solid;
        border-radius: 4px;
        border-bottom-right-radius: 4px!important;
        border-top-right-radius: 4px!important;
        box-shadow: none;
    }

.troubleLoginDataRow button:hover,
.troubleLoginDataRow button:active,
.troubleLoginDataRow button:focus,
.troubleLoginDataRow button {
    padding: 5px 10px;
    font-size: 14px;
    background: #052747;
    border-color: #052747;
}

.btnAsLink {
    border: none;
    background: none;
    padding: 0;
    text-decoration: underline;
    color: #052747;
}

.btnAsLink.withBorderRight {
    border-right: #052747 solid 1px;
    padding-right: 6px;
}

.boxEsitoContainer {
    display: flex;
    justify-content: center;
}

#boxReimpostaPassword > div,
#boxRecuperaUsername > div,
#boxFormReimpostaPassword > div {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #052747;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #16181b;
    background-color: #e9ecef;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: white;
}

#pnlLogin .dropdown-menu { margin-top: 8px; }
@media screen and (max-height: 849px) {
    #wrap_master {
        margin: 0 auto !important;
    }
}

.k-input.k-focus,
.k-input:focus,
.k-widget.k-input.k-focus,
.k-widget.k-input:focus,
.k-input:focus-within,
.k-widget.k-input:focus-within {
    box-shadow: none !important;
    border-color: #002850 !important;
    color: #575757 !important;
}

.k-icon.k-i-search::before {
    opacity: 0;
}

.k-icon.k-i-search {
    height: 32px;
    width: 32px;
    color: transparent;
    background-image: url('../AB_Immagini/custom-icons/icon-general/ic_options_details_off.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-popup .k-item,
.k-popup .k-list-optionlabel,
.k-popup .k-list-item,
.k-popup .k-nodata,
.k-listbox .k-list-item {
    font-weight: 400 !important;
    font-family: 'Lato', sans-serif;
    color: #595959;
    padding: 4px 1.5rem !important;
    background-color: transparent !important;
    border: none !important;
}

    .k-popup .k-list-item:hover,
    .k-listbox .k-list-item:hover,
    .k-listbox .k-list-item.k-selected {
        background-color: #E6ECF2 !important;
        color: #002850 !important;
        font-weight: bold;
    }

        .k-popup .k-list-item.k-selected:hover,
        .k-listbox .k-list-item.k-selected:hover {
            color: white !important;
        }

.k-popup {
    border-width: 1px;
    border-style: solid;
    background: white;
    border: 1px solid #e8e8e8;
    border-radius: 8px !important;
}

.k-popup .k-list-item.k-selected,
.k-popup .k-list-optionlabel.k-selected {
    background: inherit;
    color: white;
    box-shadow: none !important;
    background-color: #002D5A !important;
}

.k-popup .k-list-item.k-selected:hover,
.k-listbox .k-list-item.k-selected:hover {
    color: white !important;
}

.input-group > .k-picker,
.btn-group button {
    height: 30px !important;
    font-size: 14px !important;
}

.k-picker > .k-input-inner {
    padding-left: 6px !important;
}

.k-list {
    font-size: 14px !important;
}