/** header */
.rowTopHeaderButton {
    margin-top: 15px;
}
/*loader*/
.k-loading-mask .k-loading-image {
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../AB_Immagini/Varie/loader_w.gif) !important;
}
.k-loading-image::before {
    display: none;
}
/* INIZIO STILIZZAZIONE GRGLIE */

.k-table-md,
.k-grid-header th,
.k-grid-norecords {
    font-size: 14px !important;
}
span.k-pager-sizes.k-label, span.k-pager-input.k-label { font-size: 12px; }
.k-grid-pager .k-button, .k-grid-pager .k-pager-info { font-size: 12px; }
.k-grid-filter-menu.k-grid-header-menu { font-size: 9px; }
.k-grid-salvapersgrigliakendo {
    margin-left: auto;
}

.k-grid-save-command span {
    height: 28px;
    width: 28px;
    color: transparent;
    position: relative;
    background-image: url(../AB_Immagini/custom-icons/icon-table/ic_options_save.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.k-grid-save-command:hover span {
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_options_save_on.svg') !important;
}

.k-grid-cancel-command span {
    height: 28px;
    width: 28px;
    color: transparent;
    position: relative;
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_options_undo.svg') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.k-grid-cancel-command:hover span {
    background-image: url('../AB_Immagini/custom-icons/icon-table/ic_options_undo_on.svg') !important;
}
.k-grid-save-command span svg, .k-grid-cancel-command span svg {
    display: none;
}

.k-grid-header .k-sort-icon, .k-grid-header .k-sort-order {
    color: #fff !important;
}

/* TODO prestare attenzione a questo */
.k-toolbar .k-toolbar-overflow-button {
    margin-inline-start: unset;
}

.k-grid-pdf, .k-grid-excel { width: 32px; }

.k-grid .k-link { background-color: #002850 !important; }

/* FINE STILIZZAZIONE GRGLIE */

/*
    DROP DOWN LIST
*/
.k-list-md, .k-chip-md { font-size: 14px; }


/* INIZIO STILIZZAZIONE TOOLTIP */
.k-tooltip {
    font-size: 12px !important;
}
/* FINE STILIZZAZIONE TOOLTIP */

.k-panelbar-item {
    border-color: #dee2e6;
    margin-bottom: 1rem;
}

.k-panelbar-header .k-link {
    font-size: 14px !important;
    border-radius: 4px;
    background-color: #E6ECF2 !important;
    color: #002850 !important;
    height: 34px;
    border: 1px solid #002850 !important;
}

.k-panelbar-header.k-expanded .k-link {
    background-color: #002850 !important;
    color: white !important;
}

.k-panelbar .k-panelbar-item {
    border: 1px solid #cacccd !important;
    border-radius: 4px;
}

/* NOTIFICATION */

.k-notification { margin-right: 0; box-sizing: content-box; }
.k-notification-action { padding-left:0; }
.gias-notification-container.gias-notification-error + .k-notification-actions { color: #D90D1D; }
.gias-notification-container.gias-notification-warning + .k-notification-actions { color: #D90D1D; }
.gias-notification-container.gias-notification-info + .k-notification-actions { color: #002D5A; }
.gias-notification-container.gias-notification-success + .k-notification-actions { color: #002D5A; }


/* FINE NOTIFICATION */
/* FORM INPUT */
.k-datepicker .k-icon-button {
    border-width: 0;
    border-inline-start-width: 0;
    background-color: #FFF;
}
.k-calendar-md, .k-calendar-th { font-size: 14px; }
.k-upload-button-wrap .k-button {
    cursor: pointer;
}
.k-upload-button-wrap input { width: auto;}
.k-calendar .k-header > a, .k-calendar .k-header > a:hover { color: #FFF;}

.k-checkbox, .k-radio { width: 16px; height: 16px; }
.k-checkbox { border-radius: 4px; }

.k-input-spinner .k-spinner-increase, .k-input-spinner .k-spinner-decrease {
    border-inline-start-width: 0 !important;
}
.k-datetimepicker .k-button { border: 0!important; }
.k-datetimepicker .k-button .k-svg-icon.k-svg-i-clock { width: 26px; }
.k-datetimepicker input.form-control {
    border: none !important;
    border-width: 0 !important;
}

#geo-pos-edit .fa-globe {
    color: #002850 !important;
}

.k-window .window-content, .k-window .k-dialog-content, .k-window .k-dialog-content label {
    font-size: 14px !important;
}

table .k-alt {
    background-color: #F0F0F0 !important;
}
