::ng-deep .prof-imprese-row {
    display: flex;
    flex-direction: row;

    p {
        margin: 0;
    }

    >* {
        flex: 1;
    }
}

.prof-imprese-column {
    display: flex;
    flex-direction: column;
}

.prof-imprese-switch {
    display: flex;
    align-self: center;
    justify-self: center;
    height: 100%;
    align-items: center;

    div {
        align-self: center;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.gap-20 {
    gap: 20px;
}

::ng-deep #profilazione-imprese-tabstrip>.k-content.k-active {
    display: none;
}

.k-tabstrip .k-content.k-active {
    border-top: none;
}

::ng-deep #profilazione-imprese-tabstrip>.k-tabstrip-items-wrapper {
    z-index: 1;
}