.faMacchinaNuovaRisorsa {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-image: url('assets/custom-icons/icon-general/ic_options_macchinari_nuovarisorsa_on.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
