.prof-imprese-macchine {
    max-height: 500px;
}

.prof-imprese-contatti {
    max-height: 500px;
}

.prof-imprese-hours {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        margin: 0;
    }
}

button {
    border: none;
}

.faInfo:hover {
    filter: brightness(200%);
}

.dialog-grid {
    max-height: 500px;
}

.gruppo-note-dialog {
    max-width: 90vw;
    max-height: 80vh;
}

.prof-imprese-note-dialog-row {
    display: flex;
    flex-direction: row;
}

.btn-danger {
    height: 30px !important;
}