<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.1.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Gestione Eccezioni</Title>
      <Author>Vanni Costa</Author>
      <Shortcut>shortcut</Shortcut>
    </Header>
    <Snippet>
     
      
      <!-- RICORDARSI DI CAMBIARE IL LINGUAGGIO: html, jscript oppure vb -->
      <Code Language="vb">
        <![CDATA['uso questa funzione per ottenere il Messaggio..:
        MessaggioErrore = AgronicaCoreDataProvider.Gestione_Eccezioni_2015.MessaggioCompletoDataEccezione(ex, True, source:=True)

        Scrivi_LOG(objParametri, NomeRoutine, MessaggioErrore)
        DT = Nothing

        'passo l'eccezione corrente al throw come inner exception ..:
        Throw New Exception("[" & NomeRoutine & "] : " & MessaggioErrore, ex)]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>