
#tabMovimenti .watable * {
    white-space: normal; /*font-size: 9px !important;*/
}

#tabGiacenze .watable * {
    white-space: normal; /*font-size: 9px !important;*/
}

.movimenti {
    color: #5BC0DE;
    cursor: pointer;
}

.colmodmovimenti {
    min-width: 120px;
}

.info_elem {
    color: #5BC0DE;
}

#nomiMovimentidaspostare {
    max-height: 400px;
    overflow: auto;
}
