

.container {
    margin-left: 2px !important;
    margin-right: 2px !important;
    padding-left: 0px;
    padding-right: 0px;
    width: 100% !important;
}

.pulsanteDisabilitato {
    pointer-events: none;
    color: gray;
    background-color: lightgreen;
}

.kendoRiga_PP_bloccato {
    display: none
}

.kendoRiga_pp_orange {
    background-color: orange
}
.kendoRiga_pp_yellow {
    background-color: yellow
}
.kendoRiga_pp_green {
    background-color: lightgreen
}
.kendoRiga_pp_red {
    background-color: lightcoral
}
.kendoRiga_pp_red_foreWhite {
    background-color: red;
    color: white
}
.kendoRiga_pp_foreRed_Barrata {    
    color: red;
    text-decoration: line-through
}
.kendoRiga_obbligatorio {
    font-weight: bold
}

.tabellaInfo {
    border: 1px solid
}

.tabellaInfoIntestazione {
    background-color: lightgray;
    border: 1px solid
}

.tabellaInfo tr {
}

.tabellaInfo tr td {
    border: 1px solid;
    padding: 3px;
}