:host ::ng-deep .k-grid tbody tr.agendaOperazBloccata, :host ::ng-deep .k-grid tbody tr.agendaOperazBloccata:hover  {
  background-color: #ccc;
  color: #555;
}

.k-grid .k-alt.agendaOperazBloccata,
.k-grid .k-alt.agendaOperazBloccata:hover,
.k-grid .agendaOperazBloccata,
.k-grid .agendaOperazBloccata:hover  {
    background-color: #ccc!important;
    color: #555!important;
}
.agendaOperazBloccata {
  background-color: #cccccc !important;
  border:1px solid black;
}

.k-grid .k-alt.agendaOperazDaRevisionare,
.k-grid .k-alt.agendaOperazDaRevisionare:hover,
.k-grid .agendaOperazDaRevisionare,
.k-grid .agendaOperazDaRevisionare:hover  {
    background-color: yellow!important;
    color: #555!important;
}
.agendaOperazDaRevisionare {
  background-color:yellow !important;
  border:1px solid black;
}

.k-grid .k-alt.agendaOperazPianificata,
.k-grid .k-alt.agendaOperazPianificata:hover,
.k-grid .agendaOperazPianificata,
.k-grid .agendaOperazPianificata:hover  {
    background-color: #80ffff!important;
    color: #555!important;
}
.agendaOperazPianificata {
  background-color:#80ffff !important;
  border:1px solid black;
}

.btn-warning {
  color: #fff;
}

.btn-warning:hover {
  color: #000;
}

.text-spacing {
  margin-left: 3px;
  margin-right: 5px;
}


#qdcTableId tr .k-grid-content-sticky,
#qdcTableId tr .k-grid-content-sticky:hover {
  background-color: inherit;
}

#qdcTableId .k-grid tr.k-selected > td {
  background-color: rgb(153 184 217);
}

#qdcTableId tr {
  background-color: #f5f5f5;
}

.btn-black {
  background-color: #002850;
  color: white;
}


.btn-primary-outlined {
  background: none!important;
  border: solid 1px #002850 !important;
}

//DA REVISIONARE

// 0.55
.k-grid .agendaOperazDaRevisionare .k-grid-content-sticky,
.k-grid .agendaOperazDaRevisionare {
  background-color: #fbe9a2 !important;
  color: #555 !important;
  td:first-child{
      border-left: 2px solid #f2d177 !important;
  }
}

// 0.70
.k-grid .agendaOperazDaRevisionare:hover .k-grid-content-sticky,
.k-grid .agendaOperazDaRevisionare:hover {
  background-color: #f9e388 !important;
}

// 0.85
.k-grid .k-alt.agendaOperazDaRevisionare .k-grid-content-sticky,
.k-grid .k-alt.agendaOperazDaRevisionare {
  background-color: #f8dd6f !important;
}

// 1
.k-grid .k-alt.agendaOperazDaRevisionare:hover .k-grid-content-sticky,
.k-grid .k-alt.agendaOperazDaRevisionare:hover,
.legend-spacing.agendaOperazDaRevisionare,
.legend-spacing.agendaOperazDaRevisionare:hover {
  background-color: #f7d755 !important;
}

// PIANIFICATA

// 0.55
.k-grid .agendaOperazPianificata .k-grid-content-sticky,
.k-grid .agendaOperazPianificata {
  background-color: #caf9f9 !important;
  color: #555 !important;
  td:first-child{
      border-left: 2px solid #7bdddc !important;
  }
}

// 0.70
.k-grid .agendaOperazPianificata:hover .k-grid-content-sticky,
.k-grid .agendaOperazPianificata:hover {
  background-color: #bbf7f7 !important;
}

// 0.85
.k-grid .k-alt.agendaOperazPianificata .k-grid-content-sticky,
.k-grid .k-alt.agendaOperazPianificata {
  background-color: #adf6f6 !important;
}

// 1
.k-grid .k-alt.agendaOperazPianificata:hover .k-grid-content-sticky,
.k-grid .k-alt.agendaOperazPianificata:hover,
.legend-spacing.agendaOperazPianificata,
.legend-spacing.agendaOperazPianificata:hover {
  background-color: #9ef4f4 !important;
}


// BLOCCATA

// 0.55
.k-grid .agendaOperazBloccata .k-grid-content-sticky,
.k-grid .agendaOperazBloccata {
  background-color: #e5e8ea !important;
  color: #555 !important;
  td:first-child{
      border-left: 2px solid #bababa !important;
  }
}

// 0.70
.k-grid .agendaOperazBloccata:hover .k-grid-content-sticky,
.k-grid .agendaOperazBloccata:hover {
  background-color: #dee2e4 !important;
}

// 0.85
.k-grid .k-alt.agendaOperazBloccata .k-grid-content-sticky,
.k-grid .k-alt.agendaOperazBloccata {
  background-color: #d7dcdf !important;
}

// 1
.k-grid .k-alt.agendaOperazBloccata:hover .k-grid-content-sticky,
.k-grid .k-alt.agendaOperazBloccata:hover,
.agendaOperazBloccata.legend-spacing,
.agendaOperazBloccata.legend-spacing:hover {
  background-color: #d0d6d9 !important;
}

.transparentBg {
  background-color: transparent !important;
}

.legend-spacing {
  border-color: #ccc!important;
}

.k-window .k-dialog-content.k-window-content,
.k-popup .k-dialog-content.k-window-content {
    overflow: auto !important;
}
