.k-listview {
    font-family: sans-serif;
    width: 400px;
    margin: auto;
}

.header,
.footer {
    color: #a0a0a0;
    font-size: 16px;
    padding: 6px 10px;
}

.footer {
    font-size: 14px;
}

.full-width {
    width: 100%;
}

.mr-1 {
    margin-right: 1rem;
}

.save-button>button{
    height: 1.8rem;
    width: 100%;
    border-radius: 25px;
    border: solid 1px #002D5A;
    color: #002D5A;
    background: none;
    text-transform: uppercase;
}

.save-button{
    height: 1.8rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
}

.kendo-slider-trasparenza {
    width: 100%;
}
