<gis-window [windowArgs]="windowArgs" class="pb-3">
    <div>
        <kendo-label [text]="'Trasparenza' | transloco"></kendo-label><br />
        <kendo-slider class="kendo-slider-trasparenza" #sliderTrasparenza [showButtons]="false" [min]="1" [max]="100"
            [smallStep]="1" [tickPlacement]="'none'" [(ngModel)]="sliderTrasparenzaValue"
            (valueChange)="onChangeTrasparenza($event)">
        </kendo-slider>
    </div>
    <div>
        <kendo-switch #switch [(ngModel)]="infoClickMappaToggle" (valueChange)="onChangeInfoClickMappa($event)">
        </kendo-switch>
        <kendo-label [for]="switch" [text]="'gis.InformazioniSuClickInMappa' | transloco">
        </kendo-label>
    </div>
    <div>
        <p></p>
    </div>
    <div class="save-button">
        <button (click)="submit()">{{'Salva' | transloco}}</button>
    </div>
</gis-window>