.faGridToolbarIcon {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    &.faQdCCancellazioneMultipla {
        background-image: url('../../../assets/custom-icons/icon-general/ic_options_multiple_delete.svg');
    }
}

.faGridRowIcon {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &.faQdCUploadFile {
        background-image: url('../../../assets/custom-icons/icon-general/ic_options_upload_file.svg');
        &:hover {
            background-image: url('../../../assets/custom-icons/icon-general/ic_options_upload_file_on.svg');
        }
    }
    &.faQdCSearchDocument {
        background-image: url('../../../assets/custom-icons/icon-general/ic_options_search_documents.svg');
        &:hover {
            background-image: url('../../../assets/custom-icons/icon-general/ic_options_search_documents_on.svg');
        }
    }
}