.title {
    font-size: medium;
}

.menuContestualeicon {
    font-size: 1.8em;
}

.btnTemplate {
    width: 200px;
}

.k-appbar-separator {
    padding-left: 3;
    padding-right: 3;
}

.primopiano {
    z-index: 5000;
}
