.analisi-mappe-satellitari-column {
    display: flex;
    flex-direction: column;
}

.analisi-mappe-satellitari-row {
    display: flex;
    flex-direction: row;
}

.analisi-mappe-satellitari-switch {
    margin: 0;
    margin-right: 10px;
}

::ng-deep .analisi-mappe-satellitari-switch.k-switch-on .k-switch-track {
    background-color: #052747 !important;
}