.filters-container {
    align-self: flex-end;
    position: absolute;
    z-index: 3;
}

.btn.btn-primary.btn-primary-fill {
    width: 100%;
}

.right {
    float: right;
    align-self: end;
}

@media (min-width: 600px) { /* Su desktop */
    form {

    }

    kendo-drawer-container {
        position: fixed;
        width: 100%;
        height: 100%;
    }
    
    .k-drawer-expanded .k-drawer.k-drawer-end {
        width: 80% !important;
    }

    .with-padding-top {
        padding-top: 54px;
    }

    .right {
        margin-right: 0px;
    }

    .custom-toolbar button { 
        background-color: #002d5a !important;
        color: white;
        border-radius: 25px 0px 0px 25px;
        width: 66px;
        height: 50px;
    }

    .custom-toolbar {
        margin-top:-10px;
        position: fixed;
        right: 10px;
        z-index: 1000; /* Assicurati che abbia un valore di z-index abbastanza alto per stare sopra altri elementi */
    }

    .dialog-content {
        max-height: 450px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}