#tabstrip {
    z-index: 0;
    margin-bottom: 100px;
    margin-top: 0;
}

.rilievi-page {
    display: flex;
    flex-direction: column;
}

.filters-container {
    align-self: flex-end;
    position: absolute;
    z-index: 1;
}