.info-box {
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    font-size: 12pt;
    overflow-x: hidden;
}

.color-icon {
    width: 0.5rem;
    height: 2.7rem;
    min-width: 0.5rem;
    border-radius: 25px;
    display: inline-block;
    margin-right: 0.5rem;
    cursor: pointer;
}

.layer-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 45px;
}

.layer-name {
    font-size: 12pt;
    overflow: hidden;
    white-space: nowrap;
     text-overflow: ellipsis;
}

.info-icon {
    border-left: solid 1px #e4eef3;
    /*padding-bottom: 0.2rem;*/
    /*padding-top: 0.2rem;*/
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-color: white;
    cursor: pointer;
}