@use '../menu-agenda/menu-agenda.component.scss';

#tabstrip {
  z-index: 0;
  margin-bottom: 100px;
  margin-top: 0;
}

.visite-page {
  display: flex;
  flex-direction: column;
}

.filters-container {
   align-self: flex-end;
   position: absolute;
   z-index: 1;
}

// .filters-container {
//   kendo-drawer-container {
//       position: absolute;
//       z-index: 3;
//   }
// }

@media (min-width: 600px) {
    .k-popup.k-grid-filter-popup {
      width: 500px;
    }
  }