.ricerca-text {
    display: flex;
    gap: 5px;
    align-items: center;
}

h6 {
    margin-bottom: 0 !important;
}

.ricerca-prodotto-title {
    display: flex;
    justify-content: space-between;

    .card-title {
        margin: 0 !important;
    }
}

.ricerca-prodotto-title .card-subtitle,
.ricerca-prodotto-title .card-subtitle {
    margin-bottom: 0 !important;
}

.ricerca-visualizza-giacenze,
.bottone-ricerca-prodotto,
.ricerca-visualizza-magazzini-agenzie,
.ricerca-visualizza-magazzini-esterni{
    margin-left: 1rem;
}
