.attributi-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading-spinner {
    cursor: progress;
}

.submit-button {
    background-color: #002d5a;
    color: white;
}

.catasto-switch {
    display: flex;
    align-self: center;
    justify-self: center;
    gap: 10px;
}

.catasto-switch .middle {
    align-self: center;
}

::ng-deep .catasto-switch .k-switch-on .k-switch-track {
    background-color: #052747 !important;
}

::ng-deep .catasto-switch.always-on .k-switch-off .k-switch-track {
    background-color: #052747 !important;
}