tbody tr.row-azienda-padre {
  background-color: #05274733 !important;
}

.legend-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.legend-item {
  width: 10px;
  height: 10px;
  background: #008bff23;
  border: #968c8d solid 1px;
  margin: 0px 7px 0px 20px;
  border-radius: 5px;
}
