.bg_lightblue
{
    /* background-color: #C3E3FF !important; */
    background-color: #E6ECF2 !important;
}

.card::before {
    height: 0px;
}
.acqua-title {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card-text {
    padding-top: 12px;
    padding-bottom: 12px;
}

