<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.1.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Agronica - Form Orizzontale (bootstrap)</Title>
      <Author>Vanni</Author>
      <Shortcut>aect</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>id</ID>
          <ToolTip>id controllo</ToolTip>
          <Default>id</Default>
        </Literal>
        <Literal>
          <ID>titolo</ID>
          <ToolTip>titolo</ToolTip>
          <Default>Titolo</Default>
        </Literal>
        <Literal>
          <ID>body</ID>
          <ToolTip>Contenuto</ToolTip>
          <Default>Contenuto</Default>
        </Literal>


      </Declarations>
      <Code Language="html">
        <![CDATA[
        <!--  -->
        <div id="$id$" class="form-horizontal">
          <div class="form-group">
              
              
          </div>
      </div>
                                  
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>