.k-icon {
    &::before {
        opacity: 0;
    }

    margin: auto;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.icon-new-document {
    &::before {
        opacity: 0;
    }
    display: block;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-image: url('../../../assets/custom-icons/icon-general/ic_options_upload_file_on.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.icon-back {
    &::before {
        opacity: 0;
    }
    display: block;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-image: url('../../../assets/custom-icons/icon-general/ic_options_exit_no_save_white.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.icon-documents-list {
    &::before {
        opacity: 0;
    }
    display: block;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-image: url('../../../assets/custom-icons/icon-general/ic_options_search_documents_on.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-btn_elimina_campione {
    background-image: url('../../../assets/custom-icons/icon-general/ic_options_delete.svg');
}

.item-border {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.top-right-button {
    position: absolute;
    padding: 0.5rem;
    min-width: 50px;
    right: 0;
    top: 0;
    margin: 10px;
}

.container-campioni {
    position: relative;
}

.btn-delete {
    border: 1px solid red !important;
    background-color: white !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#MappaGIS {
    position: relative;
}