<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.1.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>JSDoc</Title>
      <Author>Fabrizio Paglierani</Author>
      <Shortcut>shortcut</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>Intestazione</ID>
          <ToolTip>Commento</ToolTip>
          <Default>Commento</Default>
        </Literal>
      </Declarations>
      
      <!-- RICORDARSI DI CAMBIARE IL LINGUAGGIO: html, jscript oppure vb -->
      <Code Language="jscript">
        <![CDATA[/**
* $Intestazione$
*
* @param {tipoDato} NomeParametro Descrizione
*/]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>