.k-grid .k-alt.OperazInneschiInScadenza,
.k-grid .k-alt.OperazInneschiInScadenza:hover,
.k-grid .OperazInneschiInScadenza,
.k-grid .OperazInneschiInScadenza:hover  {
  background-color: yellow!important;
  color: #555!important;
}
.OperazInneschiInScadenza {
  background-color:yellow !important;
  border:1px solid black;
}

.k-grid .OperazInneschiInScadenza .k-grid-content-sticky,
.k-grid .OperazInneschiInScadenza {
  background-color: #fbe9a2 !important;
  color: #555 !important;
  td:first-child{
    border-left: 2px solid #f2d177 !important;
  }
}

.k-grid .OperazInneschiInScadenza:hover .k-grid-content-sticky,
.k-grid .OperazInneschiInScadenza:hover {
  background-color: #f9e388 !important;
}

.k-grid .k-alt.OperazInneschiInScadenza .k-grid-content-sticky,
.k-grid .k-alt.OperazInneschiInScadenza {
  background-color: #f8dd6f !important;
}

.k-grid .k-alt.OperazInneschiInScadenza:hover .k-grid-content-sticky,
.k-grid .k-alt.OperazInneschiInScadenza:hover,
.legend-spacing.OperazInneschiInScadenza,
.legend-spacing.OperazInneschiInScadenza:hover {
  background-color: #f7d755 !important;
}


.k-grid .k-alt.OperazInneschiScaduti,
.k-grid .k-alt.OperazInneschiScaduti:hover,
.k-grid .OperazInneschiScaduti,
.k-grid .OperazInneschiScaduti:hover  {
  background-color: #ffdbe1 !important;
  color: #ffdbe1 !important;
}
.OperazInneschiScaduti {
  background-color: #ffebee !important;
  border:1px solid black;
}

.k-grid .OperazInneschiScaduti .k-grid-content-sticky,
.k-grid .OperazInneschiScaduti {
  background-color: #ffebee !important;
  color: #ffdbe1 !important;
  td:first-child{
    border-left: 2px solid !important;
  }
}

.k-grid .OperazInneschiScaduti:hover .k-grid-content-sticky,
.k-grid .OperazInneschiScaduti:hover {
  background-color: #ffdbe1 !important;
}

.k-grid .k-alt.OperazInneschiScaduti .k-grid-content-sticky,
.k-grid .k-alt.OperazInneschiScaduti {
  background-color: #ffdbe1 !important;
}

.k-grid .k-alt.OperazInneschiScaduti:hover .k-grid-content-sticky,
.k-grid .k-alt.OperazInneschiScaduti:hover,
.legend-spacing.OperazInneschiScaduti,
.legend-spacing.OperazInneschiScaduti:hover {
  background-color: #ffdbe8 !important;
}

.text-spacing {
  margin-left: 3px;
  margin-right: 5px;
}

.legend-spacing {
  width:14px;
  height:14px;
  margin-right: 1px;
  border-radius: 20px;
}
