.theme-form {
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.label-container {
    background-color: #EBEBEB;
    padding: 0.3rem 0.8rem;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

#theme-select {
    text-transform: uppercase;
    border: solid 1px #EBEBEB;
    flex: 1;
    padding: 0 0.2rem;
    color: #575757;
    height: 39px;
}

#theme-select::after {
    color: #575757;
}

.theme-form button {
    background-color: #002d5a;
    color: white;
    border: 0;
    text-transform: uppercase;
    padding: 0.2rem 0.35rem;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.theme-colors-band {
    width: 100%;
    height: 0.8rem;
    border-radius: 25px;
    margin-top: 1.5rem;
}

.bottom-numbers {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.bottom-numbers div {
    display: inline-block;
    font-size: 0.9rem;
}

.bottom-numbers div.discrete {
    display: inline-block;
    font-size: 0.75rem;
    align-self: flex-start;
}

.theme-colors-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 2rem;
}

.theme-colors-section {
    display: inline-block;
    font-size: 0.9rem;
}

.theme-colors-section .band {
    width: 100%;
    height: 0.8rem;
    border-radius: 25px;
    margin-top: 1.7rem;
}

.flex-1 {
    flex: 1;
}

.theme-colors-section-legend {
    padding-top: 0.5rem;
}

.theme-colors-settings {
    padding-top: 15px;
}

.theme-colors-settings-title {
    background-color: #002d5a;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: left;
}

.theme-colors-variance {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.theme-colors-variance-label {
    font-size: 0.9rem;
    text-align: center;
}

.theme-switch {
    display: flex;
    align-self: center;
    justify-self: center;
}

.theme-switch .middle {
    align-self: center;
    margin-right: 10px;
    margin-left: 10px;
}

.visible-colors {
    display: flex;
    align-items: baseline;
}

.bg-red {
    color: rgb(253, 66, 66)
}

.d-flex {
    display: flex !important;
}

::ng-deep .theme-switch .k-switch-off .k-switch-track,
::ng-deep .theme-switch .k-switch-on .k-switch-track {
    background-color: #052747 !important;
}

.theme-row {
    display: flex;
    justify-content: center;
}

.theme-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.color-discrete {
    width: 150px
}

.space-between {
    justify-content: space-between;
}

.discrete-commands {
    display: flex;
    justify-self: flex-end;
    position: absolute;
    right: 0;
}

.relative {
    position: relative;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-icon {
    border-left: solid 1px #e4eef3;
    border-color: white;
    cursor: pointer;
    align-self: center;
}

@media only screen and (max-width: 991px) {
    .bottom-numbers div {
        display: inline-block;
        flex: 1;
        font-size: 0.7rem;
    }
}
