.delete-feature-column {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 4px;
}

.delete-feature-column > div{
    display: flex;
    flex-flow: row;
    gap: 4px;
}

.save-button > button {
    height: 1.8rem;
    width: 100%;
    border-radius: 25px;
    border: solid 1px #002d5a;
    color: #002d5a;
    background: none;
    text-transform: uppercase;
}

.save-button > button:disabled {
    border: solid 1px grey;
    color: grey;
}

.save-button {
    height: 1.8rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

::ng-deep .complete-delete-switch.k-switch-on > .k-switch-track {
    background-color: #e57373 !important;
}