.algorithm-configuration {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

.configurations,
.messages {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.description,
.message {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.all-polygons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.message-date {
    min-width: 100px
}

h6 {
    font-size: 0.8rem;
}

h5 {
    font-size: 1.1rem;
}