section {
    margin-top: 2%;
}

.main-header {
    display: flex;
}
.main-header gias-drop-down-template-s{
    width: 90%
}
.main-header button{
    width: 5%;
    height: 35px;
    margin-top: 21px;
    color: white;
    margin-left: 2%;
    background: #002850;
}

.main-container {
    display: auto;
}

