<div class="filters-section k-p-4" [formGroup]="form">

  <div class="row k-mb-3">
    <div class="col-12">
      <gias-drop-down-template
        id="filieraDdl"
        [name]="'rischim_label_filiera' | transloco"
        giasFormControlName="filiera"
        [listItems]="filiereList"
        textField="RagioneSociale"
        valueField="Piva"
        [valuePrimitive]="true"
        [obligatory]="true"
        [filterable]="true"
        (open)="onFiliereOpen()"
        (filterChange)="handleFiliereFilter($event)">
      </gias-drop-down-template>
    </div>
  </div>

  <!-- <div class="action-buttons k-d-flex k-gap-2">
    <button kendoButton [fillMode]="'outline'" (click)="resetFilters()">
      {{ 'rischim_btn_reset' | transloco }}
    </button>
  </div> -->

</div>
