.two-label-switch-container {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    align-self: end;
}

.k-label {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    text-wrap: normal;
    max-width: 100px;
    line-height: 15px;
    text-align: center;
}
