button, button span {
    display: flex;
    align-items: center;
}

.settings-window {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.settings-window app-form-impostazioni {
    width: 100%;
}
.settings-window .btn-container {
    display: flex;
}
.settings-window .btn-container button {
    margin-left: 10px;
}
