.flex {
    display: flex;
    flex-direction: column;
}

.form-error {
    color: red;
    font-style: italic;
}

.fill-height {
    height: 100%;
}

.blue {
    color: #002D5A;
    fill: #002D5A;
}
