<ng-container
    [ngTemplateOutlet]="edit ? pwd_edit : placeholder"
></ng-container>

<ng-template #placeholder>
    <span>••••••••</span>
</ng-template>

<ng-template #pwd_edit>
    <form [formGroup]="form" class="flex">
        <div class="flex">
            <kendo-textbox #pwd formControlName="password" [placeholder]="pwdLabel" [clearButton]="false">
                <ng-template kendoTextBoxSuffixTemplate>
                    <button kendobutton class="fill-height" (click)="isPwdVisible = !isPwdVisible">
                        <fa-icon class="blue" [icon]="isPwdVisible ? faEyeSlash : faEye"></fa-icon>
                    </button>
                </ng-template>
            </kendo-textbox>
            <span class="form-error" #pwdError></span>
        </div>
        <div class="flex">
            <kendo-textbox #pwdConfirm formControlName="passwordConfirm" [placeholder]="pwdConfirmLabel" [clearButton]="false">
                <ng-template kendoTextBoxSuffixTemplate>
                    <button kendobutton class="fill-height" (click)="isPwdConfirmVisible = !isPwdConfirmVisible">
                        <fa-icon class="blue" [icon]="isPwdConfirmVisible ? faEyeSlash : faEye"></fa-icon>
                    </button>
                </ng-template>
            </kendo-textbox>
            <span class="form-error" #pwdConfirmError></span>
        </div>
    </form>
</ng-template>
