<ng-container *ngIf="inputMuz != null">
  <gias-kendo-grid #kendoGrid [customCommandColumnCellTemplate]="customCommandColumn">
    <ng-container headerContentEnd>
      <button class="btn btn-primary btn-sm btnDisabledInModifica btn-primary-fill btn-important"
        (click)="selectParticelleCatastali = true" type="button"> {{ 'Aggiungi' | transloco }}
      </button>
    </ng-container>


    <!--<kendo-grid-command-column [headerStyle]="{ 'background-color': '#428BCA', 'color': 'white' }" width="50">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <button type="button" class="btn btn-sm" size="small" [title]="'Cancella' | transloco" look="bare"
          style="color: #D41E1A;" (click)="deleteParticelleCatastali(dataItem)">
          <fa-icon size="lg" [icon]="faDelete"></fa-icon>
        </button>
      </ng-template>
    </kendo-grid-command-column>-->
  </gias-kendo-grid>

  <kendo-dialog id="select-dialog" *ngIf="selectParticelleCatastali" (close)="selectParticelleCatastali = false">
    <kendo-dialog-titlebar>
      <div class="text_uppercase font-700"> {{ 'gis.SelezionaParticelleCatastali' | transloco }}</div>
    </kendo-dialog-titlebar>

    <gis-particelle-catastali [piva]="piva" [existings]="getParticelleCatastaliIds()"
      (onAdd)="addParticelleCatastali($event)"></gis-particelle-catastali>
  </kendo-dialog>
</ng-container>

<ng-template #customCommandColumn let-dataItem="dataItem">
  <button type="button" class="btn btn-sm" size="small" [title]="'Cancella' | transloco" look="bare"
          style="color: #D41E1A;" (click)="deleteParticelleCatastali(dataItem)">
    <fa-icon size="lg" [icon]="faDelete"></fa-icon>
  </button>
</ng-template>
