ul,
ul ul {
    margin: 0 0 0;
    padding: 0;
}

ul li.active ul {
    display: block;
}

ul li a {
    text-decoration: none;
    display: block;
    outline: 0;
}

ul li a span {
    display: inline-block;
}

ul ul li {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.clickable {
    cursor: pointer;
}