
.row-footer {
    width: calc(100%); // calc(100% - 30px) original xonne
    display: block;
    float: left;
    text-align: left;
    padding: 15px;
}

.row-footer span {
    float: left;
    font-size: 12px;
    line-height: 30px;
}
