.button-row {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px #d3d3d3;
}

.button-row>div>button {
    min-width: 3rem!important;
}

.border-bottom-1 {
    border-bottom: solid 1px #d3d3d3;
}

.gis-toolbar-container {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    text-align: -webkit-center;
    text-align: -moz-center;
    left: 0;
}

.gis-toolbar {
    width: 100%;
    max-width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
    z-index: 1001;
}

.gis-toolbar button,
.dropdown-container button {
    background-color: #002d5a;
    color: white;
    border: 0;
    text-transform: uppercase;
    padding: 0.2rem 0.25rem;
}

.dropdown-container button {
    width: -webkit-fill-available;
}

.dropdown-text-container h6 {
    border-bottom: solid 1px #EBEBEB;
    padding-bottom: 0.6rem;
    margin-bottom: 0;
}

.gis-toolbar .item,
.gis-toolbar .items {
    padding: 0rem;
    margin: 0;
    width: fit-content;
    display: inline-block;
}

.gis-toolbar .items {
    display: flex;
}

.merged-elements>button {
    width: 5vw;
    min-width: 2rem;
}

.gis-toolbar .item:last-child,
.gis-toolbar .items:last-child {
    border-right: 0;
}

.gis-toolbar .items>div{
    margin-right: 1rem;
    display: flex;
    width: 100%;
}
.gis-toolbar .items input {
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: bottom;
    border-color: #d3d3d3;
    border-style: solid;
    background-color: #f5f5f5;
    font-size: 10pt;
    padding-left: 10px;
    width: -webkit-fill-available!important;
    min-width: 0;
}

.gis-toolbar .items .same-element-effect input {
    padding: 2.4px;
    padding-left: 10px;
}

.gis-toolbar .items>div:last-child{
    margin-right: 0;
}

.gis-toolbar-btn-attivo {
    background-color: red !important;
}

.left-rounded-full {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.right-rounded-full {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.border-left-0 {
    border-left: 0;
}

.border-right-0 {
    border-right: 0;
}

/* .same-element-effect button {
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #002d5a;
    border: solid 2px #d3d3d3;
    height: 35.4px;
    border-left: 0;
} */

.xo-mx-4{
    margin-right: 4px;
}

.btn-transparent {
    background-color: transparent !important;
    border: 0;
}

.dropdown-container {

}

.dropdown-text-container {
    text-align: left;
}

.dropdown-text-container h6,
.dropdown-text-container p{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
}

.dropdown-container h6 {
    text-transform: uppercase;
    color: #D52B1E;
    font-size: 0.9rem;
}

.dropdown-text-container p {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    margin-bottom: 0;
    margin-top: 0;
    color: #575757;
}

.options-row {
    border-bottom: solid 1px #EBEBEB;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.options-row.first {
    border-top: solid 1px #EBEBEB;
}

.options-row.last {
    border-bottom: none;
}

.dropdown-container hr {
    background-color: #ebebeb;
    height: 1px;
    border: none;
    opacity: 1;
}

.options-row p:last-child {
    border-left: solid 1px #EBEBEB;
}

.gis-toolbar .item, .gis-toolbar .items, .gis-toolbar .item:last-child, .gis-toolbar .items:last-child {
    padding: 0.5rem 0.8rem;
}

.gis-toolbar .items {
    width: 100%;
}

.gis-toolbar button:hover {
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 45, 90, 0.6);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0, 45, 90, 0.6);
    -o-box-shadow: 0px 1px 6px 0px rgba(0, 45, 90, 0.6);
    box-shadow: 0px 1px 6px 0px rgba(0, 45, 90, 0.6);
}
.gis-toolbar .item:last-child button:hover, .gis-toolbar .same-element-effect button:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.gis-toolbar .items input:focus, .gis-toolbar .items input:focus-visible{
    outline: 0px solid rgba(0, 45, 90, 0.6);
}

.right-rounded-full {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.xo-mx-4 {
    margin-left: 4px;
}

.k-button {
    gap: 0.1rem
}

input.latlng::placeholder {
        font-size: 0.65em;
}

.same-element-effect>input {
    width: -webkit-fill-available;
}

.mr-1 {
    margin-right: 1rem;
}


.bottom-buttons{
    width: 100%;
}

.bottom-buttons .button:first-child {
    border-right: solid 1px #d3d3d3;
}


.bottom-buttons>.button {
    width: 50%;
    display: inline-block;
    padding: 1rem;
}


@media only screen and (max-width: 400px) {
    .bottom-buttons>.button {
        width: 50%;
        display: inline-block;
        padding: 1rem 0.2rem;
    }
}

.bottom-buttons>.button>button {
    width: 100%;
    max-width: 20rem;
}

.button-row>div {
    padding: 0 0.3rem;
}

.button-row>div:first-child {
    border-right: solid 1px #d3d3d3;
}

.panel-header {
    background: #ebebeb;
    padding: 0.2rem;
}

.panel-header>div {
    width: fit-content;
    margin: 0.3rem;
    background: #B1BFCC;
    border-radius: 0.25rem;
}

.panel-header>div>div {
    display: inline-block;
    color: white;
    padding: 0.1rem 1.6rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
}
.panel-header>div>div.active {
    background-color: #002d5a;
}


.tab-open-close {
    background: #002d5a;
    position: absolute;
    right: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0.6rem;
}

.tab-open-close.open {
    background: white;
}

.gis-toolbar {
    height: 0!important;
    visibility: hidden;
}

.gis-toolbar.open {
    height: fit-content!important;
    visibility: visible;
}
