.generic-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 30px;
  width: auto;
}

.k-treeview .k-in {
  margin: 0;
  padding: 1px 4px;
}

.k-treeview>.k-textbox {
  width: 100%;
}

.k-treeview {
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
}

kendo-tree-view kendo-text-box {
  width:100%;
}

#treeContainer {
 // overflow-y: scroll;
  max-height: 100%;
}

.treeviewIconElement {
size: "lg";
vertical-align: middle
}

.faFabbricati {
  display: inline !important;
  position: absolute !important;
  left: 0px;
  top: 0px;

  .fa-leaf {
    height: 32px;
    width: 32px;
    color: transparent;
    position: relative;
    background-image: url('../../../../../assets/custom-icons/icon-section-area-tab/anagrafica/ic_anagrafica_tab_fabbricati_off.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}