
/*

.k-dialog-content input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
}

*/

html .k-dialog .k-window-titlebar {
    padding-left: 17px;
}

.selectAll {
    margin: 17px 0;
}

/*.k-dialog .k-content {
    padding: 17px;
}*/

#GIS_treeview {
    height: 300px;    
    overflow-y: auto;
    border: 1px solid #d9d9d9;
}


