.faGridToolbarIcon {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    &.faCopySingle02 {
        background-image: url('../../../../../../assets/custom-icons/icon-general/ic_options_copy_single_02_on.svg');
    }
    &.faCancellazioneMultipla {
        background-image: url('../../../../../../assets/custom-icons/icon-general/ic_options_multiple_delete.svg');
    }
}

.btn-delete {
    border: solid 1px red;
    border-radius: 5px;
    margin-left: -10px;
}
