.gias-buttons-prodotti-container {
    display: flex;
    justify-content: end;
    gap: 5px;
    align-items: center;
}

.btn-primary-fill {
    min-width: 30px !important;
}

.btn-sm {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.k-icon {
    &::before {
        opacity: 0;
    }

    margin: auto;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.btn-white-fill {
    background-color: white!important;
    border-color: #002850;
}

.k-icon.k-i-btn_profitosan {
    background-image: url('../../../../../assets/custom-icons/icon-general/ic_profitosan.svg');
}

.k-icon.k-i-btn_carico_effluenti {
    background-image: url('../../../../../assets/custom-icons/icon-general/ic_options_carico_effluenti_blue.svg');
}

.k-icon.k-i-btn_movimenti_magazzino {
    background-image: url('../../../../../assets/custom-icons/icon-general/ic_options_movimenti_magazzino_blue.svg');
}

.k-icon.k-i-btn_carico_magazzino {
    background-image: url('../../../../../assets/custom-icons/icon-general/ic_options_carico_magazzino_blue.svg');
}

.k-icon.k-i-btn_nuovo_ddt_ricevuto {
    background-image: url('../../../../../assets/custom-icons/icon-general/ic_options_btnsave_type01_savenew_blue.svg');
}

.btn.btn-primary.btn-primary-fill.btn-profitosan {
    background-color: #124022 !important;
}

@media screen and (max-width: 768px) {
    .gias-buttons-prodotti-container {
        display: flex;
        justify-content: center;
        gap: 5px;
        min-height: 46px;
        align-items: center;
    }
}
