.prof-imprese-gestione-note {
    align-self: flex-end;
}

button {
    border: none;
}

.cmd-row {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

::ng-deep .gruppo-note-dialog>.k-dialog {
    min-width: 500px;
    width: 60vw;
    max-width: 90vw;
    min-height: 500px;
}

.profilazione-imprese-note-dialog {
    max-width: 90vw;
    max-height: 80vh;
}

.cmd-row>button {
    background-color: transparent;
}

.save-button {
    max-width: 60px;
    margin-left: auto;
}