.import-page-container {
  margin: 1% 5%;
  border: lightgray 1px solid;
  border-radius: 10px;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.import-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.file-chooser-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
}

.confirm-btn {
  width: 15%;
  border-radius: 5px;
  margin-top: 20px;
}

.full-width {
  width: 100% !important;
}

.import-error {
  background-color: #ffebee;
  padding: 2%;
  border: indianred 1px solid;
  border-radius: 7px;
  h6 {
    color: rgb(200, 0, 0);
  }
}
.import-response {
  background-color: #00285010;
  padding: 2%;
  border: #002850 1px solid;
  border-radius: 7px;
}
