.faMenuZoo {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_qdc_tab_zoo.svg');
  }
  
.faGridRowIcon {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.faQdCGoToReciepe{
    background-color: green !important;
    width: 50px !important;
    height: 50px !important;
}

.faCopySingle02 {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_copy_single_02.svg');
    &:hover {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_copy_single_02_on.svg');
    }
}
.faQdCGoToReciepe {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_goto_receipt.svg');
    &:hover {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_goto_receipt_on.svg');
    }
}
.faQdCGoToReciepe2 {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_receipt_02.svg');
}
.faQdCUploadFile {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_upload_file.svg');
    &:hover {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_upload_file_on.svg');
    }
}
.faQdCSearchDocument {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_search_documents.svg');
    &:hover {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_search_documents_on.svg');
    }
}
.faQdCSaveGoCost {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_save_gotocosts.svg');
    &:hover {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_save_gotocosts_on.svg');
    }
    .btn-warning {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_save_gotocosts_warning.svg');
        &:hover {
            background-image: url('../../../../assets/custom-icons/icon-general/ic_options_save_gotocosts_warning_on.svg');
        }
    }
}
.faQdCRowBrogliaccio {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_brogliaccio.svg');
    &:hover {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_brogliaccio_on.svg');
    }
}
.faQdCRowQdC {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_qdc.svg');
    &:hover {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_qdc_on.svg');
    }
}
.faQdCRowGotoQdC {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_goto_qdc.svg');
    &:hover {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_goto_qdc_on.svg');
    }
}
.faQdCRowGotoBrogliaccio {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_goto_brogliaccio.svg');
    &:hover {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_goto_brogliaccio_on.svg');
    }
}
.faQdCRowPrintReceipt {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_print_receipt.svg');
    &:hover {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_print_receipt_on.svg');
    }
}
.faQdCRowPrintOdL {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_print_ordinidilavoro.svg');
    &:hover {
        background-image: url('../../../../assets/custom-icons/icon-general/ic_options_print_ordinidilavoro_on.svg');
    }
}