<h5 class="card-title">{{ 'Vincoli' | transloco }}</h5>

<div class="row form-row">
  <div class="col-12 col-sm-6 col-md-6">
    <gias-drop-down-template-s
      [name]="'UtilizzoDelTerreno' | transloco"
      textField="descrizione"
      valueField="codice"
      (open)="openDdl($event)"
      [formGroup]="constrainDdlForm"
      giasFormControlName="useOfLand"
      [filterable]="true"
      [valuePrimitive]="false">
    </gias-drop-down-template-s>
  </div>

  <div class="col-12 col-sm-6 col-md-6">
    <gias-drop-down-template-s
      [name]="'Vincolo' | transloco"
      textField="descrizione"
      valueField="codice"
      (open)="openDdl($event)"
      [formGroup]="constrainDdlForm"
      giasFormControlName="constrain"
      [filterable]="true"
      [valuePrimitive]="false"
    >
    </gias-drop-down-template-s>
  </div>
</div>

<div class="agricultural-exercise-constrain-msg-text">
  <h6>{{ 'SelectedAgriculturalExercices' | transloco }}</h6>
</div>

<app-listview
  [data$]="rows$"
  [height$]="listViewHeight$"
  [removeDataItem$]="removeDataItem$"
  [resetStates$]="resetStates$"
  deleteBtnTitle="EliminaAssociazione"
  removeBtnTitle="RemoveRowFromList"
  [loading$]="loading$"
></app-listview>

<div class="agricultural-exercise-constrain-btn">
    <button
      kendoButton
      class="bottom btn btn-primary btn-primary-fill"
      fillMode="outline"
      [disabled]="disableSubmitBtn()"
      (click)="submit()"
    >
      {{ 'UpdateConstrain' | transloco }}
    </button>
</div>
