h1 {
  font-size: 1.2rem;
  margin-top: -20px;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

h3 {
  font-size: 0.8rem;
  font-weight: 800;
  color: inherit;
}

p {
  margin: 0px;
}

main {
  height: 535px;
  overflow: hidden;
}
header {
  box-shadow: none;
}

section {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 50%;
  height: 440px;
  overflow: hidden;
}

.tool-header {
  display: flex;
  justify-content: space-between;
}

.card-shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

.btns-container {
  display: flex;
  gap: 10px;
}

.border_blue {
  border: 1px solid;
}
.bg_blue {
  color: white;
}

.action-button {
  border-radius: 50px;
  padding: 2px 15px;
  height: fit-content;
  cursor: pointer;
}

.row-container {
  display: flex;
  gap: 20px;
}

.favorites-container header {
  height: 95px;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 55px;
}

.padding-20 {
  padding: 20px;
}

.margin-20 {
  margin: 20px;
}

.operations-search-header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.search-op {
  width: 100%;
  background: #f0f0f0;
  border-radius: 50px;
  display: flex;
  padding: 0px 5px;
  height: 2.2rem;
  span {
    margin-top: -4px;
  }
  input {
    border: none;
    background: transparent;
    width: 100%;
  }
}

.el-list {
  height: 300px;
}
.op-item {
  display: flex;
  gap: 10px;
}

.op-card-border-left {
  border: 1px solid #e0e0e0;
  border-left: #CB83E7 5px solid;
  width: 100%;
  padding: 3px 10px;
  height: fit-content;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.scrollable {
  overflow: auto;
}

/*** CHECKBOX ***/
.op-item .checkbox-icon {
  /* margin-left: 1%; */
  margin-right: 2%;
}

.op-item .checkbox-icon .fa {
  width: 14px;
}

.op-item .checkbox-icon.readonly {
  color: #BABABA;
}

.op-item .checkbox-icon.readonly .fa.fa-square-o {
  display: none;
}

.op-item .checkbox-icon.readonly .fa.fa-check-square {
  display: inline-block;
  color: #BABABA;
}

.op-item .checkbox-icon.active.unchecked {
  cursor: pointer;
}

.op-item .checkbox-icon.active.unchecked:hover .fa.fa-square-o {
  display: none;
}

.op-item .checkbox-icon.active.unchecked:hover .fa.fa-check-square {
  display: inline-block;
  color: #002D5A;
}

.op-item .checkbox-icon.active.unchecked .fa.fa-square-o {
  cursor: pointer;
  color: #BABABA;
}

.op-item .checkbox-icon.active.unchecked .fa.fa-check-square {
  display: none;
}

.op-item .checkbox-icon.remove .fa:hover {
  cursor: pointer;
}
