:host {
  display: flex;
  flex-direction: column;
  margin: 0.5% 1%;
  padding: 1.5%;
  border: lightgray solid 1px;
  border-radius: 20px;
  background: white;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

gias-data-template,
gias-multiselect-template-s,
gias-drop-down-template-s {
  width: 49%;
}

button {
  width: 100%;
  margin-top: 5px;
}

gias-side-filters-template {
  z-index: 1000 !important;
  position: absolute;
  right: 0px;
  top: 60px;
}

span {
  display: flex;
  padding-top: 10px;
}

.margin-right {
  margin-right: 5px;
}