.k-icon {
    margin: auto;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-btn_ricerca_prodotto {
    background-image: url('../../../../../../assets/custom-icons/icon-general/ic_options_details_white.svg');
}
