<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Creazione di un nuovo DAL</Title>
      <Author>vanni</Author>
      <Shortcut>collegamento</Shortcut>
      <Description>Crea le classi ed i metodi base per un nuovo DAL</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>Crea le classi ed i metodi base per un nuovo DAL</ID>
          <Default>Crea le classi ed i metodi base per un nuovo DAL</Default>
        </Literal>
        <Literal>
          <ID>Nome</ID>
          <Type/>
          <ToolTip>Sostituire con il dal.</ToolTip>
          <Default>DAL</Default>
          <Function/>
        </Literal>
      </Declarations>
      <Code Language="VB">
        <![CDATA[Imports AgronicaCoreDataProvider.AgronicaCoreParametri
Imports AgronicaCoreDataProvider.CostantiPersonalizzate
Imports AgronicaCoreDataProvider.TipiEnumerativi
Imports AgronicaCoreDataProvider.UtilityProvider

Public Class $Nome$_R
    Inherits AgronicaCoreDataProvider.DataProvider

    '##############################################################################################
    Public Function Leggi(ByVal xFiltroAggiuntivo As String,
                          ByVal xOrderBy As String,
                          ByRef objParametri As AgronicaCoreDataProvider.AgronicaCoreParametri
                          ) As DataTable

        '----- Descrizione
        Const nomeRoutine = "AgronicaCore_DAL.Leggi()"

        '----- Variabili
        Dim messaggioErrore As String = ""
        Dim stb As New Text.StringBuilder
        Dim dt As DataTable

        Try

            stb.Length = 0

            stb.AppendLine(" SELECT * ")
            stb.AppendLine(" FROM $Nome$ ")
            

            If xFiltroAggiuntivo <> "" Then
                stb.AppendLine(" AND " & Agro_SQL_Save_xFiltroAggiuntivo(xFiltroAggiuntivo, , objParametri))
            End If
            
            '--------------------------------------------------------------------------
            Select Case objParametri.FlagVisibilita
                Case enumVisibilita.Visibilita_SoloNonCancellati
                    stb.AppendLine(" AND   Inviato >=0 ")
                Case enumVisibilita.Visibilita_SoloCancellati
                    stb.AppendLine(" AND   Inviato =-1 ")
                Case enumVisibilita.Visibilita_Tutti
                    '...................................
                Case Else
                    Throw New Exception("Parametro non corretto nella query (FlagVisibilita)")
            End Select
            '--------------------------------------------------------------------------

            If xOrderBy <> "" Then
                stb.AppendLine(" ORDER BY " & Agro_SQL_Save_xOrderBy(xOrderBy, objParametri))
            End If

            '--------------------------------------------------------------------------
            dt = EseguiQuery_Lettura(objParametri, stb.ToString, nomeRoutine)
            '--------------------------------------------------------------------------

        Catch ex As Exception
            messaggioErrore = ex.Message
            Scrivi_LOG(objParametri, nomeRoutine, messaggioErrore)
            dt = Nothing
            Throw New Exception("[" & nomeRoutine & "] : " & messaggioErrore)
        End Try

        Return dt

    End Function


End Class


'#################################################################
'#################################################################
'#################################################################

Public Class $Nome$_W
    Inherits AgronicaCoreDataProvider.DataProvider



    '##############################################################################################
    Public Function Scrivi(ByRef objParametri As AgronicaCoreDataProvider.AgronicaCoreParametri _
                          , Optional ByVal Data_creazione As DateTime = #2/1/1900# _
                          , Optional ByVal Data_modifica As DateTime = #2/1/1900# _
                          , Optional ByVal username_creazione As String = "" _
                          , Optional ByVal username_modifica As String = "" _
                          ) As Boolean

        Const nomeRoutine = "AgronicaCore_DAL.Scrivi()"

        '====================================================================================
        'Parametri opzionali :

        '====================================================================================

        Dim messaggioErrore As String = ""
        Dim stb As New Text.StringBuilder
        Dim xRisp As Boolean = False

        Try

            If Data_creazione = #2/1/1900# Then
                Data_creazione = Date.Now
            End If

            If Data_modifica = #2/1/1900# Then
                Data_modifica = Date.Now
            End If

            If username_creazione = "" Then
                username_creazione = objParametri.UsernameOperazione
            End If

            If username_modifica = "" Then
                username_modifica = objParametri.UsernameOperazione
            End If



            '---------------------------------------------
            stb.Length = 0
            stb.AppendLine(" INSERT $Nome$ ")

            stb.AppendLine("              (")
            stb.AppendLine("              Inviato,            datainvio, ")
            stb.AppendLine("              Data_Creazione,     Data_Modifica, ")
            stb.AppendLine("              UserName_Creazione, UserName_Modifica, ")
            stb.AppendLine("              Validita_Inizio,    Validita_Fine, ")            
            stb.AppendLine("              ) ")

            stb.AppendLine(" VALUES ( ")


            
            stb.AppendLine("         , 0  ")
            stb.AppendLine("         , Null  ")

            stb.AppendLine("            , " & Agro_SQL_SaveDateTime(Data_creazione) & "  ")
            stb.AppendLine("            , " & Agro_SQL_SaveDateTime(Data_modifica) & "  ")
            stb.AppendLine("            ,'" & Agro_SQL_SaveText(username_creazione) & "' ")
            stb.AppendLine("            ,'" & Agro_SQL_SaveText(username_modifica) & "' ")

            stb.AppendLine(") ")

            '--------------------------------------------------------------------------
            xRisp = EseguiQuery_Scrittura(objParametri, stb.ToString, nomeRoutine)
            '--------------------------------------------------------------------------

        Catch ex As Exception
            messaggioErrore = ex.Message
            Scrivi_LOG(objParametri, nomeRoutine, messaggioErrore)
            xRisp = False
            Throw New Exception("[" & nomeRoutine & "] : " & messaggioErrore)
        End Try

        Return xRisp

    End Function



    '#################################################################
    Public Function Cancella(ByVal xFiltroAggiuntivo As String,
                             ByRef objParametri As AgronicaCoreDataProvider.AgronicaCoreParametri
                             ) As Boolean

        '----- Descrizione
        Const nomeRoutine = "Cancella()"

        Dim messaggioErrore As String = ""
        Dim stb As New Text.StringBuilder
        Dim xRisp As Boolean = False

        Try
            '---------------------------------------------
            Stb.Length = 0

            '---------------------------------------------
            If objParametri.FlagCancellazioneLogica = enumCancellazioneLogica.CancellazioneLogica Then
                stb.AppendLine(" UPDATE $Nome$ ")
                stb.AppendLine(" SET ")
                stb.AppendLine("         Username_Modifica = '" & Agro_SQL_SaveText(objParametri.UsernameOperazione) & "' ")
                stb.AppendLine("         ,Data_Modifica= " & Agro_SQL_SaveDateTime(Date.Now) & " ")
                stb.AppendLine("         ,Inviato = -1 ")
                stb.AppendLine(" WHERE   1=1 ")
                stb.AppendLine(" AND     Inviato >= 0 ")
            Else
                stb.AppendLine(" DELETE FROM $Nome$ ")
                stb.AppendLine(" WHERE 1=1 ")
            End If
            '---------------------------------------------

            If xFiltroAggiuntivo <> "" Then
                stb.AppendLine(" AND " & Agro_SQL_Save_xFiltroAggiuntivo(xFiltroAggiuntivo, , objParametri))
            End If

            '--------------------------------------------------------------------------
            xRisp = EseguiQuery_Scrittura(objParametri, stb.ToString, nomeRoutine)
            '--------------------------------------------------------------------------

        Catch ex As Exception
            messaggioErrore = ex.Message
            Scrivi_LOG(objParametri, nomeRoutine, messaggioErrore)
            xRisp = False
            Throw New Exception("[" & nomeRoutine & "] : " & messaggioErrore)
        End Try

        Return xRisp

    End Function

End Class
]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>