.linee-guida-ab-window-column {
    display: flex;
    flex-direction: column;
}

.linee-guida-ab-window-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.linee-guida-ab-window-btn {
    margin-top: 4px;
    min-height: unset !important;
    min-width: unset !important;
}

.flex-1 {
    flex: 1;
}

.size-22 {
    font-size: 22px;
}
