.faMenuZoo {
  background-image: url('../../../../assets/custom-icons/icon-general/ic_qdc_tab_zoo.svg');
}

.faProgramProtocollo {
  background-image: url('../../../../assets/custom-icons/icon-general/ic_options_clock_on.svg');
  /* Add these lines: */
  display: inline-block;
  width: 16px;  /* Adjust size as needed, usually 16px or 20px for grid buttons */
  height: 16px; 
  background-size: contain; /* Ensures the SVG fits inside the box */
  background-repeat: no-repeat;
  background-position: center;
}
