.btn-success {
  background-color: green;
  color: white
}

.no-settings-container {
  width: 100% !important;
  border: dashed 1px #002850;
  border-radius: 15px;
  padding: 15px;
  margin: 15px 0;
}

.infotext {
  color: gray;
  font-style: italic;
  font-size: 14px;
}
