.rilievi-container {
    border-radius: 8px;
    border: 1px dotted #002D5A;
    border-left: 3px solid #002D5A;
    margin-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.left {
    margin-left: auto;
}

.two-label-switch-container {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    align-self: end;
}

.k-label {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.v-aligned {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: top;
}

.align-self-end {
    align-self: end;
}

.yellow-bg {
    background-color: palegoldenrod;
    margin: 10px 15px 0px;
    padding: 0px 10px;
    border-radius: 3px;
}

.k-switch-on .k-switch-track {
    background-color: #002850 !important;
}

gias-drop-down-template {
    width: 100%;
}
