<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.1.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Nuovo Core WS 2021 (Risposta Standard Tipizzata)</Title>
      <Author>Vanni</Author>
      <Shortcut>shortcut</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>NomeFunzione</ID>
          <ToolTip>Nome</ToolTip>
          <Default>Nome</Default>
        </Literal>
		<Literal>
			<ID>TipoClasse</ID>
			<Type/>
			<ToolTip>Sostituire con il tipo della classe.</ToolTip>
			<Default>TipoClasse</Default>
			<Function/>
		</Literal>
      </Declarations>
      <Code Language="vb">
        <![CDATA[
    <WebMethod()> _
    <Script.Services.ScriptMethod()> _
    Public Function $NomeFunzione$(InData As CoreWS_Generic(Of Object)) As RispostaStandard(of AgronicaCoreModelsSTD.$TipoClasse$.$TipoClasse$)
        Dim r As New RispostaStandard(of AgronicaCoreModelsSTD.$TipoClasse$.$TipoClasse$)
        
         Dim objParametri_Super_Server As AgronicaCoreParametri
         Dim objParametri_Server As AgronicaCoreParametri
         Dim objParametri_Utenti As AgronicaCoreParametri

        Try            
           
		   'Ottengo AgronicaCoreParametri
		    Dim strObjP As String = JsonConvert.SerializeObject(InData.objP)
            Dim objP As CoreWS_GenericObjP = JsonConvert.DeserializeObject(Of CoreWS_GenericObjP)(strObjP)

            objParametri_Super_Server = Utility.convertStringtoOBJparametri(objP.objP_super_server)
            objParametri_Server = Utility.convertStringtoOBJparametri(objP.objP_server)
            objParametri_Utenti = Utility.convertStringtoOBJparametri(objP.objP_utenti)

            'Imposto la lingua per i18e
            Dim leggiLingua As New Lingue_Read
            Dim dtLingua As DataTable = leggiLingua.Leggi_datoCODGIAS(objParametri_Server.Lingua_Cod, 
                                                                      AgronicaCoreParametri.enumSelezioneVariabile.Selezione_TabellaCompleta,
                                                                      "", "", objParametri_Utenti)
            Dim linguaCodiceISO As String = dtLingua.Rows(0)("CodiceISO")
            Threading.Thread.CurrentThread.CurrentUICulture = new Globalization.CultureInfo(linguaCodiceISO)
			
			'Istanzio gli oggetti InData.
            Dim str$TipoClasse$ As String = JsonConvert.SerializeObject(InData.InData)
            Dim inData$TipoClasse$ As AgronicaCoreModelsSTD.$TipoClasse$.$TipoClasse$ =
                JsonConvert.DeserializeObject(Of AgronicaCoreModelsSTD.$TipoClasse$.$TipoClasse$)(str$TipoClasse$)
			
			'Codice personalizzato ... 
			'Fine codicce personalizzato ... 
			
			'Imposto la risposta corretta
			dim obj as new AgronicaCoreModelsSTD.$TipoClasse$.$TipoClasse$
            r.RispostaOK = True
            r.RispostaStringa = obj

        Catch ex As Exception

            r.RispostaOK = False
            r.Errore =   "Errore durante l'operazione: " & AgronicaCoreUtility.Gestione_Eccezioni.MessaggioCompletoDataEccezione(ex, False)

        End Try

        Return r
    End Function
        ]]>
      </Code>
      <Imports>
        <Import>
          <Namespace>AgronicaCoreUtentiDAL</Namespace>
        </Import>
      </Imports>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
