<kendo-tabstrip id="tabstrip" (tabSelect)="onTabSelect($event)">
  <kendo-tabstrip-tab
    *ngFor="let tab of tabs"
    class="customTheme"
    [title]="tab.title"
    [selected]="isTabSelected(tab)"
  >
    <ng-template kendoTabTitle>
      <span style="cursor: pointer;">{{tab.title | transloco}}</span>
    </ng-template>

    <ng-template kendoTabContent>
      <app-agricultural-plot-slope
        *ngIf="tab.id === SpecialEdit.PlotSlope && canEditSlope()"
        [checkedRows$]="checkedRows$"
      >
      </app-agricultural-plot-slope>

      <app-agricultural-plot-weaving
        *ngIf="tab.id === SpecialEdit.PlotWeaving && canEditWeaving()"
        [checkedRows$]="checkedRows$"
      >
      </app-agricultural-plot-weaving>

      <app-agricultural-exercise-constrain
        *ngIf="tab.id === SpecialEdit.PlotExerciseConstrain && canEditConstrain()"
        [checkedRows$]="checkedRows$"
      >
      </app-agricultural-exercise-constrain>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
