.gias-switch-two-labels {
  display: flex;
  align-items: flex-end;
}

gias-switch-template {
  margin-right: 3px;
}


.btn-inserisci-dose-prodotto {
  max-width: 400px;
  min-width: 250px;
  background-color: #002D5A !important;
  border: 0;
  height: 40px !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.btn-inserisci-dose-prodotto span {
  text-transform: uppercase !important;
  font-size: 14px !important;
}

.inserisci-dose-container {
  display: flex;

  .udm-container {
    flex: 1;
    min-width: 150px;
  }

  .dosi-container {
    flex: 3;
    min-width: 450px;
  }

  .btn-dose-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    margin: auto;
    margin-bottom: 2px;
  }
}

@media only screen and (max-width: 1066px) {
  .inserisci-dose-container {

    .btn-dose-container {
      margin-top: 10px;
      max-width: none;
    }
  }
}

.fertilizzanti-header {
  display: flex;
  justify-content: flex-end;

  .nitrati-selector {
    flex: 1;
    max-width: 165px;
    align-items: flex-end;
    display: flex;
    justify-content: end;
  }

  .nitrati-container {
    flex: 1;
    padding-right: 5px;
  }

  .epoca-container {
    flex: 1;
  }

  .percentuali-n-container {
    flex: 1;
    padding-left: 5px;
    align-items: flex-end;
    display: flex;
    justify-content: end;
  }


  .bottone-aggiunta-container {
    margin-left: 5px;
    max-width: 165px;
    align-items: flex-end;
    display: flex;
    justify-content: end;
  }

  .modalita-applicazione-container{
    flex: 1;
    padding-left: 5px;
  }
}

.bottone-aggiunta-container-min-width{
  flex: 0 0 auto;
  width: 6%;
}

.switch-direttiva-nitrati-min-width{
  flex: 0 0 auto;
  width: 13%;
}
