.indicatori-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.indicatori-widget-title {
  width: 100%;
  text-align: center;
}

.indicatori-widget-chart {
  cursor: pointer;
}

.indicatori-widget-dates {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.datepicker-row {
  display: flex;
  flex-direction: row;
}

.pointer {
  cursor: pointer;
}

.indicatori-container .indicatori-widget-title,
.indicatori-container .indicatori-widget-dates p {
  text-align: center;
  font-weight: bold;
  padding: 0 7px;
  color: black !important;
}
