.faGridRowIcon {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  color: transparent;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &.faCatastoUploadFile {
    background-image: url('../../../assets/custom-icons/icon-general/ic_options_upload_file.svg');

    &:hover {
      background-image: url('../../../assets/custom-icons/icon-general/ic_options_upload_file_on.svg');
    }
  }
  &.faCatastoSaveCreateSchedule {
    background-image: url('../../../assets/custom-icons/icon-general/ic_options_add_receipt.svg');

    &:hover {
      background-image: url('../../../assets/custom-icons/icon-general/ic_options_add_receipt_on.svg');
    }
  }
  &.faCatastoPointerMap {
    background-image: url('../../../assets/custom-icons/icon-general/ic_options_dettagliodose_consentita_disciplinare.svg');

    &:hover {
      background-image: url('../../../assets/custom-icons/icon-general/ic_options_dettagliodose_consentita_disciplinare_on.svg');
    }
  }
  &.faCatastoGoToDocs {
    background-image: url('../../../assets/custom-icons/icon-general/ic_options_search_documents.svg');

    &:hover {
      background-image: url('../../../assets/custom-icons/icon-general/ic_options_search_documents_on.svg');
    }
  }
}
