<?xml version="1.0" encoding="utf-8"?>
<!--
  Per ulteriori informazioni su come configurare l'applicazione ASP.NET, visitare il sito Web all'indirizzo
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <!-- ================================================================================================= -->

    <!--<add key="" value="true" />
    <add key="CSFrom" value="GEOGCS[&quot;ED50&quot;,DATUM[&quot;D_European_1950&quot;,SPHEROID[&quot;International_1924&quot;, 6378388.0, 297.0]],PRIMEM[&quot;Greenwich&quot;, 0.0],UNIT[&quot;degree&quot;, 0.017453292519943295]" />
    <add key="CSto" value="GEOGCS[&quot;GCS_WGS_1984&quot;,DATUM[&quot;D_WGS_1984&quot;,SPHEROID[&quot;WGS_1984&quot;,6378137,298.257223563]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Decimal Degree&quot;,0.01745329251994330]]" />-->

    <add key="CSFrom" value="PROJCS[&quot;ED_1950_UTM_Zone_32N&quot;,GEOGCS[&quot;GCS_European_1950&quot;,DATUM[&quot;D_European_1950&quot;,SPHEROID[&quot;International_1924&quot;,6378388.0,297.0]],PRIMEM[&quot;Greenwich&quot;,0.0],UNIT[&quot;Degree&quot;,0.0174532925199433]],PROJECTION[&quot;Transverse_Mercator&quot;],PARAMETER[&quot;False_Easting&quot;,500000.0],PARAMETER[&quot;False_Northing&quot;,0.0],PARAMETER[&quot;Central_Meridian&quot;,9.0],PARAMETER[&quot;Scale_Factor&quot;,0.9996],PARAMETER[&quot;Latitude_Of_Origin&quot;,0.0],UNIT[&quot;Meter&quot;,1.0]]"/>
    <add key="CSto" value="PROJCS[&quot;WGS_1984_UTM_Zone_32N&quot;,GEOGCS[&quot;GCS_WGS_1984&quot;,DATUM[&quot;D_WGS_1984&quot;,SPHEROID[&quot;WGS_1984&quot;,6378137,298.257223563]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Decimal Degree&quot;,0.01745329251994330]],PROJECTION[&quot;Transverse_Mercator&quot;],PARAMETER[&quot;latitude_of_origin&quot;,0],PARAMETER[&quot;central_meridian&quot;,9],PARAMETER[&quot;scale_factor&quot;,0.9996],PARAMETER[&quot;false_easting&quot;,500000],PARAMETER[&quot;false_northing&quot;,-4000000],UNIT[&quot;Meter&quot;,1]]"/>
    <add key="CStoGeo" value="GEOGCS[&quot;GCS_WGS_1984&quot;,DATUM[&quot;D_WGS_1984&quot;,SPHEROID[&quot;WGS_1984&quot;,6378137,298.257223563]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Decimal Degree&quot;,0.01745329251994330]"/>

    <add key="AgronicaLatOffest" value="0,00000726"/>
    <add key="AgronicaLonOffest" value="-0,00089505"/>

    <!--<add key="AgronicaLatOffest" value="0"/>
    <add key="AgronicaLonOffest" value="0"/>-->

    <add key="ApplicaTrasformazionePoligono" value="true"/>
    <add key="cr2" value="74b7ca09-dbe5-4e5d-9a70-661cb5f60587"/>


	  <!-- ================================================================================================= -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
