<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!--layers da importare-->
    <add key="layersDaImportare" value="D,I"/>
    <add key="DumpNonImportati" value="C:\AgroSorgenti\AgronicaCartografia\NonImportatiSQL.xml"/>

    <!-- dati cartografici -->
    <!-- ================================================================================================= -->

    <!--<add key="" value="true" />
    <add key="CSFrom" value="GEOGCS[&quot;ED50&quot;,DATUM[&quot;D_European_1950&quot;,SPHEROID[&quot;International_1924&quot;, 6378388.0, 297.0]],PRIMEM[&quot;Greenwich&quot;, 0.0],UNIT[&quot;degree&quot;, 0.017453292519943295]" />
    <add key="CSto" value="GEOGCS[&quot;GCS_WGS_1984&quot;,DATUM[&quot;D_WGS_1984&quot;,SPHEROID[&quot;WGS_1984&quot;,6378137,298.257223563]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Decimal Degree&quot;,0.01745329251994330]]" />-->

    <!-- Agrisfera-->
    <!--<add key="CSFrom" value="PROJCS[&quot;ED_1950_UTM_Zone_32N&quot;,GEOGCS[&quot;GCS_European_1950&quot;,DATUM[&quot;D_European_1950&quot;,SPHEROID[&quot;International_1924&quot;,6378388.0,297.0]],PRIMEM[&quot;Greenwich&quot;,0.0],UNIT[&quot;Degree&quot;,0.0174532925199433]],PROJECTION[&quot;Transverse_Mercator&quot;],PARAMETER[&quot;False_Easting&quot;,500000.0],PARAMETER[&quot;False_Northing&quot;,0.0],PARAMETER[&quot;Central_Meridian&quot;,9.0],PARAMETER[&quot;Scale_Factor&quot;,0.9996],PARAMETER[&quot;Latitude_Of_Origin&quot;,0.0],UNIT[&quot;Meter&quot;,1.0]]" />
    <add key="CSto" value="PROJCS[&quot;WGS_1984_UTM_Zone_32N&quot;,GEOGCS[&quot;GCS_WGS_1984&quot;,DATUM[&quot;D_WGS_1984&quot;,SPHEROID[&quot;WGS_1984&quot;,6378137,298.257223563]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Decimal Degree&quot;,0.01745329251994330]],PROJECTION[&quot;Transverse_Mercator&quot;],PARAMETER[&quot;latitude_of_origin&quot;,0],PARAMETER[&quot;central_meridian&quot;,9],PARAMETER[&quot;scale_factor&quot;,0.9996],PARAMETER[&quot;false_easting&quot;,500000],PARAMETER[&quot;false_northing&quot;,-4000000],UNIT[&quot;Meter&quot;,1]]" />
    <add key="CStoGeo" value="GEOGCS[&quot;GCS_WGS_1984&quot;,DATUM[&quot;D_WGS_1984&quot;,SPHEROID[&quot;WGS_1984&quot;,6378137,298.257223563]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Decimal Degree&quot;,0.01745329251994330]" />-->

    <!-- Smentieri-->
    <!--<add key="CSFrom" value="PROJCS[&quot;ED_1950_UTM_Zone_32N&quot;,GEOGCS[&quot;GCS_European_1950&quot;,DATUM[&quot;D_European_1950&quot;,SPHEROID[&quot;International_1924&quot;,6378388.0,297.0]],PRIMEM[&quot;Greenwich&quot;,0.0],UNIT[&quot;Degree&quot;,0.0174532925199433]],PROJECTION[&quot;Transverse_Mercator&quot;],PARAMETER[&quot;False_Easting&quot;,500000.0],PARAMETER[&quot;False_Northing&quot;,0.0],PARAMETER[&quot;Central_Meridian&quot;,9.0],PARAMETER[&quot;Scale_Factor&quot;,0.9996],PARAMETER[&quot;Latitude_Of_Origin&quot;,0.0],UNIT[&quot;Meter&quot;,1.0]]" />
    <add key="CSto" value="PROJCS[&quot;WGS_1984_UTM_Zone_32N&quot;,GEOGCS[&quot;GCS_WGS_1984&quot;,DATUM[&quot;D_WGS_1984&quot;,SPHEROID[&quot;WGS_1984&quot;,6378137,298.257223563]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Decimal Degree&quot;,0.01745329251994330]],PROJECTION[&quot;Transverse_Mercator&quot;],PARAMETER[&quot;latitude_of_origin&quot;,0],PARAMETER[&quot;central_meridian&quot;,9],PARAMETER[&quot;scale_factor&quot;,0.9996],PARAMETER[&quot;false_easting&quot;,500000],PARAMETER[&quot;false_northing&quot;,-4000000],UNIT[&quot;Meter&quot;,1]]" />
    <add key="CStoGeo" value="GEOGCS[&quot;GCS_WGS_1984&quot;,DATUM[&quot;D_WGS_1984&quot;,SPHEROID[&quot;WGS_1984&quot;,6378137,298.257223563]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Decimal Degree&quot;,0.01745329251994330]" />-->

    
    <!-- cab terra-->
    <add key="CSFrom" value="PROJCS[&quot;ED_1950_UTM_Zone_32N&quot;,GEOGCS[&quot;GCS_European_1950&quot;,DATUM[&quot;D_European_1950&quot;,SPHEROID[&quot;International_1924&quot;,6378388.0,297.0]],PRIMEM[&quot;Greenwich&quot;,0.0],UNIT[&quot;Degree&quot;,0.0174532925199433]],PROJECTION[&quot;Transverse_Mercator&quot;],PARAMETER[&quot;False_Easting&quot;,500000.0],PARAMETER[&quot;False_Northing&quot;,0.0],PARAMETER[&quot;Central_Meridian&quot;,9.0],PARAMETER[&quot;Scale_Factor&quot;,0.9996],PARAMETER[&quot;Latitude_Of_Origin&quot;,0.0],UNIT[&quot;Meter&quot;,1.0]]"/>
    <add key="CSto" value="PROJCS[&quot;WGS_1984_UTM_Zone_32N&quot;,GEOGCS[&quot;GCS_WGS_1984&quot;,DATUM[&quot;D_WGS_1984&quot;,SPHEROID[&quot;WGS_1984&quot;,6378137,298.257223563]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Decimal Degree&quot;,0.01745329251994330]],PROJECTION[&quot;Transverse_Mercator&quot;],PARAMETER[&quot;latitude_of_origin&quot;,0],PARAMETER[&quot;central_meridian&quot;,9],PARAMETER[&quot;scale_factor&quot;,0.9996],PARAMETER[&quot;false_easting&quot;,500000],PARAMETER[&quot;false_northing&quot;,-4000000],UNIT[&quot;Meter&quot;,1]]"/>
    <add key="CStoGeo" value="GEOGCS[&quot;GCS_WGS_1984&quot;,DATUM[&quot;D_WGS_1984&quot;,SPHEROID[&quot;WGS_1984&quot;,6378137,298.257223563]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Decimal Degree&quot;,0.01745329251994330]"/>

    
    <!--agrisfera-->
    <add key="AgronicaLatOffest" value="0,00000726"/>
    <add key="AgronicaLonOffest" value="-0,00089505"/>


    <!--vanni-->
    <!--<add key="AgronicaLatOffest" value="-0,00000526"/>
    <add key="AgronicaLonOffest" value="-0,00089505"/>-->


    <!--mauro??-->
    <!--<add key="AgronicaLatOffest" value="0,000011"/>
    <add key="AgronicaLonOffest" value="-0,00080"/>-->


    
    <!--sementieri, san pietro in vincoli-->
    <!--<add key="AgronicaLatOffest" value="0,00001071996409"/>
    <add key="AgronicaLonOffest" value="-0,00010004639625"/>-->

    

    <!--<add key="AgronicaLatOffest" value="0"/>
    <add key="AgronicaLonOffest" value="0"/>-->

    <add key="ApplicaTrasformazionePoligono" value="true"/>


    <!-- ================================================================================================= -->



    <!-- dati per importazione -->
    <add key="Connessione_SERVER_ORIGINE" value="cnG2Gserver_Origine"/>
    <add key="Connessione_SERVER_DESTINAZIONE" value="cnG2Gserver_Destinazione"/>
    <add key="Connessione_UTENTI_ORIGINE" value="cnG2GUtenti_Origine"/>
    <add key="Connessione_UTENTI_DESTINAZIONE" value="cnG2GUtenti_Destinazione"/>

    <!-- super user-->
    <!-- coldiretti-->
    <!--<add key="PivaSuperUser_ORIGINE" value ="05390270014"/>
    <add key="PivaSuperUser_DESTINAZIONE" value ="05644051004"/>    
    <add key ="UsernameSuperUser_Origine" value ="ColdirettiER"/>
    <add key ="UsernameSuperUser_Destinazione" value ="coldirettinazionale"/>-->


    <!-- Regione Emilia Romagna-->
    <add key="PivaSuperUser_ORIGINE" value="00082110396"/>
    <add key="PivaSuperUser_DESTINAZIONE" value=""/>
    <add key="UsernameSuperUser_Origine" value=""/>
    <add key="UsernameSuperUser_Destinazione" value=""/>


    <!-- syngenta-->
    <!--<add key="PivaSuperUser_ORIGINE" value ="00888590379"/>
    <add key="PivaSuperUser_DESTINAZIONE" value ="01247180191"/>
    <add key ="UsernameSuperUser_Origine" value ="danisco"/>
    <add key ="UsernameSuperUser_Destinazione" value ="syngenta"/>-->


    <!-- utente import-->
    <!-- syngenta-->
    <!--<add key="Import_CodFiscale_ORIGINE" value ="05644051004"/>
    <add key="Import_CodFiscale_DESTINAZIONE" value ="import00L00L000L"/>
    <add key ="Import_Username_ORIGINE" value ="coldirettinazionale"/>
    <add key ="Import_Username_DESTINAZIONE" value ="importatoreDati" />-->

    <!--cab terra-->
    <add key="Import_CodFiscale_ORIGINE" value="05644051004"/>
    <add key="Import_CodFiscale_DESTINAZIONE" value="import00L00L000L"/>
    <add key="Import_Username_ORIGINE" value="coldirettinazionale"/>
    <add key="Import_Username_DESTINAZIONE" value="importatoreDati"/>
    
    <!-- coldiretti-->
    <!--<add key="Import_CodFiscale_ORIGINE" value ="05644051004"/>
    <add key="Import_CodFiscale_DESTINAZIONE" value ="import00L00L000L"/>
    <add key ="Import_Username_ORIGINE" value ="coldirettinazionale"/>
    <add key ="Import_Username_DESTINAZIONE" value ="importatoreDati" />-->

    <!--<add key="ProgressivoGIAS_ORIGINE" value ="564"/> -->
    <!-- coldiretti piacenza-->
    <!--<add key="ProgressivoGIAS_DESTINAZIONE" value ="651"/> -->
    <!-- coldiretti nazionale-->

    <add key="ProgressivoGIAS_ORIGINE" value="542"/>
    <!-- maribo seed x syngenta (danisco)-->
    <add key="ProgressivoGIAS_DESTINAZIONE" value="545"/>
    <!-- syngenta -->

    <!-- coldiretti nazionale-->
	  <add key="cr2" value="74b7ca09-dbe5-4e5d-9a70-661cb5f60587"/>
  </appSettings>

  <system.diagnostics>
    <sources>
      <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
