<div *ngIf="loading" class="widget-loading-container">
    <kendo-loader type="converging-spinner"></kendo-loader>
</div>

<div *ngIf="!loading && data.length > 0" class="colture-full-width">
    <div class="colture-full-width">
        <kendo-chart>
            <kendo-chart-legend position="bottom"></kendo-chart-legend>
            <kendo-chart-series>
                <kendo-chart-series-item
                    [autoFit]="true"
                    type="pie"
                    [data]="data"
                    field="value"
                    categoryField="category"
                    [labels]="{ visible: true, content: labelContent }"
                >
                  <kendo-chart-series-item-labels [font]="'11px sans-serif'"></kendo-chart-series-item-labels>
                </kendo-chart-series-item>
                <!-- <kendo-chart-series-item-tooltip>
                    <ng-template let-category="category"> {{ category }} </ng-template>
                  </kendo-chart-series-item-tooltip> -->
            </kendo-chart-series>
            <kendo-chart-legend [labels]="{ font: '11px sans-serif' }"></kendo-chart-legend>
        </kendo-chart>
    </div>
</div>

<div *ngIf="!loading && data.length == 0" class="widget-loading-container">
    <p class="widget-no-data">{{ 'NessunaColtura' | transloco }}</p>
</div>
