:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: lightgray solid 1px;
  margin: 0.5% 1%;
  border-radius: 20px;
  background: white; */
}

gias-side-filters-template {
  z-index: 10000;
  right: 0;
  position: absolute;
  top: 6%;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  width: 100%;
  flex-direction: column;
}

fieldset:first-of-type {
  flex-direction: row;
  justify-content: space-between;
}

span {
  display: flex;
  margin-top: 10px;
}

button.btn.btn-primary-fill {
  display: block;
  width: 100% !important;
  margin-top: 1%;
}

gias-data-template {
  width: 48%;
}

gias-info-template, 
gias-info-template > div,
gias-info-template > div > fa-icon {
  height: -webkit-fill-available !important;
  width: fit-content !important;
}