.align-button-left {
  display: flex;
  align-items: end;
  justify-content: left;
}

.filter-row {
  min-height: 50px;
}

.button-container {
  align-content: end;
}

kendo-label {
  align-self: center;
  justify-content: space-between;
  display: flex;
}

::ng-deep .agea-switch.k-switch-on .k-switch-track {
  background-color: #052747 !important;
}

kendo-datepicker {
  max-width: 65%;
}