<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AGEA_Coordinamento.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <AGEA_Coordinamento.My.MySettings>
            <setting name="AGEA_Coordinamento_RiformaTitoli_RiformaTitoli"
                serializeAs="String">
                <value>http://cooperazione.sian.it/wspdd/services/RiformaTitoli</value>
            </setting>
            <setting name="AGEA_Coordinamento_BiologicoWS_GestSIBWS" serializeAs="String">
                <value>https://cooperazione.sian.it/wsTOAST/services/BiologicoWS</value>
            </setting>
            <setting name="AGEA_Coordinamento_OprFascicoloFS6_OprFascicoloFS6"
                serializeAs="String">
                <value>https://cooperazione.sian.it/wsTOAST/services/OprFascicoloFS6</value>
            </setting>
            <setting name="AGEA_Coordinamento_OprCFascicoloFS6_OprCFascicoloFS6"
                serializeAs="String">
                <value>https://cooperazione.sian.it/wsTOAST/services/OprCFascicoloFS6</value>
            </setting>
            <setting name="AGEA_Coordinamento_GisWS_GisWs" serializeAs="String">
                <value>https://cooperazione.sian.it/wsTOAST/services/GisWs</value>
            </setting>
        </AGEA_Coordinamento.My.MySettings>
    </applicationSettings>
</configuration>
