.filtro-varieta-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

gias-drop-down-template-s,
gias-multiselect-template-s {
    width: 40%;
}

app-grid-varieta {
    margin: 15px 0px;
}
