<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Data Creazione, modifica, ecc.. (parametri funzione salva chiamata)</Title>
      <Author>vanni</Author>
      <Shortcut>collegamento</Shortcut>
      <Description>Aggiunge l'assegnazione di data creazione, modifica, username (parametri funzione salva chiamata)</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>Data Creazione, modifica, ecc..</ID>
          <Default>Data Creazione, modifica, ecc..</Default>
        </Literal>
		<Literal>
          <ID>oggetto</ID>
          <Type/>
          <ToolTip>Sostituire con l'origine dati per la chiamata che si sta facendo.</ToolTip>
          <Default>Drow</Default>
          <Function/>
        </Literal>

      </Declarations>
      <Code Language="VB"><![CDATA[$oggetto$("Data_Creazione"), _
                                $oggetto$("Data_Modifica"), _
                                $oggetto$("Username_Creazione"), _
                                $oggetto$("Username_Modifica"), _
                                ]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>