<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Data Creazione, modifica, ecc.. (parametri funzione salva)</Title>
      <Author>vanni</Author>
      <Shortcut>collegamento</Shortcut>
      <Description>Aggiunge l'assegnazione di data creazione, modifica, username (parametri funzione salva)</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>Data Creazione, modifica, ecc..</ID>
          <Default>Data Creazione, modifica, ecc..</Default>
        </Literal>
      </Declarations>
      <Code Language="VB"><![CDATA[, Optional ByVal Data_creazione As DateTime = #2/1/1900# _
, Optional ByVal Data_modifica As DateTime = #2/1/1900# _
, Optional ByVal username_creazione As String = "" _
, Optional ByVal username_modifica As String = "" _
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>