.algorithm-configuration {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

.configurations {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.description {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.all-polygons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.all-polygons-description {
    display: flex;
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

::ng-deep .configuration-switch.k-switch-on .k-switch-track {
    background-color: #052747 !important;
}