/* WIDGET CONFORMITA' */
.widget-body .conformity-fallback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget-body .conformity-fallback .text {
    font-size: 14px;
    color: #bababa;
    text-align: center;
}