.algorithm-configuration {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

.configurations {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.description {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.all-polygons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.all-polygons h6 {
    margin-top: auto;
    margin-bottom: auto;
}

.active-details {
    margin-left: 75px;
    color: #333333;
}

h6 {
    font-size: 0.8rem;
}

h5 {
    font-size: 1.1rem;
}

::ng-deep .configuration-switch.k-switch-on .k-switch-track {
    background-color: #052747 !important;
}

::ng-deep .configuration-switch.k-switch-on.k-disabled .k-switch-track {
    background-color: #5a7085 !important;
}