.text-spacing {
  margin-left: 3px;
  margin-right: 5px;
}

.legend-spacing {
  border-color: #ccc!important;
}

.red {
  background-color: #EF5350 !important;
}

.green {
  background-color: #66BB6A !important;
}

.legend {
  width: 10px !important;
  height: 10px !important;
  border-radius: 5px !important;
}

:host ::ng-deep :hover .red {
  background-color: #EF5350 !important;
}

:host ::ng-deep .red {
  background-color: #EF5350 !important;
}

:host ::ng-deep  :hover .green {
  background-color: #66BB6A !important;
}

:host ::ng-deep .green {
  background-color: #66BB6A !important;
}

:host ::ng-deep .textRed {
  color: #EF5350 !important;
}

:host ::ng-deep .textGreen {
  color: #66BB6A !important;
}

:host ::ng-deep :hover .textRed {
  color: #EF5350 !important;
}

:host ::ng-deep :hover .textGreen {
  color: #66BB6A !important;
}
