<div class="row form-row">
  <gias-kendo-grid>
    <ng-container headerContent>
      <span class="separator"></span>
      <div style="display:flex; flex-flow:column;">
        <div style="display:flex; flex-flow:row;">
          <div style="display:flex; align-items: center; margin-right: 10px;">
            <span class="red legend legend-spacing"></span>
            <div class="text-spacing">{{"PresenteSoloInPlanning" | transloco}}</div>
          </div>
          <div style="display:flex; align-items: center;">
            <span class="green legend legend-spacing"></span>
            <div class="text-spacing">{{"PresenteSoloInPianoColturale" | transloco}}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </gias-kendo-grid>
</div>
