<div>
    <kendo-expansionpanel [title]="'prof.GrigliaImprese' | transloco" [expanded]="true">
        <span class="infotext">{{ 'SelezionaAziendeModificaImpostazioni' | transloco }}</span>
        <app-grid-aziende-centri></app-grid-aziende-centri>
    </kendo-expansionpanel>
    <kendo-expansionpanel [title]="'prof.Impostazioni' | transloco" [expanded]="editingSettings">
        <app-form-impostazioni-aziende-centri></app-form-impostazioni-aziende-centri>
    </kendo-expansionpanel>
</div>
