#drag {
  background-color: #fff;
  height: 100%;
  float: right;
  width: 5px;
  cursor: col-resize;
}

#container {
  display: flex;
  height: 100%;
  flex-flow:nowrap;
  flex-direction: column;
}

#bottom-panel {
  width: 5px;
  height: 100%;
  position: absolute;
  opacity: 100%;
}

#top-panel {
  flex: 1;
  /* Grow to rest of container */
}

div .k-drawer-wrapper {
  height: 100%;
  width: auto;
  overflow: hidden;
}

