<appSettings>

    <!-- Nome del Servizio Windows default se "" => "Agro-GSB
        ATTENZIONE!!! MASSIMO 8 CARATTERI perchè solo i primi 8 sono significativi per il file di log, 
        e si incasinerebbe quindi lo lascio vuoto-->
    <add key="Nome_LogAgroServizio_8CaratteriMax" value="" />

    <add key="pausaPerDebug" value="30" />

    <!-- ##### cnONLINE_Super_Server ################################################################# -->
    <add key="Super_Server" value="true" />
    <add key="cnONLINE_Super_Server" value="cnONLINE_Super_Server" />
    <add key="Super_Server_Provider" value="SQLOLEDB" />

    <add key="Super_Server_Server" value="*****" />

    <add key="Super_Server_DB" value="GIAS_Super_Server" />
    <add key="Super_Server_UserId" value="*****" />
    <add key="Super_Server_Password" value="*****" />
    <add key="Super_Server_PivaSuperUser" value="" />
    <!--<add key="Utente_Username" value=""/>-->
    <!-- ################################################################################ -->



    <add key="CartellaAgronomica30RitardoVariabileExe" value="C:\Applicativi\Agronomica30_RitardoVariabile_2_0"/>


    <!-- DISPACCIATORE FASCICOLI-->
    <add key="WS_Dispacciatore_Fascicoli" value="http://192.168.1.245/WS_AgroFascicoloBA/FascicoloMM_FascicoloWS.asmx" />

    <!-- ################################################################################ -->


    <!-- FILTRI OPZIONALI 
          Per identificare una o alcune righe di configurazione_servizi
          Chiave tabella= PivaSuperuser + Id_Servizio(sempre 5) + Id_Servizio + Id_Riga-->

    <!-- PivaSuperuser
      - default "" = TUTTI
      - seleziona le righe in configurazione_servizi che hanno questo valore 
      - se non valorizzato il programma legge il (o i) superuser nel db UTENTI ma se ne trova più di uno lancia eccezione ora
      - ATTENZIONE, su DB deve essere <> "" che è utilizzato dal core di lettura come 'tutti'
      - al 20/11/2013 gestito solo:Coldiretti=05390270014 -->
    <add key="PivaSuperuser" value="" />


    <!-- Id_Servizio
      - sempre 5=giasOnline, lasciato per eventuale utilizzo ma non impostabile da qui -->


    <!-- Tipo_Sincro
      - default 0 = TUTTI
      - seleziona le righe in configurazione_servizi che hanno questo valore 
      - ATTENZIONE, su DB deve essere <> 0 che è utilizzato dal core di lettura come 'tutti'
      - al 20/11/2013 gestito solo:TipiEnumerativi.enum_Tipi_Servizi_Background.ImportazioneMassivaDaAnagrafeBA -->
    <add key="Tipo_Sincro" value="0" />


    <!-- Id_Riga
      - default 0 = TUTTE
      - seleziona le righe in configurazione_servizi che hanno questo valore 
      - ATTENZIONE, su DB deve essere <> 0 che è utilizzato dal core di lettura come 'tutti'
      - E' stato inserito nel caso uno stesso tipo di servizio debba essere presente con una configurazione di parametri differente (esempio differenti piva padre) -->
    <!-- Filtro Opzionale default 0(TUTTI) (ATTENZIONE, su DB deve essere <> 0 che è utilizzato come tutti)-->
    <add key="Id_Riga" value="0" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="RestituisciEccezioniGeneriche" value="false"/>

</appSettings>
