.attributi-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading-spinner {
    cursor: progress;
}

.submit-button {
    background-color: #002d5a;
    color: white;
}