<appSettings>

  <add key="abilitaCORS" value="true" />

  <!-- AGRODEV1\SQL2008ITA -->
  <add key="StringaConnessione_SuperServer" value="Provider=sqloledb;Server=*****;Initial Catalog=GIAS_Super_Server;User Id=*****;Password=*****;"/>

  <!-- AGRODEV1\SQL2017ITA -->
  <add key="StringaConnessione_Web_Utenti" value="Provider=sqloledb;Server=*****;Initial Catalog=Web_Utenti;User Id=*****;Password=*****;"/>

  <!-- AGRODEV1\SQL2017ITA -->
  <add key="StringaConnessione_Web_Server" value="Provider=sqloledb;Server=*****;Initial Catalog=Web_Server;User Id=*****;Password=*****;"/>


  <!-- IMPOSTAZIONI PER AGRONICACORE -->
  <add key="AgronicaCore_Flag_CancellazioneLogica" value="0"/>

  <!-- 0=false; 1=true -->
  <add key="AgronicaCore_Flag_Visibilita" value="1"/>

  <!--  1=Visibilita_Solo_NON_Cancellati; 2=Visibilita_Solo_Cancellati; 3=Visibilita_Tutti; -->
  <add key="AgronicaCore_DirectoryLOG" value="C:\GIASLAN\LOG"/>
  <add key="AgronicaCore_FileNameLOG" value="AgronicaCoreLog.txt"/>

  <add key="BaseUrlForMailConfirm" value="http://localhost:52569/"/>

  <!--web server / utenti-->

  <!--coldiretti-->
  <add key="SuperUserUsername" value="*****"/>
  <add key="PivaSuperUser" value="*****"/>
  <add key="tokenParametri" value="{ 'idDB_Server': '0', 'idDB_Utenti': '0'  }" />

  <add key="BaseUrlColdirettiWebServicePortaleSocio" value=""/>
  <add key="ProfiloPermessiDefault" value="1"/>

  <add key="serviziAutorizzati" value="1001,1002,1003,1004,1005,1006,1017"/>
  <add key="serviziAutorizzatiEsterni" value="1007"/>
  <add key="serviziAutorizzatiEstesi" value="1008"/>

  <!--gestione utenti-->
  <!--<add key="UrlWS_GestioneUtenti" value= "http://localhost/AgronicaWebService2010/Gias_service.asmx"/>-->
  <add key="UrlWS_GestioneUtenti" value= "https://www.agronica.it/AgronicaWebServiceTest/Gias_service.asmx"/>

  <!--modifica password Profitosan-->
  <add key="BaseUrlApiProfitosan" value="https://localhost:6001"/>
  <add key="tokenProfitosan" value="*****"/>

  <add key="RestituisciEccezioniGeneriche" value="false"/>

  <!-- Scommentare e impostare a "true" per loggare ogni Begin Request (scrive un file di log nella cartella dell'applicazione stessa) -->
  <!-- NON ARCHIVIARE MAI IN MANIERA ASSOLUTA QUESTA CHIAVE A TRUE ED I RELATIVI FILE DI LOG GENERATI!!!! -->
  <!--<add key="DEBUG_LogBeginRequest" value="false"/>-->

  <!-- Per attivare il controllo di sicurezza su attacchi cross-site scripting (XSS) -->
  <!-- 0 = Nessun controllo (default) -->
  <!-- 1 = Logga le chiamate contenenti script -->
  <!-- 2 = Blocca le chiamate contenenti script -->
  <!-- 3 = Logga e blocca le chiamate contenenti script -->
  <!-- <add key="DetectScriptInjection" value="0"/> -->

</appSettings>
