.selezione-perimetro-page {
  padding: 0;
  width: 100%;
}

gias-side-filters-template {
  position: absolute;
  z-index: 1000;
  right: 0 !important;
}

.page-header {
  border-bottom: 1px solid var(--kendo-color-border);

  h2 {
    margin: 0;
    color: var(--kendo-color-on-surface);
  }
}
