  .ComboFormulati
  { 
      min-width: 525px;
      width: 90%;
 }
 
  .sfondoverde
 { 
     background: url("images/ui-bg_gloss-wave_85_9fda58_500x100.png") repeat-x scroll 50% 50% #9FDA58;
 }
 
  .sfondogiallo
 { 
     background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #f6a828;
 }
 
 
 table caption  {
    background-color: #5D7B9D;
    color: White;
    font-size: 11pt;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}
 
.stileSoglie {
    font-size: 10pt;
}
 

body {
    display: inline;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    min-width: 972px;
    width: 100%;
}

.barraTop{    width:80px;
              float:left;}


.myDataPick
{
  width:60px;
  border:1px solid #8db9db;	
  margin: 0; 
  padding: 0.45em 0 0.47em 0.45em;
  font-size: 10px;
}

.displaynone
{
  display:none;
}
.myTxtbox
{
	width:150px;
	border:1px solid #8db9db;	
	margin: 0; 
	padding: 0.45em 0 0.47em 0.45em;
	font-size: 10px;
	
	}

.myLabel
{
	
 font-style:italic;
 font-size: 12px;
	
}

.myCombo
{
	
}

.myCheckList
{
	
	border:1px solid #8db9db;
	padding:5px;
}

.myLabelBold
{
	
 font-weight: bold;
 font-size: 11px;
	
}

.divScrolling_jq
{
	height:300px;
	overflow:auto;
	padding-right:10px;

}

.sliderClass
{
	height:500px;
	overflow:auto;	
}

.trBgSelected
{
	/* e17009 = arancio selezione dei tab (originale) */
	/* daa520 = goldenrod */
	background-color:#daa520;
	
}

.btnDelGrid, .btnDelGrid_Out
{
	cursor:pointer;
}

.tdMain
{
	font-weight:bold;
	vertical-align:top;
	
	
	}

#centerDiv
{
	width:85%;
	margin:0px auto;
	text-align:left;
	padding:15px;

}

#footerAgro
{
	padding-top:5px;
	font-style:italic;
	border-top:1px solid gray;
	text-align:center;
}

.title
{
	font-size:25px;
	font-weight:bold;
	font-style:oblique;
}
	
.errorLabel
{
	color:black;
	font-weight:bold;
	font-size:12px;
	padding-bottom:50px;
}

.bubba
{
	cursor:pointer;
	
}

.errorMsg
{
	color:#b30000;
	font-weight:bold;
	}
	
.centerTab
{

	margin: 0 auto;
	text-align:left;
		
}

.dialogAvvertimento
{
	font-weight:bold;
	font-style:italic;
	text-align:center;
}
	
.blackA
{
	color:Black;
	text-decoration:none;
	}
.blackA:hover
{
	text-decoration:underline;
}

	
.dialogAvvertimentoDelete
{
	color:#a41c1f;
	font-weight:bold;
	text-align:center;
}

.hideBtn
{
	display:none;
	
	}

.cntBorder
{
	border:1px solid #8db9db;
	}
	
	
.txtUI
{
	border:1px solid #8db9db;
	width:240px;
	margin: 0; padding: 0.20em 0 0.47em 0.20em;
	
	}
	 

.txtUI_120
{
	border:1px solid #8db9db;
	width:120px;
	margin: 0; padding: 0.20em 0 0.47em 0.20em;
	
	}

.txtUI_170
{
	border:1px solid #8db9db;
	width:170px;
	margin: 0; padding: 0.20em 0 0.47em 0.20em;
	
	}

	
	.txtUI_big
{
	border:1px solid #8db9db;
	width:340px;
	margin: 0; padding: 0.20em 0 0.47em 0.20em;
	
	}

.txtHalf
{
	border:1px solid #8db9db;
	width:30px;	
	
	
	}
	
.txtHour
{
	border:1px solid #8db9db;
	width:30px;	
	text-align:right;
	
	}
	
	.pNote
	{
		width:250px;
		 font-weight:bold;
		
		}
	


/* input type della combo jquery ui */
.ui-autocomplete-input { margin: 0; padding: 0.45em 0 0.47em 0.45em; width:200px;}





.menu_interno
{
	width:150px;
    font-weight:bold;
    font-size:12px;
    margin:20px;	
    height:25px;
}
.menu_interno img
{
	width:25px;
    float:left;
    margin:5px;	
    height:25px;
}






.menu
{
	width:250px;
    font-weight:bold;
    font-size:14px;
    margin:20px;	
    height:25px;
}
.menu img
{
	width:25px;
    float:left;
    margin:5px;	
    height:25px;
}
	
	
	
.tooltip
{
	display:none;
}
	
.boxinput {
    /*height: 24px;*/
    margin-bottom: 5px;
    width: 400px;
}

.descrizione {
    float: left;
    padding: 5px 10px 5px 5px;
    width: 136px;
    text-align:right;
}

.valoriinput {
    float: left;
    margin-bottom: 10px;
    width: 245px;
}
.clear
{
	clear:both;
    height: 8px;
}

.descrizione .bubba
{
	float:right;
}




.order
{
	float:right;
	font-size:14px;
	font-weight:bold;
}

.pannelloOrdina
{
	float:right;
	
}


.orinamento
{
    font-size:10px;	
}

.ui-divquadrato{
    height:20px;
    width:20px;
    float: left; 
    margin-right: 10px;
}

.Box100 {
    width: 100%;
}

.Box80_SX {
    width: 80%;
    float:left;
}

.Box20_DX {
    float: right;
    width: 20%;
}
.txt_75px {
    width:75px;    
}
 
.Box {
    outline: 0 none !important;
     -moz-border-radius: 4px 4px 4px 4px;
     border: 1px solid #AAAAAA;
    color: #222222;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    padding:5px;
}



.box_DX
{
  float:left;
  width:67%;
  margin-left:1%;
}

.box_SX
{
  float:left;
  width:340px;
}




.box_SX_Agenda
{
  float:left;
  width:27%;
}


.box_Calendario
{
  float:none;
  width:100%;
  margin-top:5px;
}

.box_Albero {
    display: block;
    float: none;
    margin-top: 5px;
    overflow: auto;
    padding-bottom: 20px;
    width: 100%;
}

/*.box
{
    outline: 0 none !important;
    -moz-border-radius: 4px 4px 4px 4px;
    background: url("../images/?new=fcfdfd&w=1&h=100&f=png&q=100&fltr[]=over|textures/06_inset_hard.png|0|0|100") repeat-x scroll 50% bottom #FCFDFD;
    border: 1px solid #A6C9E2;
    color: #222222;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1em;
    }
    */
    
    .box {
    outline: 0 none !important;
     -moz-border-radius: 4px 4px 4px 4px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    padding:5px;
    border: 1px solid #a6c9e2; 
    background: #fcfdfd url(images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x; 
    color: #222222; 
}

.titleBox {
     background-color: #FCFDFD;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: -12px;
    padding-left: 5px;
}

    
.pannello_centri
{
    height:52px;
    width:100%;
    padding:5px;
}

.alberoaziende
{
    height:300px;
    width:100%;
    padding:5px;
    overflow:auto;
    margin-top:10px;
}


.nodoalberoselezionato
{
    background-color:#A6C9E2;
}

.toolbar
{
    float:left;
   height:25;
   width:100%;
   margin-bottom:10px;
   padding:5px;
}

.item_toolbar
{
   float:left;
   margin-right:5px;
   padding:5px;
   width:32px;
   height:32px;
}
.item_toolbar:hover
{
   background: #5C9CCC;
}


/*porcata fatta per l albero dell anagrafica*/
.black{color:Black;}
.red{color:Red;}
.green{color:Green;}
.blue{color:Blue;}
.bold{ font-weight:bold;}
.fuchsia{color:Fuchsia;}
.DimGray{color:Gray;}
.TreeViewImprese_0{ cursor:pointer;}

.TreeViewImprese_0:hover{ font-size:1.05em;}
.italic{ font-style:italic;}



.pointer_albero{ cursor:pointer;}








.ui-divquadrato{
    height:20px;
    width:20px;
    float: left; 
    margin-right: 10px;
}

.data{ width:80px;
}
.datadesc{    width:100px;}



.UltraMenu{ color:#000000;}


.IE8Fix
  {
   z-index: 100;
 }


 .cento
  {
  /*width:100%;*/
   }






/*PER PAGINA MASTER OPERAZIONI*/

.box50
{
  float:left;
  width:49%;
}
.box50 .descrizione
{
  float:left;
  width:24%;
}
.box50 .valoriinput
{
  float:left;
  width:70%;
}


.datepicker{
  width:75px;
}

.box33
{
  float:left;
  width:32%;
}
.box33 .descrizione
{
  float:left;
  width:24%;
}
.box33 .valoriinput
{
  float:left;
  width:70%;
}

.floatSX50
{
 float: left;
 width:50%;
}

.floatDX50
{
 float: right;
 width:49%;
}

.floatSX 
{
 float: left;
}

.floatDX 
{
 float: right;
}


.page
{
    clear:both;
  width:100%;
}

.Etichetta75pxleft 
{
    min-width: 75px;
    float: left;
}

.padDxSx3px 
{
    padding-left:3px; padding-right:3px
}

.Nascosto 
{
    display: none;
}

.boxColore, .boxColore

.boxColore, .boxColore table {
    -moz-border-radius: 4px 4px 4px 4px;
    background: url("images/ui-bg_inset-hard_100_fcfdfd_1x100.png") repeat-x scroll 50% bottom #FCFDFD;
    border: 1px solid #A6C9E2;
    color: #222222;
    font-family: Verdana,Arial,sans-serif;
    outline: 0 none !important;
    padding-bottom:5px;
    padding-top:5px;
    font-size:12px;
}

/* ng: 3px; */
    /* background: #5C9CCC url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x; */
    /* color:White; */
/* } */

.Filtro, .Filtro table {
    font-family: Verdana,Arial,sans-serif;
    font-size:12px;
}
