

/*   css_mappaBS.css  */


@media screen {
    #map, html {
        padding: 0;
        margin: 0px;
        height: 400px;
    }
}

@media (min-width: 768px) {
    .menuImg {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

    #lat_cerca {
        max-width: 88px;
    }

    #long_cerca {
        max-width: 88px;
        margin-left: 3px
    }

    .gradoMinutoSecondo {
        max-width: 44px;
        margin-left: 3px;
    }
}

.red {
    color: red;
}

.green {
    color: green;
}

.menuSelSelezionato {
    font-size:x-large;
}

.frmGisSepatoreGrande {
    margin-top: 17px;
}

/*
.k-button {
    background-color: lightgreen;
}
*/

.trasparenzaSliderContainer {
    width: 125px;
}

/*
.input-group-addon {
    min-width: 0px;
}
*/

.gis-tool {
    padding: 7px;
}

.gis-tool:hover {
    color: white !important;
}

.hidden-readonly-hidden {
    display: none !important;
}

.load-hidden {
    display: none;
}

.layerSelezionato {
    background: #ebeb55;
    border: 1px solid red;
    padding-top: 3px;
    padding-bottom: 3px;
}

.layerSelezionato > .layer-grid-item {
    background: #ebeb55;
}

.layerSelezionato label {
    font-weight: bold;
}