
/*   GisSmartBS.css  */


#GisSmartBSctrl .formGisSmartBScontainer {
}


/* superiore a col-xs */
@media (min-width: 567px) {
    #GisSmartBSctrl .formGisSmartBScontainer-lg {
        max-width: 550px;
        max-height: 600px;
        overflow: scroll;
    }

}


/* inferiore o = a col-xs */
@media (max-width: 567px) {
    #GisSmartBSctrl .formGisSmartBScontainer-xs {
        max-height: 500px;
        overflow: scroll;
    }
}

#GisSmartBSctrl .offline {
    background: #c00;
    font-weight: bold;
}

#GisSmartBSctrl .online {
    background: #0c0;
    font-weight: bold;
}

#GisSmartBSctrl .offlineGray {
    background: #eee;
    font-weight: bold;
}


#GisSmartBSctrl .rigapoligono {
}

#GisSmartBSctrl .clear {
    clear: both;
}

#GisSmartBSctrl .coord {
    clear: both;
}

#GisSmartBSctrl .toolUltimo {
    float: left;
    margin-left: 10px;
}

#GisSmartBSctrl .tool {
    float: left;
    margin-left: 10px;
}

#GisSmartBSctrl span.k-dropdown {
    width: 100%
}


#GisSmartBSctrl .k-item {
    font-size: 18px;
}

#GisSmartBSctrl .k-input {
    font-size: 18px
}
