.rilievi-avversita {
    margin: 10px;
}

.rilievi-avversita-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-bottom: 10px;
}

.flex-1 {
    flex: 1;
}

::ng-deep #RilieviAvversitaGridComponent {
    padding-top: 1rem !important;
}