<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsRegistroStallaQrySoap" />
        <binding name="wsCodiciQrySoap" />
        <binding name="wsIdentificativiGetSoap" />
        <binding name="wsTerritorioQrySoap" />
        <binding name="wsAziendeQrySoap" />
        <binding name="wsStruttureQrySoap" />
        <binding name="wsAnagraficaCapoQrySoap" />
        <binding name="wsAssociazioniAziendeSoap" />
        <binding name="wsGestioneModelloSoap" />
        <binding name="wsInterrogazioniSoap" />
        <binding name="wsAziendeQrySoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bdrtest.izs.it/wsBDNInterrogazioni/wsRegistroStallaQry.asmx" binding="basicHttpBinding" bindingConfiguration="wsRegistroStallaQrySoap" contract="wsRegistroStallaQry.wsRegistroStallaQrySoap" name="wsRegistroStallaQrySoap" />
      <endpoint address="http://bdrizsam.izs.it/wsBDNInterrogazioni/wsCodiciQry.asmx" binding="basicHttpBinding" bindingConfiguration="wsCodiciQrySoap" contract="wsCodiciQry.wsCodiciQrySoap" name="wsCodiciQrySoap" />
      <endpoint address="http://bdrizsam.izs.it/wsBDNInterrogazioni/wsIdentificativiGet.asmx" binding="basicHttpBinding" bindingConfiguration="wsIdentificativiGetSoap" contract="wsIdentificativiGet.wsIdentificativiGetSoap" name="wsIdentificativiGetSoap" />
      <endpoint address="http://bdrizsam.izs.it/wsBDNInterrogazioni/wsTerritorioQry.asmx" binding="basicHttpBinding" bindingConfiguration="wsTerritorioQrySoap" contract="wsTerritorioQry.wsTerritorioQrySoap" name="wsTerritorioQrySoap" />
      <endpoint address="http://bdrizsam.izs.it/wsBDNInterrogazioni/wsAziendeQry.asmx" binding="basicHttpBinding" bindingConfiguration="wsAziendeQrySoap" contract="wsAziendeQry.wsAziendeQrySoap" name="wsAziendeQrySoap" />
      <endpoint address="http://bdrizsam.izs.it/wsBDNInterrogazioni/wsStruttureQry.asmx" binding="basicHttpBinding" bindingConfiguration="wsStruttureQrySoap" contract="wsStruttureQry.wsStruttureQrySoap" name="wsStruttureQrySoap" />
      <endpoint address="http://bdrizsam.izs.it/wsBDNInterrogazioni/wsAnagraficaCapoQry.asmx" binding="basicHttpBinding" bindingConfiguration="wsAnagraficaCapoQrySoap" contract="wsAnagraficaCapoQry.wsAnagraficaCapoQrySoap" name="wsAnagraficaCapoQrySoap" />
      <endpoint address="http://bdrizsam.izs.it/wsGestioneAssConsorzi/wsAssociazioniAziende.asmx" binding="basicHttpBinding" bindingConfiguration="wsAssociazioniAziendeSoap" contract="wsAssociazioniAziende.wsAssociazioniAziendeSoap" name="wsAssociazioniAziendeSoap" />
      <endpoint address="http://bdrizsam.izs.it/wsModelliAccompagnamento/wsGestioneModello.asmx" binding="basicHttpBinding" bindingConfiguration="wsGestioneModelloSoap" contract="wsGestioneModello.wsGestioneModelloSoap" name="wsGestioneModelloSoap" />
      <endpoint address="http://bdrizsam.izs.it/wsModelliAccompagnamento/wsInterrogazioni.asmx" binding="basicHttpBinding" bindingConfiguration="wsInterrogazioniSoap" contract="wsInterrogazioni.wsInterrogazioniSoap" name="wsInterrogazioniSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.12.2.0" newVersion="2.12.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.17.1.0" newVersion="0.17.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>