<kendo-tabstrip>
    <kendo-tabstrip-tab [title]="'prof.GestioneImpostazioni' | transloco" [selected]="true">
        <ng-template kendoTabContent>
            <app-pagina-impostazioni-massive></app-pagina-impostazioni-massive>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'prof.RicercaUtilizzoImpostazioneAziendaCentro' | transloco">
        <ng-template kendoTabContent>
            <app-pagina-aziende-centri-impostazioni></app-pagina-aziende-centri-impostazioni>
        </ng-template>
    </kendo-tabstrip-tab>
</kendo-tabstrip>

