.rilievo-effluenti-container {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    max-width: 50px;
    padding: 0px;
}

.btn-primary-fill {
    min-width: 30px !important;
}

.btn-sm {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.k-icon {
    &::before {
        opacity: 0;
    }

    margin: auto;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.btn-white-fill {
    background-color: white !important;
    border-color: #002850;
}

.k-icon.k-i-btn_carico_effluenti {
    background-image: url('../../../../../../../assets/custom-icons/icon-general/ic_options_carico_effluenti_blue.svg');
}

@media screen and (max-width: 768px) {
    .rilievo-effluenti-container {
        display: flex;
        justify-content: flex-start;
        min-height: 46px;
        align-items: end;
        max-width: 50px;
        padding: 0px;
    }
}
