kendo-tabstrip {
  margin: 75px 20px;
}
gias-side-filters-template {
  position: absolute;
  z-index: 1000;
  right: 0 !important;
}

.clickable {
  cursor: pointer;
}

.faTabsIcon {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  color: transparent;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &.faMenuQuadernoDiCampagna {
    background-image: url('../../assets/custom-icons/icon-general/ic_qdc_tab_qdc.svg');
  }

  &.faMenuOrdiniDiLavoro {
    background-image: url('../../assets/custom-icons/icon-general/ic_qdc_tab_ordinidilavororicette.svg');
  }

  &.faMenuBrogliaccio {
    background-image: url('../../assets/custom-icons/icon-general/ic_qdc_tab_brogliaccio.svg');
  }

  &.faMenuZoo {
    background-image: url('../../assets/custom-icons/icon-general/ic_qdc_tab_zoo.svg');
  }
}

.faMenuZoo {
  background-image: url('../../assets/custom-icons/icon-general/ic_qdc_tab_zoo.svg');
}

@media only screen and (min-width: 992px) {
  kendo-tabstrip {
    margin: 20px;
  }
}
