#selezionaCentro {
  width:100%;
}

#checkboxCatasto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.topRightCorner {
  position:absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}