#selezionaCentro {
  width:100%;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.topRightCorner {
  position:absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.verticalAlignMiddle {
    vertical-align: middle !important;
}

.textAlignCenter {
    text-align: center !important;
}

.textAlignRight {
    text-align: right !important;
}

.primaRigaFiltro {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 15px;
    height: 25px;
}

.alertFiltroAvanzatoImpianti {
    color: red;
    font-size: 0.9rem;
    text-align: center;
    height: 20px;
}

.buttonFiltroAvanzatoImpianti {
    color: white;
    background-color: #002d5a;
}
