.gestione-pano-rateo-dialog {
    width: 80vw;
    max-width: 800px;
}

.gestione-pano-rateo-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gestione-pano-rateo-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.full-width {
    width: 100%;
}


@media only screen and (max-width: 880px) {
    .gestione-pano-rateo-row {
        flex-direction: column;
    }
}