.attributi-export-column {
    display: flex;
    flex-direction: column;
}

.attributi-export-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gap-10 {
    gap: 10px;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.switch-container {
    display: flex;
    gap: 10px;
}

.v-centered {
    margin: auto;
}

.justify-end {
    justify-content: end;
}

.d-flex {
    display: flex;
}

.loading-spinner {
    cursor: progress;
}

.submit-button {
    margin-top: auto;
    color: #002D5A;
    border-color: #002D5A;
    background-color: white;
    box-shadow: none;
    width: 140px;
    transition: all 0.2s;
}

.submit-button:hover {
    color: white;
    border-color: white;
    background-color: #002D5A;
}

.column-commands {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-centered {
    justify-content: center;
}

.color-std {
    color: #002D5A;
}

.data-switch {
    margin-top: auto;
    margin-bottom: auto;
}

.align-centered {
    align-items: center;
}

::ng-deep .data-switch.k-switch-on .k-switch-track,
::ng-deep .data-switch.always-on.k-switch-off .k-switch-track {
    background-color: #052747 !important;
}

::ng-deep .data-switch.k-switch-on.k-disabled .k-switch-track,
::ng-deep .data-switch.always-on.k-switch-off.k-disabled .k-switch-track {
    background-color: #5a7085 !important;
}

::ng-deep .data-radio.k-radio:checked,
.k-radio.k-checked {
    border-color: #002D5A !important;
    border-width: 5px;
    background-color: white !important;
    background-image: none !important;
}