.hidetext { -webkit-text-security: disc; }

.infotext {
    padding: 20px;
    display: block;
    color: gray;
    font-style: italic;
    font-size: 14px;
}

.settings-window {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.settings-window app-form-impostazioni {
    width: 100%;
}
.settings-window .btn-container {
    display: flex;
    margin-bottom: 1rem;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    justify-content: flex-end
}
.settings-window .btn-container button {
    margin-left: 10px;
}

.validity-edit-container form gias-general-input-template{
  margin-top: 20px !important;
  display: block;
}

.icon-size {
    height: 15.56px;
    width: 15.56px;
}

.error {
  color: red;
}

.no-records-template {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: baseline;
    p {
        margin: 0px;
        padding: 0px;
    }
}
