<appSettings>
	<add key="aspnet:RequestQueueLimitPerSession" value="2147483647"/>
  <!-- ############################################################################################# -->
  <!-- #####    WARM UP EF         ################################################################# -->
  <!-- ############################################################################################# -->


  <!-- Se true allora esegue thred parallelo all'avvio e costante che mantiene in memoria il modello EF -->
  <add key="WarmUp_EF" value="false"/>

  <!-- valore in minuti per ogni quanto tempo deve essere eseguito il warm up, 
    0 = non lancio il timer e quindi il warm up viene eseguito solo una volta nell'application start -->
  <add key="Minutes_Timer" value="120"/>

  <!-- Se true scrive log in Registro Eventi per tenere traccia di tempi ed errori.
        è necessario creare a mano il registro, prima di tentare di scriverci, sennò va in errore;
        aprire prompt dei comandi (o Powershell) come amministratore e scrivere:
        
        New-EventLog -Source "Core-WS" -LogName "Core WS"
        
    -->
  <add key="Log_Warm_Up_In_Eventi" value="false"/>


  <!-- ##### cnONLINE_Super_Server ################################################################# -->
  <add key="Super_Server" value="true"/>
  <add key="Super_Server_Provider" value="SQLOLEDB"/>
  <add key="Super_Server_DB" value="Gias_Super_Server"/>
  <add key="Super_Server_UserId" value="*****"/>
  <add key="Super_Server_Password" value="*****"/>
  <add key="Super_Server_PivaSuperUser" value=""/>
  <add key="UsaEncodingSemplice" value="false"/>
  <add key="Super_Server_Server" value="*****"/>
  <add key="ControlloAutenticazioneConAuthCookie" value="true"/>

	<!-- Se non valorizzato, allora usa tutti i db di tipo server presenti in gias_super_server -->
  <!--<add key="Gias_DB" value="COFRUTA_Server"/>-->

  <!-- ############################################################################################# -->
  <!-- #####    END WARM UP EF     ################################################################# -->
  <!-- ############################################################################################# -->

  <add key="RestituisciEccezioniGeneriche" value="false"/>

  <!-- Per attivare la gestione delle sequence nei contatori-->
  <!--<add key="Allow_Sql_Sequence" value="true"/>-->

  <!--<add key="DataProviderParametrizerType" value="2"/>-->
  <!--<add key="DataProviderType" value="OleDbProvider"/>-->

  <!-- Scommentare e impostare a "true" per loggare ogni Begin Request (scrive un file di log nella cartella dell'applicazione stessa) -->
  <!-- NON ARCHIVIARE MAI IN MANIERA ASSOLUTA QUESTA CHIAVE A TRUE ED I RELATIVI FILE DI LOG GENERATI!!!! -->
  <!--<add key="DEBUG_LogBeginRequest" value="false"/>-->
	
  <!-- Per attivare il controllo di sicurezza su attacchi cross-site scripting (XSS) -->
  <!-- 0 = Nessun controllo (default) -->
  <!-- 1 = Logga le chiamate contenenti script -->
  <!-- 2 = Blocca le chiamate contenenti script -->
  <!-- 3 = Logga e blocca le chiamate contenenti script -->
  <!-- <add key="DetectScriptInjection" value="0"/> -->
	
    <!--coldiretti -->
	<!--<add key="StatoPratica_QDC_ImpresaVerde" value="101404"/>
	<add key="StatoPratica_QDC_4_Mani" value="101405"/>-->

	<add key="cr2" value="74b7ca09-dbe5-4e5d-9a70-661cb5f60587"/>

</appSettings>