.marker-window {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.marker-window-row {
    display: flex;
    flex-direction: row;
}

.marker-window-column {
    display: flex;
    flex-direction: column;
}

.marker-window-btn {
    margin-top: 4px;
    min-height: unset !important;
    min-width: unset !important;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.gap-10 {
    gap: 10px;
}

.mh-200 {
    max-height: 200px;
    overflow-y: auto;
}

.margin-0 {
    padding-left: 0;
    padding-right: 0;
}

.size-22 {
    font-size: 22px;
}

.p-20 {
    padding-left: 20px;
    padding-right: 20px;
}