:host .k-content {
  padding: 4px 8px;
}


/* Kendo drawer properties */
app-kendo-tree {
  padding: 0;
}

kendo-drawer-content {
  padding: 20px;
}

:host {
  pointer-events: none
}
#expander {
  pointer-events: auto;
}

kendo-drawer {
  pointer-events: auto;
  margin-bottom: 100px;
}


.drawerExpander {
  pointer-events: all;
  color: black;/*#007bff;*/
}

.k-drawer-content {
  padding: 0px;
  padding-top: 20px;
}


.rotated {
  transform: rotate(-90deg);
  font-size: larger;
  margin-left: -38px;
  margin-top: 50px;
}


#mypanelbar > .k-panelbar-header:nth-child(odd) > .k-link {
  background-color: #f1f3f7;/*rgba(0, 0, 0, 0.04)*/
}


#mypanelbar.k-panelbar > .k-panelbar-header > .k-link:hover {
  background-color: #052747;
  color: #fff;
}

.k-panelbar > .k-item > .k-link, .k-panelbar > .k-panelbar-header > .k-link {
  color: #333/*#007bff;*/
}

.margin-right {
  margin-right: 0.5rem;
}