.contact {
    display: flex;
    height: 55px;
    padding: 10px;
    align-items: center;
}
.contact.border-top {
    border-top: solid;
    border-color: #ecebeb;
    border-width: thin;
}
.contact-details {
    flex: 1;
    margin-left: 10px;
}
.contact-name {
    color: #656565;
    font-weight: bolder;
}
.contact-email {
    font-size: 0.7rem;
    color: #bebebe;
}
.messages-label {
    height: 20px;
    width: 95px;
    font-size: 11px;
    line-height: 11px;
    text-transform: none;
}

.k-picker-solid {
    border-color: #ffffff !important;
    background-color: #ffffff !important;
}

.k-color-preview {
    width: 50% !important;
    height: 150% !important;
}

.mr-1 {
    margin-right: 1rem;
}

.color-icon {
    width: 0.5rem;
    height: 2.7rem;
    min-width: 0.5rem;
    border-radius: 25px;
    display: inline-block;
    margin-right: 0.5rem;
    cursor: pointer;
}

.drop-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.info-box{
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    font-size: 12pt;
    overflow-x: hidden;
}

.drag-and-drop-margin {
    margin-right: 0.2rem;
}

.info-icon {
    border-left: solid 1px #e4eef3;
    /*padding-bottom: 0.2rem;*/
    /*padding-top: 0.2rem;*/
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-color: white;
    cursor: pointer;
}

.menu-icon {
    cursor: pointer;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

kendo-colorpicker {
    width: 1px;
    height: 1px;
}

.layer-icon {
    display: inline-block;
    vertical-align: middle;
    height: 1.8rem;
    width: 1.8rem;
    color: transparent;
    position: relative;
}

.add-margin-right{
    margin-right: 0.5rem !important;
}

tr {
    text-align: center;
    line-height: 0 !important;
}

.layer-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 45px;
}

.layer-name {
    font-size: 12pt;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.layer-feature-data {
    font-size: 12px;
    position: fixed;
    margin-top: 26px;
    margin-left: 7px;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}
