.indicatori-widget-toggle {
    user-select: none;
    font-size: 18px;
    height: 2em;
    display: flex;
    align-items: center;
}

.indicatori-widget-toggle label {
    cursor: pointer;
    margin: 0px;
    vertical-align: middle;
}

.indicatori-widget-toggle input[type=radio] {
    display: none;
}

.indicatori-widget-toggle label>input[type=radio]:checked+div {
    font-size: 18px;
    color: #333;
}

.indicatori-widget-toggle label>div {
    padding: 5px 5px;
    font-size: 14px;
    color: #ddd;
    transition: all 100ms linear;
}

.scrollable {
    overflow-y: auto;
    height: 100%;
}