<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.1.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Agronica - Etichetta CheckBox Server</Title>
      <Author>Fede</Author>
      <Shortcut>aect</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>id</ID>
          <ToolTip>id controllo</ToolTip>
          <Default>id</Default>
        </Literal>
        <Literal>
          <ID>titolo</ID>
          <ToolTip>titolo</ToolTip>
          <Default>Titolo</Default>
        </Literal>
        <Literal>
          <ID>body</ID>
          <ToolTip>Contenuto</ToolTip>
          <Default>Contenuto</Default>
        </Literal>


      </Declarations>
      <Code Language="html">
        <![CDATA[
        <!--  -->        
      <div class="input-group" id ="$id$">
           <span class="input-group-addon" id="spn_chk_$id$">
                 <asp:CheckBox ID="Chk_$id$" runat="server" aria-label="..." />
           </span>
          <label aria-describedby="spn_chk_$id$" id="lbl_chk_$id$" class="form-control"
              for="<%=Chk_$id$.ClientID %>">
              Testo
          </label>
      </div>
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>