<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.1.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Agronica - Iframe 100%</Title>
      <Author>Vanni</Author>
      <Shortcut>shortcut</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>id</ID>
          <ToolTip>id iframe</ToolTip>
          <Default>id</Default>
        </Literal>
        <Literal>
          <ID>src</ID>
          <ToolTip>src iframe</ToolTip>
          <Default></Default>
        </Literal>
        
      </Declarations>
      <Code Language="html">
        <![CDATA[
        <iframe src="$src$" id="$id$" style="width: 100%; height: 100%; display: block; border: 0" frameborder="0"></iframe>        
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>