:host ::ng-deep gias-text-area-template.distinta kendo-textarea.k-textarea.k-input {
  height: auto !important;
  min-height: 120px !important;
}

// :host ::ng-deep gias-text-area-template.distinta kendo-textarea.k-textarea.k-input textarea.k-input-inner {
//   min-height: 120px !important;
//   height: 100% !important;
// }

:host ::ng-deep gias-text-area-template.distinta kendo-textarea.k-textarea.k-input textarea.k-input-inner {
  height: auto !important;        /* altezza libera */
  min-height: 120px !important;   /* altezza minima */
  white-space: normal !important;   /* permette il wrap */
  overflow-wrap: break-word !important; 
  word-break: break-word !important;
  box-sizing: border-box !important;
}