::ng-deep .k-dialog-content {
    white-space: pre-wrap !important;
}

.faGridRowIcon {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  color: transparent;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &.faAnagraficaUploadFile {
    background-image: url('../../../assets/custom-icons/icon-general/ic_options_upload_file.svg');
    &:hover {
      background-image: url('../../../assets/custom-icons/icon-general/ic_options_upload_file_on.svg');
    }
  }
  &.faAnagraficaSearchDocument {
    background-image: url('../../../assets/custom-icons/icon-general/ic_options_search_documents.svg');
    &:hover {
      background-image: url('../../../assets/custom-icons/icon-general/ic_options_search_documents_on.svg');
    }
  }
}
