.layer-toolbar {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #f9fbfd;
    border-bottom: solid 1px #ebebeb;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.10);
}

.k-button-solid-base.custom-button { /*:not(.k-selected, :hover)*/
    background-color: #f9fbfd;
}

.k-button-solid-base.custom-button:hover {
    background-color: #d6e6f5;
}

.k-button-solid-base.custom-button.k-selected {
    background-color: #518cc7;
}
