.prof-imprese-distinta {
    width: 100%;

    tr:first-child {
        background-color: #052747;

        th {
            color: white;
            font-weight: bold;
        }
    }

    tr {
        padding: 12px;
        display: flex;
        align-items: center;
    }

    td,
    th {
        min-width: 100px;
    }
}