.btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.btn-important {
    min-width: 75px;
    justify-content: center;
}
.k-icon::before {
    opacity: 0;
}
.k-icon {
    margin: auto;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-btn_salva_dose_prodotto {
    background-image: url('../../../../../../assets/custom-icons/icon-general/ic_grid_check.svg');
}

.k-icon.k-i-btn_annulla_dose_prodotto {
    background-image: url('../../../../../../assets/custom-icons/icon-general/ic_options_undo_on.svg');
}

.k-icon.k-i-btn_elimina_dose_prodotto {
    background-image: url('../../../../../../assets/custom-icons/icon-general/ic_options_delete.svg');
}

.k-icon.k-i-btn_modifica_dose_prodotto{
    background-image: url('../../../../../../assets/custom-icons/icon-general/ic_options_edit_white.svg');
}

.btn-delete {
    border: 1px solid red !important;
    background-color: white !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
