<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="MasterConcimazione.Master.vb" Inherits="PianoConcimazione_2017.MasterConcimazione" %>
<%@ Register Assembly="AgronicaControlli_2010" Namespace="AgronicaControlli_2010" TagPrefix="cc2" %>

<!DOCTYPE html>
<html lang="en">
<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>
        <% If CustomLoghi IsNot Nothing AndAlso Not String.IsNullOrEmpty(CustomLoghi.Title) Then %>
            <%=CustomLoghi.Title %>
        <% Else %>
            Agronica
        <% End If %>
    </title>
    
    <!-- css -->

    <!--bootstrap css-->
    <asp:PlaceHolder ID="bootstrapPlaceHeader" runat="server"></asp:PlaceHolder>

    <link rel="stylesheet" href="<%=PATH_GIASBASE %>agronica/Styles/font-awesome-4.2.0/css/font-awesome.min.css?<% =Application("GiasVersioneCorrente")%>" media="screen" />
    <link rel="stylesheet" href="<%=PATH_GIASBASE %>agronica/Styles/bootstrap-select.min.css?<% =Application("GiasVersioneCorrente")%>" media="screen" />
    <link rel="stylesheet" href="<%=PATH_GIASBASE %>agronica/Styles/bootstrap-switch.min.css?<% =Application("GiasVersioneCorrente")%>" media="screen" />
    <link rel="stylesheet" href="<%=PATH_GIASBASE %>agronica/styles/bootstrap.datepicker.css?<% =Application("GiasVersioneCorrente")%>" media="screen" />
    <link rel="stylesheet" href="<%=PATH_GIASBASE %>agronica/Styles/watable/AgronicaWaTable.css?<% =Application("GiasVersioneCorrente")%>" type="text/css" />
    <link rel="stylesheet" href="<%=PATH_GIASBASE %>agronica/Styles/bootstrap_AGRONICA.css?<% =Application("GiasVersioneCorrente")%>" media="screen" />

    <asp:PlaceHolder ID="siteCssPlaceHolder" runat="server"></asp:PlaceHolder>

    <!-- Favicon -->
    <% If CustomLoghi IsNot Nothing AndAlso Not String.IsNullOrEmpty(CustomLoghi.Logo_Favicon_PATH) Then %>
        <link rel="icon" href="<%=PATH_GIASBASE%><%=CustomLoghi.Logo_Favicon_PATH%>?<% =Application("GiasVersioneCorrente")%>" type="image/svg+xml" />
    <% Else %>
        <link rel="icon" href="<%=PATH_GIASBASE %>agronica/AB_Immagini/Logo/favicon.ico?<% =Application("GiasVersioneCorrente")%>" type="image/svg+xml" />
    <% End If %>

    <cc2:jquery ID="jquery" runat="server" />
    <link href="MasterConcimazione.css" rel="stylesheet" type="text/css" />
    <asp:PlaceHolder ID="kendoPlaceHeader" runat="server"></asp:PlaceHolder>
    <asp:PlaceHolder ID="versioneMasterPlaceHolder" runat="server"></asp:PlaceHolder>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server"></asp:ContentPlaceHolder>

    <script type="text/javascript">
        function load() {
            try {
                Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);
                Sys.WebForms.PageRequestManager.getInstance().add_beginRequest(BeginRequestHandler);
            } catch (e) {
            }
        }
    </script>

    <script type="text/javascript">

        var localizationPageUrl = "<%= ResolveClientUrl("~/Localization.aspx") %>";

        $(document).ready(function () {

            var msgERR = $('#<%=Hidden_Messaggio_Errore.ClientID %>').val();
            if (msgERR != '') {
                MessaggioErrore(msgERR);
                $('#<%=Hidden_Messaggio_Errore.ClientID %>').val('');
            };

            var msgOK = $('#<%=Hidden_Messaggio_Ok.ClientID %>').val();
            if (msgOK != '') {
                ScritturaOK(msgOK);
                $('#<%=Hidden_Messaggio_Ok.ClientID %>').val('');
            };

        });

    </script>

</head>
<body onload="load()">
    <div id="wrap_master">
        <div id="DIV_Messaggi"></div>

        <form id="Form1" runat="server" class="form-horizontal">
        
            <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
            <cc2:Agrokendo id="agroKendo" runat="server" />
            <cc2:AgroVersioneMaster id="agroVersioneMaster" runat="server" />

            <input type="hidden" id ="Hidden_Messaggio_Errore" runat="server" /> 
            <input type="hidden" id ="Hidden_Messaggio_Ok" runat="server" /> 

            <script>
                kendo.culture("it-IT");
            </script>


        <script type="text/javascript" src="<%=PATH_GIASBASE %>agronica/Scripts/jquery.cookie.js?<% =Application("GiasVersioneCorrente")%>" ></script>
        <script type="text/javascript" src="<%=PATH_GIASBASE %>agronica/Scripts/jquery.linq.min.js?<% =Application("GiasVersioneCorrente")%>" ></script>
        <script type="text/javascript" src="<%=PATH_GIASBASE %>agronica/Scripts/jquery.tmpl.min.js?<% =Application("GiasVersioneCorrente")%>" ></script>
        <script type="text/javascript" src="<%=PATH_GIASBASE %>agronica/Scripts/jquery.validate.min.js?<% =Application("GiasVersioneCorrente")%>" ></script>

        <script type="text/javascript" src="<%= ResolveClientUrl("MasterConcimazione.js?" & Application("GiasVersioneCorrente").ToString) %>" ></script>

        <cc2:AgroMasterPage id="agroMasterPage" runat="server" />
        <asp:PlaceHolder ID="headerPlaceHolder" runat="server"></asp:PlaceHolder>

         <div class="container" id="master_contenitore_principale">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
        </div>

        <!--Dialog sessione scaduta-->
        <div id="dialogSessioneScaduta" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Chiudi</span></button>
                        <h4 class="modal-title">
                            La sessione è scaduta. Eseguire di nuovo il login.</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Se non appare in automatico la finestra di login <a href="../GST_Autenticazione/Autenticazione.aspx">
                                fare click qui.</a></p>
                        <div id="lblAutoLogin">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close</button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Dialog errore-->
        <div id="dialog_errore" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Chiudi</span></button>
                        <h4 class="modal-title">
                            <i class="fa fa-exclamation-triangle fa-3x"></i>si è verificato un problema</h4>
                    </div>
                    <div class="modal-body">
                        <p id="messaggioErrore">
                        </p>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Dialog errore-->
        <div id="dialog_ok" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Chiudi</span></button>
                    </div>
                    <div class="modal-body">
                        <p id="messaggioOk">
                        </p>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Dialog errore-->
        <div id="dialog_sino" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Chiudi</span></button>
                        <p>
                        </p>
                    </div>
                    <div class="modal-body">
                        <div id='variabileSiNo' style='display: none;'>
                        </div>
                        <p id="messaggioSiNo">
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            No</button>
                        <button type="button" class="btn btn-primary" onclick="DoPostBack_ControlliSiNo($('#variabileSiNo').html()); $('#dialog_sino').modal('hide');">
                            Si</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

            
    <!-- dialog modale generica -->
    <div class="modal fade" id="iFrameGeneric" data-backdrop="static">
        <div class="modal-dialog" style="width: 98%; height: 98%">
            <div class="modal-content" style="height: 95%; border-radius: 0">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        <asp:Label ID="lblDescrGeneric" runat="server">Titolo</asp:Label>
                    </h4>
                </div>
                <div class="modal-body" style="height: 85%; border-radius: 0">
                    <iframe src="" id="PaginaGeneric" style="width: 100%; height: 100%; display: block; border: 0" frameborder="0"></iframe>
                </div>
                <div class="modal-footer">                    
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
   
    <!-- Xonne Notification-->
    <span id="xonne-notification-error" style="display:none;"></span>
    <span id="xonne-notification-success" style="display:none;"></span>

        <script type="text/javascript">
            //configurazione server 
            var objP_super_server = '<%=objparametri_super_server_string %>';
            var objP_server = '<%=objParametri_server_String %>';
            var objP_utenti = '<%=objParametri_utenti_String %>';
            var pathCoreWS = '<%=pathCoreWS %>';

            const GiasVersioneMaster = '<%=Master_versione %>';

        </script>

        
        <cc2:bootstrap ID="bootstrap" runat="server" />
        <cc2:AgronicaBase ID="AgronicaBase" runat="server" />
        <cc2:bootstrap_datepicker ID="bdp" runat="server" />
        <cc2:jquery_watable_modificato ID="waT1" runat="server" />
        <cc2:AgroWATable ID="waT" runat="server" />
        <cc2:AgroPako id="pako" runat="server" />
        <cc2:AgroTimezone id="timezone" runat="server" />
        <cc2:bootstrap_WaitFrame ID="bW" runat="server" />
        <cc2:bootstrap_select ID="bS" runat="server" />
        <cc2:jAgroHelper ID="jAgroHelper1" runat="server" />

        <asp:HiddenField ID="hdLinkHomePageGlobale" runat="server" />

        <script type="text/javascript">

            $(document).ready(function () {
                if (GiasVersioneMaster === '2022') {
                    creaKendoNotification('xonne-notification-success', 3000);
                    creaKendoNotification('xonne-notification-error', 0);
                }
            });

            var v = $("#aspnetForm").validate({
                invalidHandler: function (event, validator) {
                    var err_message = "<div class='error-tab' style='position: absolute; right: 0; top: 0; background-color: red'>" + v.numberOfInvalids() + "</div>";
                    $('.nav-tabs li.active a').append(err_message);
                }
            });

            var n = $("#form_nuovo_elemento").validate({
            });


            jQuery.logThis = function (text) {
                if ((window['console'] != undefined)) {
                    console.log(text);
                }
            }

            function posizionaMessggi(jQuerySelector) {
                try {

                    $(jQuerySelector).css("z-index", "100000");
                    $(jQuerySelector).css("position", "absolute");
                    $(jQuerySelector).css("top", window.pageYOffset.toString() + "px");
                    $(jQuerySelector).css("width", $(window).width().toString() + "px");

                } catch (e) {
                    console.log("posizionaMessaggi non riuscita...");
                }
            }

            //MESSAGGI SU SCHERMO
            function MessaggioErrore_Bootstrap(str, id_div) {

                if (GiasVersioneMaster === '2022') {
                    $("#xonne-notification-error").getKendoNotification().show({
                        title: "",
                        message: str
                    }, 'error');
                } else {
                    var stringa_html = '<div class="alert alert-danger" role="alert">' + str +
                        '<button type="button" class="close chiudi_alert" data-dismiss="alert"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button></div>';
                    $('#' + id_div).html(stringa_html);
                    posizionaMessggi('#' + id_div);
                }
            }
            function MessaggioErroreTooltip_Bootstrap(str, id_div, tooltip) {
                MessaggioErrore_Bootstrap(str, id_div);
                $('#' + id_div).attr('title', tooltip);
                posizionaMessggi('#' + id_div);
            }

            function MessaggioTuttoOK_Bootstrap(str, id_div) {
                if (GiasVersioneMaster === '2022') {
                    $("#xonne-notification-success").getKendoNotification().show({
                        title: "",
                        message: str
                    }, 'success');
                } else {
                    var stringa_html = '<div class="alert alert-success" role="alert">' + str +
                        '<button type="button" class="close chiudi_alert" data-dismiss="alert"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button></div>';
                    $('#' + id_div).html(stringa_html);
                    posizionaMessggi('#' + id_div);
                    setTimeout(function () { $('.chiudi_alert').click(); }, 3000);
                }
            }

            function MessaggioAttenzione_Bootstrap(str, id_div, timeFadeOut) {
                if (GiasVersioneMaster === '2022') {
                    $("#xonne-notification-error").getKendoNotification().show({
                        title: "",
                        message: str
                    }, 'warning');
                    // creaKendoNotification(id_div, 'warning', str, timeFadeOut || 0);
                } else {
                    var stringa_html = '<div class="alert alert-warning" role="alert">' + str +
                        '<button type="button" class="close chiudi_alert" data-dismiss="alert"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button></div>';
                    $('#' + id_div).html(stringa_html);
                    posizionaMessggi('#' + id_div);
                    if (timeFadeOut === undefined || timeFadeOut === null) {
                        timeFadeOut = 3000;
                    }
                    if (timeFadeOut !== 0) {
                        setTimeout(function () { $('.chiudi_alert').click(); }, timeFadeOut);
                    }
                }
            }

            function MessaggioErrore(str) {
                $('#dialog_errore').modal('show');
                $('#messaggioErrore').html(str);
                WaitFrame.hide();
            }

            function ScritturaOK(str) {
                $('#dialog_ok').modal('show');
                $('#messaggioOk').html(str);

                WaitFrame.hide();
            }

            function ConfermaControlliSiNo(messaggio, str) {
                $('#messaggioSiNo').html(messaggio);
                $('#variabileSiNo').html(str);
                $('#dialog_sino').modal('show');
            }



            function Azione_Indietro() {
                try {
                    $('input, select, textarea').each(function () {
                        $(this).rules('remove', 'required');
                        $(this).removeClass();
                        $(this).addClass('form-control');
                    });
                }
                catch (err) {  
                }
            
                $('#<%=ImgBtnAnnullaTutto.ClientID %>').click();
            }

            function Azione_Cambia_Impresa() {
                <%If flag_MostraBtnCambiaImpresa Then%>
                    try {
                        $('input, select, textarea').each(function () {
                            $(this).rules('remove', 'required');
                            $(this).removeClass();
                            $(this).addClass('form-control');
                        });
                    }
                    catch (err) {
                    }
          
                    $('#<%=ImgBtnFiltro.ClientID %>').click();
                <%End If%>
            }


            function uniqueID() {
                var today = new Date();
                return "ID" + today.getgetMinutes + "_" + today.getSeconds + "_" + today.getMilliseconds;
            }

            function roundNumber(num, dec) {
                var result = Math.round(num * Math.pow(10, dec)) / Math.pow(10, dec);
                return result;
            }

            $('body').on('change', '.change_per_load', function () {
                WaitFrame.show();
            });

            $('body').on('click', '.btn_per_load', function () {
                WaitFrame.show();
            });

        </script>

        <asp:ContentPlaceHolder ID="ContentScript" runat="server" />
        <div style="clear: both;"></div>

        </form>
    </div>
    <asp:PlaceHolder ID="footerPlaceHoler" runat="server"></asp:PlaceHolder>
</body>
</html>
