ul.nano-content {
    padding-bottom: 50px;
}

ul,
ul ul {
    margin: 0 0 0;
    padding: 0;
}

ul li.active ul {
    display: block;
}

ul li a {
    text-decoration: none;
    display: block;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

ul li a span {
    display: inline-block;
}

ul ul li {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}
