.AgronicaFooter {
    font-size: 10px;
    // height: auto !important;
    //padding: 2px !important;
//    margin-top: 78px;
    color: white;
//    position: fixed;
    margin: 0px !important;
    padding: 0px !important;
    left: 0px;
    bottom: 0px;
    width: 99%;
    pointer-events: bounding-box;
    z-index: 2;
    height: 6.5vh;
}
