body 
{
    color:Red!important;
}

ul,li
{
    color:Aqua;
    display:none;
    }
.litesto
{
   font-size:1000px;}
   
   #AdesioneDPI
   {
   font-size:1000px;
   color:Red!important;
   text-decoration:underline;    
       }