.prof-imprese-macchine {
    max-height: 500px;
}

.prof-imprese-contatti {
    max-height: 500px;
}

.prof-imprese-hours {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        margin: 0;
    }
}

button {
    border: none;
    border-radius: 10%;
}

.faInfo:hover {
    filter: brightness(200%);
}

.prof-imprese-row>button {
    background-color: transparent;
}