.init-muz-column {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.init-muz-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.init-muz-list > li {
    color: #002D5A;
    font-size: 1rem;
}

.init-muz-list > li > h6 {
    margin-left: 12px;
}