.colture-full-width {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.colture-full-width .colture-switch {
    display: flex;
    align-self: center;
    margin-bottom: 20px;
}

.colture-full-width .middle {
    align-self: center;
    margin-right: 10px;
    margin-left: 10px;
}

.colture-full-width ::ng-deep .k-switch-off .k-switch-track {
    background-color: #002D5A !important;
}

.colture-full-width ::ng-deep .k-switch-on .k-switch-track {
    background-color: #002D5A !important;
}
