.grid-full-width {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.grid-full-width .middle {
    align-self: center;
    margin-right: 10px;
    margin-left: 10px;
}