/* Foglio di stile CSS predefinito per un nuovo progetto di applicazione Web */

BODY
{
	background-color: white;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: .8em;
	font-weight: normal;
	letter-spacing: normal;
	text-transform: none;
	word-spacing: normal;
}

H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
	color: #003366;
}
H1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.58em;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.33em;
	font-weight: 500;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H5, DT
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H6
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

TFOOT, THEAD
{
	font-size: 1em;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}

TH
{
	vertical-align: baseline;
	font-size: 1em;
	font-weight: bold;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}


A:link
{
	text-decoration: none;
	color: #3333cc;
}

A:visited
{
	text-decoration: none;
	color: #333399;
}

A:active
{
	text-decoration: none;
	color: #333399;
}

A:hover
{
	text-decoration: underline;
	color: #3333cc;
}

SMALL
{
	font-size: .7em;
}

BIG
{
	font-size: 1.17em;
}

BLOCKQUOTE, PRE
{
	font-family: Courier New, monospace;
}


UL LI
{
	list-style-type: square;
}

UL LI LI
{
	list-style-type: disc;
}

UL LI LI LI
{
	list-style-type: circle;
}

OL LI
{
	list-style-type: decimal;
}

OL OL LI
{
	list-style-type: lower-alpha;
}

OL OL OL LI
{
	list-style-type: lower-roman;
}

IMG
{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.Testo_08
{
	font-size: 8pt;
	font-family: Verdana, sans-serif;
}
.Testo_08_Nero
{
	font-weight: normal;
	font-size: 8pt;
	color: black;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_08_Nero_Bold
{
	font-weight: bold;
	font-size: 8pt;
	color: black;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_08_Blue
{
	font-weight: normal;
	font-size: 8pt;
	color: blue;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_08_Blue_Bold
{
	font-weight: bold;
	font-size: 8pt;
	color: blue;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_08_Rosso
{
	font-weight: normal;
	font-size: 8pt;
	color: red;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_08_Rosso_Bold
{
	font-weight: bold;
	font-size: 8pt;
	color: red;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_12_Nero_Bold
{
	font-weight: bold;
	font-size: 12pt;
	color: black;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_12_Blue_Bold
{
	font-weight: bold;
	font-size: 12pt;
	color: blue;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_10_Nero
{
	font-weight: normal;
	font-size: 10pt;
	color: black;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_10_Nero_Bold
{
	font-weight: bold;
	font-size: 10pt;
	color: black;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_10_Blue
{
	font-weight: normal;
	font-size: 10pt;
	color: blue;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_10_Blue_Bold
{
	font-weight: bold;
	font-size: 10pt;
	color: blue;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_10_Rosso
{
	font-weight: normal;
	font-size: 10pt;
	color: red;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_10_Rosso_Bold
{
	font-weight: bold;
	font-size: 10pt;
	color: red;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}	
.Testo_12_Rosso_Bold
{
	font-weight: bold;
	font-size: 12pt;
	color: red;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_07_Nero
{
	font-weight: normal;
	font-size: 7pt;
	color: black;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_07_Nero_Bold
{
	font-weight: bold;
	font-size: 7pt;
	color: black;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_07_Blue
{
	font-weight: normal;
	font-size: 7pt;
	color: blue;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_07_Blue_Bold
{
	font-weight: bold;
	font-size: 7pt;
	color: blue;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_07_Rosso
{
	font-weight: normal;
	font-size: 7pt;
	color: red;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_07_Rosso_Bold
{
	font-weight: bold;
	font-size: 7pt;
	color: red;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}



.Testo_06_Nero
{
	font-weight: normal;
	font-size: 6pt;
	color: black;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_06_Nero_Bold
{
	font-weight: bold;
	font-size: 6pt;
	color: black;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_06_Blue
{
	font-weight: normal;
	font-size: 6pt;
	color: blue;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_06_Blue_Bold
{
	font-weight: bold;
	font-size: 6pt;
	color: blue;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_06_Rosso
{
	font-weight: normal;
	font-size: 6pt;
	color: red;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_06_Rosso_Bold
{
	font-weight: bold;
	font-size: 6pt;
	color: red;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_Centrato_08_Nero_Bold
{
	text-align:center;
	vertical-align:middle;
	font-weight: bold;
	font-size: 8pt;
	color: black;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_08_Porpora
{
	font-weight: normal;
	font-size: 8pt;
	color: purple;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_08_Porpora_Bold
{
	font-weight: bold;
	font-size: 8pt;
	color: purple;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_07_Verde
{
	font-weight: normal;
	font-size: 7pt;
	color: green;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_08_Verde
{
	font-weight: normal;
	font-size: 8pt;
	color: green;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Testo_08_Bianco
{
	font-weight: normal;
	font-size: 8pt;
	color: white;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}
.Freezing
{
    position: relative;   
}

/* So the overflow scrolls */
td.coveragesContainer 
{
    overflow: auto;
    /* width:<span class='val'> <span class='unit'>95</span>%</span>; */
    /*height: 380px; /* must be greater than tbody*/
    position: relative;
    margin: 0 auto;
}
/* Keep the header cells positioned as we scroll */
.coveragesContainer table th 
{
    position:relative;
    top: expression(this.offsetParent.scrollTop);
}

/* For alignment of the scroll bar */
.coveragesContainer table tbody 
{
    overflow: visible;
} 