  body {
    display: inline;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    min-width: 972px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3
{
    color: #052747;
    text-transform: uppercase; 
}

#footer
{
    font-size: 10px;
        height: auto !important;
            padding: 8px 0 !important;
                margin-top: 23px;
}

label {
    font-weight: 400;
    font-size: 12px;
    margin-right: 5px;
}

.nopadding
{
    padding: 0 !important;
}

.nomargin
{
     margin: 0 !important;    
}

.noborder
{
    border: 0 !important;  
}

.noshadow
{
    box-shadow: none !important;   
}

.bg_white
{
    background-color: #fff;   
}

.bg_lightblue
{
    background-color: #C3E3FF !important;
}

.bg_midblue
{
    background-color: #428bca !important;
}

.bg_darkblue
{
    background-color: #052747 !important;
}

#div_riepilogo_error
{
    background-color: #d82f2b;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;  
    padding: 20px 0;   
}

.form-group {
    margin-bottom: 5px;
}

.selectpicker[disabled], button.disabled {
    cursor: not-allowed;
    background-color: #eee !important;
    opacity: 1;
}

.bootstrap-select .dropdown-menu{
    position:relative;
}

.panel-footer
{
    background-color: #fff !important;
    text-align: right;
}

.navbar-default
{
    background-color: transparent !important;
    border: 0;   
}

.nav.navbar-nav li 
{
       border: 1px solid #052747 !important;
       background-color: #fff !important;
       border-radius: 0px !important;
}

.nav.navbar-nav li:hover
{
       border: 1px solid #fff !important;
       background-color: #052747 !important;
       border-radius: 0px !important;
}

.nav>li>a {
    padding: 7px;
}

.input-group-addon, .form-control, .btn-default, .btn-info, .btn-success
{
    font-size: 12px;
    padding: 6px;
    height: auto !important;
}

button.selectpicker
{
    text-transform: capitalize !important;
}


.selectpicker
{
    height: 30px !important;
}


.fa
{
    margin: 0 5px;   
}

#ctl00_Logo
{
    float: left;
    margin-right: 10px;
    height: 40px;   
}
  
  .ComboFormulati
  { 
      min-width: 525px;
      width: 90%;
 }
 
  .sfondoverde
 { 
     background: url("images/ui-bg_gloss-wave_85_9fda58_500x100.png") repeat-x scroll 50% 50% #9FDA58;
 }
 
  .sfondogiallo
 { 
     background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #f6a828;
 }
 
 /*
 table caption  {
    background-color: #5D7B9D;
    color: White;
    font-size: 11pt;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}
 */
.stileSoglie {
    font-size: 10pt;
}
 

.barraTop{    width:80px;
              float:left;}


.myDataPick
{
  width:60px;
  border:1px solid #8db9db;	
  margin: 0; 
  padding: 0.45em 0 0.47em 0.45em;
  font-size: 10px;
}

.displaynone
{
  display:none;
}
.myTxtbox
{
	width:150px;
	border:1px solid #8db9db;	
	margin: 0; 
	padding: 0.45em 0 0.47em 0.45em;
	font-size: 10px;
	
	}

.myLabel
{
	
 font-style:italic;
 font-size: 12px;
	
}

.myCombo
{
	
}

.myCheckList
{
	
	border:1px solid #8db9db;
	padding:5px;
}

.myLabelBold
{
	
 font-weight: bold;
 font-size: 11px;
	
}

.divScrolling_jq
{
	height:300px;
	overflow:auto;
	padding-right:10px;

}

.sliderClass
{
	height:500px;
	overflow:auto;	
}

.trBgSelected
{
	/* e17009 = arancio selezione dei tab (originale) */
	/* daa520 = goldenrod */
	background-color:#daa520;
	
}

.btnDelGrid, .btnDelGrid_Out
{
	cursor:pointer;
}

.tdMain
{
	font-weight:bold;
	vertical-align:top;
	
	
	}

#centerDiv
{
	width:85%;
	margin:0px auto;
	text-align:left;
	padding:15px;

}

#footerAgro
{
	padding-top:5px;
	font-style:italic;
	border-top:1px solid gray;
	text-align:center;
}

.title
{
	font-size:25px;
	font-weight:bold;
	font-style:oblique;
}
	
.errorLabel
{
	color:black;
	font-weight:bold;
	font-size:12px;
	padding-bottom:50px;
}

.bubba
{
	cursor:pointer;
	
}

.errorMsg
{
	color:#b30000;
	font-weight:bold;
	}
	
.centerTab
{

	margin: 0 auto;
	text-align:left;
		
}

.dialogAvvertimento
{
	font-weight:bold;
	font-style:italic;
	text-align:center;
}
	
.blackA
{
	color:Black;
	text-decoration:none;
	}
.blackA:hover
{
	text-decoration:underline;
}

	
.dialogAvvertimentoDelete
{
	color:#a41c1f;
	font-weight:bold;
	text-align:center;
}

.hideBtn
{
	display:none;
	
	}

.cntBorder
{
	border:1px solid #8db9db;
	}
	
	
.txtUI
{
	border:1px solid #8db9db;
	margin: 0; padding: 0.20em 0 0.47em 0.20em;
	
	}
	 

.txtUI_120
{
	border:1px solid #8db9db;
	width:120px;
	margin: 0; padding: 0.20em 0 0.47em 0.20em;
	
	}

.txtUI_170
{
	border:1px solid #8db9db;
	width:170px;
	margin: 0; padding: 0.20em 0 0.47em 0.20em;
	
	}

	
	.txtUI_big
{
	border:1px solid #8db9db;
	width:340px;
	margin: 0; padding: 0.20em 0 0.47em 0.20em;
	
	}
	
		.txtUI_middle
{
	border:1px solid #8db9db;
	width:300px;
	margin: 0; padding: 0.20em 0 0.47em 0.20em;
	
	}

.txtHalf
{
	border:1px solid #8db9db;
	width:30px;	
	
	
	}
	
.txtHour
{
	border:1px solid #8db9db;
	width:30px;	
	text-align:right;
	
	}
	
	.pNote
	{
		width:250px;
		 font-weight:bold;
		
		}
	


/* input type della combo jquery ui */
.ui-autocomplete-input { margin: 0; padding: 0.45em 0 0.47em 0.45em; width:200px;}





.menu_interno
{
	width:150px;
    font-weight:bold;
    font-size:12px;
    margin:20px;	
    height:25px;
}
.menu_interno img
{
	width:25px;
    float:left;
    margin:5px;	
    height:25px;
}






.menu
{
	width:250px;
    font-weight:bold;
    font-size:14px;
    margin:20px;	
    height:25px;
}
.menu img
{
	width:25px;
    float:left;
    margin:5px;	
    height:25px;
}
	
	
	
.tooltip
{
	display:none;
}
	
.boxinput {
    /*height: 24px;*/
    margin-bottom: 5px;
    width: 400px;
}

.descrizione {
    float: left;
    padding: 5px 10px 5px 5px;
    width: 136px;
    text-align:right;
}

.valoriinput {
    float: left;
    margin-bottom: 10px;
    width: 245px;
}
.clear
{
	clear:both;
    height: 8px;
}

.clear2
{
	clear:both;
    }

.descrizione .bubba
{
	float:right;
}




.order
{
	float:right;
	font-size:14px;
	font-weight:bold;
}

.pannelloOrdina
{
	float:right;
	
}


.orinamento
{
    font-size:10px;	
}

.ui-divquadrato{
    height:20px;
    width:20px;
    float: left; 
    margin-right: 10px;
}

.Box100 {
    width: 100%;
}

.Box80_SX {
    width: 80%;
    float:left;
}

.Box20_DX {
    float: right;
    width: 20%;
}
.txt_75px {
    width:75px;    
}
 
.Box {
    outline: 0 none !important;
     -moz-border-radius: 4px 4px 4px 4px;
     border: 1px solid #AAAAAA;
    color: #222222;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    padding:5px;
}



.box_DX
{
  float:left;
  width:67%;
  margin-left:1%;
}

.box_SX
{
  float:left;
  width:340px;
}




.box_SX_Agenda
{
  float:left;
  width:27%;
}


.box_Calendario
{
  float:none;
  width:100%;
  margin-top:5px;
}

.box_Albero {
    display: block;
    float: none;
    margin-top: 5px;
    overflow: auto;
    padding-bottom: 20px;
    width: 100%;
}

/*.box
{
    outline: 0 none !important;
    -moz-border-radius: 4px 4px 4px 4px;
    background: url("../images/?new=fcfdfd&w=1&h=100&f=png&q=100&fltr[]=over|textures/06_inset_hard.png|0|0|100") repeat-x scroll 50% bottom #FCFDFD;
    border: 1px solid #A6C9E2;
    color: #222222;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1em;
    }
    */
    
    .box {
    outline: 0 none !important;
     -moz-border-radius: 4px 4px 4px 4px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    padding:5px;
    border: 1px solid #a6c9e2; 
    background: #fcfdfd url(images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x; 
    color: #222222; 
}

.titleBox {
     background-color: #FCFDFD;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: -12px;
    padding-left: 5px;
}

    
.pannello_centri
{
    height:52px;
    width:100%;
    padding:5px;
}

.alberoaziende
{
    height:300px;
    width:100%;
    padding:5px;
    overflow:auto;
    margin-top:10px;
}


.nodoalberoselezionato
{
    background-color:#A6C9E2;
}

.toolbar
{
    float:left;
   height:25;
   width:100%;
   margin-bottom:10px;
   padding:5px;
}

.item_toolbar
{
   float:left;
   margin-right:5px;
   padding:5px;
   width:32px;
   height:32px;
}
.item_toolbar:hover
{
   background: #5C9CCC;
}


/*porcata fatta per l albero dell anagrafica*/
.black{color:Black;}
.red{color:Red;}
.green{color:Green;}
.blue{color:Blue;}
.bold{ font-weight:bold;}
.fuchsia{color:Fuchsia;}
.DimGray{color:Gray;}
.TreeViewImprese_0{ cursor:pointer;}

.TreeViewImprese_0:hover{ font-size:1.05em;}
.italic{ font-style:italic;}



.pointer_albero{ cursor:pointer;}








.ui-divquadrato{
    height:20px;
    width:20px;
    float: left; 
    margin-right: 10px;
}

.data{ width:80px;
}
.datadesc{    width:100px;}



.UltraMenu{ color:#000000;}


.IE8Fix
  {
   z-index: 100;
 }


 .cento
  {
  /*width:100%;*/
   }






/*PER PAGINA MASTER OPERAZIONI*/

.box50
{
  float:left;
  width:49%;
}
.box50 .descrizione
{
  float:left;
  width:24%;
}
.box50 .valoriinput
{
  float:left;
  width:70%;
}


.datepicker{
 /* width:75px;*/
}

.box33
{
  float:left;
  width:32%;
}
.box33 .descrizione
{
  float:left;
  width:24%;
}
.box33 .valoriinput
{
  float:left;
  width:70%;
}

.floatSX50
{
 float: left;
 width:50%;
}

.floatDX50
{
 float: right;
 width:49%;
}

.floatSX 
{
 float: left;
}

.floatDX 
{
 float: right;
}


.page
{
    clear:both;
  width:100%;
}

.Etichetta75pxleft 
{
    min-width: 75px;
    float: left;
}

.padDxSx3px 
{
    padding-left:3px; padding-right:3px
}

.Nascosto 
{
    display: none;
}

.boxColore {
    -moz-border-radius: 4px 4px 4px 4px;
    background: url("images/ui-bg_inset-hard_100_fcfdfd_1x100.png") repeat-x scroll 50% bottom #FCFDFD;
    border: 1px solid #A6C9E2;
    color: #222222;
    font-family: Verdana,Arial,sans-serif;
    outline: 0 none !important;
    padding-bottom:5px;
    padding-top:5px;
}

.titoloBox 
{
    padding: 3px;
    background: #5C9CCC url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
    color:White;
}


.input-group-addon 
{
     min-width: 100px;
     text-align: center !important;
     text-transform: uppercase;
}

#Btn_AnnataPrecedente, #Btn_AnnataSuccessiva
{
    margin-top: 0 !important;
}

    
.table-responsive
{
   /* padding: 0 40px;  */ 
    border: none !important;
}
/*
.fa {
    padding-right: 7px;
}
*/
.nav-tabs>li>a 
{
    font-weight: bold;
    border: 1px solid #3498DB !important;
    border-bottom: none !important;
    text-transform: uppercase;
}

.btn
{
    text-transform: uppercase;
}

.border_si
{
    margin: 10px 0;   
    background-color: #f4fbff;
}

.lbl_required
{
    color: #052747;   
    font-weight: bold;
}

.bg-primary
{
    background-color: #052747 !important;  
    padding: 10px 0;
}

label.error
{
    color: #D41E1A;
    font-size: 9px;
    display: block;
    position: absolute;
   /* left: 102px;*/
    z-index: 999;
    top: 35px; 
}

label.error2
{
    color: #D41E1A;
    font-size: 9px;
    display: block;
    position: absolute;
    left: 105px;
    z-index: 999;
    top: 10px;
}

label.errorAngular
{
    color: #D41E1A;
    font-size: 9px;
    display: block;
    position: absolute;
   /* left: 102px;*/
    z-index: 999;
    top: 35px; 
}


select.error, select.error:focus, input.error, input.error:focus
{
    border: 1px solid #D41E1A; 
}

.form-horizontal .form-group {
    /*margin-bottom: 22px;*/
    /*margin: 15px 0;*/
}



.btn-info {
    background-color: #052747 !important;
    border: none !important;
}

.btn-info:hover {
    background-color: #D41E1A !important;
}

.nav-tabs li a 
{
    color: #052747 !important;
    border: 1px solid #052747 !important;
    border-bottom: none !important;
    word-wrap: break-word;
}

.nav-tabs li.active a 
{
    background-color: #052747 !important;
    color: #fff !important;
}

.tab-pane 
{
    border: 1px solid #052747 !important;
}

.jumbotron
{
    border: 1px solid #052747;
}

.tab-pane .jumbotron
{
   border: none;
}

.div-aggiungi
{
    text-align: right;   
}


#navbar-pannello-controllo .nav>li>a, #navbar-pannello-controllo .nav>li>a, #div_menu_tool .nav>li>a, #div_menu_tool .nav>li>a {
    text-decoration: none;
    background-color: #fff !important;
    color: #052747 !important;
    transition: background-color 0.5s ease;
}

#navbar-pannello-controllo .nav>li>a:hover, #navbar-pannello-controllo .nav>li>a:focus, #div_menu_tool .nav>li>a:hover, #div_menu_tool .nav>li>a:focus{
    text-decoration: none;
    background-color: #052747 !important;
}

#navbar-pannello-controllo .nav>li>a:hover, #navbar-pannello-controllo .nav>li>a:focus, #div_menu_tool .nav>li>a:hover, #div_menu_tool .nav>li>a:focus{
    text-decoration: none;
    background-color: #052747 !important;
    color: #fff !important;
}

#div_menu_tool .nav>li>a>img, #div_menu_tool .nav>li>ul>li>a>img {
    max-width: 25px;
}

#div_menu_tool .nav>li>ul>li>a {
    font-size: 12px;
}


.custom-table th, .watable th 
{
    text-transform: uppercase;
    text-align: center;  
    color: #052747 !important; 
}

.custom-table tr:nth-child(even) {
    background-color: #EEEEEE;
}

.watable 
{
       /*margin-top: 10px;*/
}

.watable .sort th
{
    text-align: center !important;
}

.watable th a
{
    color: #052747 !important;
    text-decoration: underline;
    text-align: center;
    float: none !important;
}

.watable th a:hover
{
    color: #D41E1A !important;
    text-decoration: none;
}

.watable td
{
    padding: 3px 6px !important;
}

.watable>tbody>tr.success>td:not(.footable-row-detail-cell)
{
    background-color: #f1f3f7 !important;   
}

.footable-row-detail-cell
{
    background-color: transparent !important;   
}

.watable td:first-child { white-space: nowrap; }

.borderless, .borderless tr, .borderless td, .borderless th
{
    border: 0 !important;   
}

 .borderless th
{
    text-align: left;
}

.no-bullet
{
    list-style-type: none;   
}

.no-bullet
{
    margin-left: -30px;  
}

.jstree  a{
    white-space: normal !important;
    height: auto;
    padding: 1px 2px;
}

.jstree
{
    max-width: 100%;
}

.jstree-apple li 
{
   width: 90%;
}

.jstree-icon
{
    float: left;
}

#tabDati>li>a 
{
    padding: 10px 5px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #428BCA;
    border-color: #428BCA;
    cursor: default;
}

.lbl_more_info
{
    font-size: 10px; 
    font-style: italic;  
}

#div-additional label
{
    border: none !important;
    border-collapse: collapse !important;
}

.menu-interno
{
    margin-top: 15px;   
    margin-bottom: 15px;   
}

button.selectpicker
{
    white-space: normal;
    height: 30px;
    font-size: 12px;
}


/*
.input-group-btn > div
{
    min-height: 400px !important;   
}
*/

.box-logo img
{
    float: left;  
    margin-right: 10px;
}
    
    
#div_dettagli_stalla, #div_caratt_stalla
{
    display: none;   
    
}    
    
.border_si .row
{
     padding: 0;  
    
}    

/*.table-responsive
{
    padding: 10px 0;   
}
*/
.watable 
{
    width: 100% !important;   
    
}

.tab-pane .radio-inline
{
    margin-left: 15px;
}

  /*  
.container .btn:not(.selectpicker)
{
    margin-top: 10px;
}  */

.container .dropdown-toggle, .container .btn-clear-tabella, .container .btn-export-tabella
{
    margin-top: 0 !important;
}   

.panel-heading
{
    padding: 0;   
    background-color: #fff !important;
}

.panel-primary
{
    border: 0 !important;  
}

#Pnl_PreFiltri .panel-primary
{
    border: 1px solid #052747 !important;   
}
    
    
.panel-title
{
    font-size: 12px;
    color: #052747;   
}    


.panel-body
{
    background-color: #fcfcfc;
    border: 1px solid #ccc !important;
    margin-top: 10px;
}

.panel-body h5, h5
{
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}
    
.accordion-toggle i
{
    font-size: 16px;   
}    

.accordion-toggle, .tag_opt, .tag_opt div
{
    float: left;
}

.tag_opt
{
    padding: 0 10px;   
}

.accordion-toggle{
    margin-top: 3px;
}

 .tag_opt div
 {
     margin: 0 5px;
     padding: 5px 10px;
     background-color: #EEEEEE;
     color: #052747;
 }
 
 .div_salva_btn
 {
       padding: 0 75px !important;
 }
 
 
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
}
 
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/*.watable thead th:nth-child(2)
{
    width: 100px;
}*/


.footable.breakpoint > tbody > tr > td > span.footable-toggle 
{
    margin-top: -6px;
}


  
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle::before 
{
    font-family: FontAwesome, sans-serif;
    content: "\f056";
    font-size: 24px;
    cursor: pointer;
           
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle::before 
{
    font-family: FontAwesome, sans-serif;
    content: "\f055";
    font-size: 24px;
    cursor: pointer;
}
        
.footable-row-detail-name
{
    float: left;
    margin-right: 5px;
    font-weight: bold;
    clear: left;
}
        
.footable-row-detail-inner
{
    padding: 5px;
    line-height: 1.5;
}

.footable.breakpoint > tbody > tr > td > span.footable-toggle 
{
    color: #888888;
    display: inline-block;
    font-family: "footable", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    padding-right: 5px;
    text-transform: none;
}

.footable-row-detail-value
{
    clear: right;   
}
/*
.modal-header, .modal-footer
{
    background-color: #052747;
}
*/
.modal-content h4
{
    color: #052747;
}

#modalNuovo .modal-body
{
    padding: 0 !important;   
}

#modalNuovo .modal-body .form-group
{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
/*
.control-label
{
    padding-top: 0 !important;
    padding-bottom: 7px;
}
*/

#btn_nuova_distinta
{
    position: absolute;
    right: 15px;
}

.add_particella_val
{
    width: 80%;   
}

 #pannello-RicGiacenze .panel-body, #Pnl_PreFiltri .panel-body
 {
      border: 0 !important;
    background-color: #fff !important;   
    padding: 5px 20px !important;
 }

#tabTrk .panel-body
{
    border: 0 !important;
    background-color: #fff !important;   
    padding: 5px 35px !important;
}

#tabTrk h4 a, #Alto1 h4 a
{
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 15px;
    
}


#tabTrk .panel-heading, #Pnl_PreFiltri .panel-heading
{
    margin-top: 15px;   
    height: 22px;
}

#div_menu_tool .nav.navbar-nav li 
{
    /*min-width: 14%;*/
}


#navbar-pannello-controllo li a, #div_menu_tool li a
{
    text-transform: uppercase;   
}

#navbar-pannello-controllo .dropdown-menu li, #div_menu_tool .dropdown-menu li
{
    border: 0 !important;   
    margin: 0;

}

#navbar-pannello-controllo .dropdown-menu, #div_menu_tool .dropdown-menu
{
    padding: 0 !important;   
}

#navbar-pannello-controllo li.open a, #div_menu_tool li.open a
{
    background-color: #052747 !important;
    color: #fff !important;
}

#navbar-pannello-controllo .dropdown-menu li a, #div_menu_tool .dropdown-menu li a
{
    padding: 7px 15px;
    background-color: #052747 !important;
    color: #fff !important;

}

#navbar-pannello-controllo .dropdown-menu li a:hover, #div_menu_tool .dropdown-menu li a:hover
{
    background-color: #fff !important;
    color: #052747 !important;

}

#navbar-pannello-controllo, #div_menu_tool, #div_menu_tool
{
    padding: 0 !important;   
}

#main_menu_button div, #main_menu_button input
{
    margin: 0;   
    padding: 5px;
    min-height: 36px;
}


/*** FILTRONE ***/

#accordion_Principale .panel-title
{
    cursor: pointer;
    font-size: 18px;   
}

#coll_principale_ricerca .tab-content
{
    background-color: #fff !important;   
}

#tab_li_Azienda, #tab_Centro, #tab_Appezzamento, #tab_Impianto, #tab_Movimento, #tab_Azienda_ris, #tab_Centro_ris, #tab_Appezzamento_ris, #tab_Impianto_ris, #tab_Movimento_ris
{
    padding: 20px;   
}

#accordion_Azienda .panel-heading, #tab_Centro .panel-heading, #tab_Movimento .panel-heading
{
    height: 22px;   
    
}

#tab_li_Azienda .accordion-toggle, #tab_li_Azienda .tag_opt, #tab_li_Azienda .tag_opt div, #according_Centro .accordion-toggle, #according_Impianto .accordion-toggle, #according_Movimento .accordion-toggle
{
    float: none;
}

#accordion_Azienda .bootstrap-select.btn-group .dropdown-menu
{
    margin-top: -35px;
}
    
#accordion_Azienda .bootstrap-select.btn-group .selectpicker{
    margin-top: 0;
}

#pnlAreaComune_body
{
    margin-top: 40px !important;
}

.pnlAreaComune_Titolo
{
    border-bottom: 1px solid #052747; 
    margin: -25px 0;
    background-color: #052747;
    color: #fff;
}

#pnlAreaComune
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;  
    border: 1px solid #052747; 
    background-color: #fff;
    padding: 14px !important;
    margin-top: 15px;
}

.acc_main
{
    margin-top: 20px;
}

.acc_main .panel-body
{
    margin-bottom: 20px;
}

#coll_principale_ricerca .panel-body, #coll_principale_risultato .panel-body
{
    padding: 15px 0 !important;   
    border: 0 !important;
    background-color: transparent !important;
}

.tabpanel
{
    margin-bottom: 100px;   
}

#container_menu2, #container_banner, #container_comunicazioni, #container_inbox
{
    background-color: #fff;
    border-bottom: 1px solid #ddd;   
    border-left: 1px solid #ddd;   
    border-right: 1px solid #ddd;   
    padding-bottom: 15px;
}

#container_menu2
{
    padding-bottom: 0 !important;   
}

#container_banner
{
    height: 115px;   
}

#container_logs
{
    background-color: #D82F2B;
    border-bottom: 1px solid #fff;   
    border-left: 1px solid #fff;   
    border-right: 1px solid #fff;     
}

#container_menu2 > div
{
    padding: 15px;
}

#container_semaforo > span 
{
    padding-right: 20px;   
}

#container_menu > div:not(.container_titolo)
{
    /*min-height: 125px;  */
    padding-top: 10px;    
    padding-bottom: 10px;    
}

#container_menu > div > div > a > img
{
    margin-bottom: 10px;   
}

#container_menu > div > div > a
{
    color: #052747 !important;
}

#container_menu > div > div > a:hover
{
    color: #D82F2B !important;
}

#container_menu > div > div
{
    /*transform: translateY(50%);*/
}

#container_preferiti
{
    background-color: #052747;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;   
    
}

#container_preferiti > div
{
    padding: 0 15px;
}

.preferito_item
{
    /*float: left; 
    margin-right: 10px; */
    background-color: #fff; 
    padding: 5px;
    /*width: 20%;
    text-align: center;
    max-height: 75px;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.preferito_item img
{
    width: 20px;   
}

#modalPreferiti select, #modalPreferiti label
{
    padding: 5px;
    font-size: 14px;   
    margin: 10px 0;
    color: #052747;
}

#container_comunicazioni_body .message
{
    padding: 5px 10px;
    background-color: #F1F3F7;
    border-top: 1px solid #052747;
    border-bottom: 1px solid #fff;
    height: 90px;
}

#container_inbox_body .message
{
    padding: 0 10px;
    background-color: #F1F3F7;
    border-top: 1px solid #052747;
    border-bottom: 1px solid #fff;
}

#container_inbox_body .message .message_body
{
    height: inherit;   
}

.message_head
{
    color: #052747; 
}

.message_head .orario, .message_head .data
{
    font-style: italic;
    font-weight: bolder;
    font-size: 11px;
}

.message_body .titolo
{
    color: #052747;
    font-weight: bolder;
    text-transform : uppercase;
    font-size: 16px;
}

#container_comunicazioni_body ul, #container_inbox_body ul
{
    margin-top: 10px;   
}

#container_comunicazioni_body ul li a, #container_inbox_body ul li a
{
    padding: 5px;   
}

#container_comunicazioni_body .tab-pane, #container_inbox_body .tab-pane
{
    border: 0 !important;   
}

#container_comunicazioni_body .nav-tabs li.active a, #container_inbox_body .nav-tabs li.active a {
    background-color:  #F1F3F7 !important;
    color: #052747 !important;
}

#container_comunicazioni_body .tab-content .row, #container_inbox_body .tab-content .row {
    padding: 2px 0;
}

.container_titolo
{
    color: #052747;
    margin-bottom: 10px;
    clear: left;
    margin-top: -10px;
}

.container_titolo h4
{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-transform: uppercase;
}

#div_preferiti .btn-default
{
    margin: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
    background-color: #f1f3f7;
    font-size: 12px;
}

#div_preferiti .btn-default:hover
{
    background-color: #052747;
    color: #fff;
}

#div_preferiti .btn-default:last-child {
    border-bottom: 0 !important;
}

#div_preferiti > div, #divanagrafica > div
{
    background-color: #fff;
    padding: 10px 0;   
}

#div_preferiti > div > h4, #divanagrafica > div > h4
{
    margin-top: 0; 
}

#div_preferiti > div > div
{
    border: 1px solid #ddd;
 
}

#main_menu2
{
   /* margin: 15px 0;*/
    margin: 15px;
}

#container_albero_agenda
{
    width: 100%;
    /*overflow: auto;  */ 
    background-color: #f1f3f7;
    overflow-y: scroll;
    height: 240px;
}

#container_albero_anagrafica
{
    width: 100%;
    overflow: auto;
    background-color: #fff;
    height: 100%;
}

.jstree-apple.jstree-focused {
    /*background: #f1f3f7 !important;*/
    background: inherit !important;
}

#container_search
{
    background-color: #052747;
    /*padding: 15px 0;*/
    margin: 0;
    /*margin-bottom: 20px;*/
}

#container_search h4
{
    color: #fff;   
}

#container_search > div > div
{
    padding: 5px 15px;   
}

.mostra_albero a
{
    color: #fff !important; 
}

.mostra_albero a:hover
{
    text-decoration: none;
}

#container_search a:hover
{
    color: #D82F2B !important;   
}

#main_menu .navbar-nav>li>a, #main_menu2 .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

#main_menu .navbar, #main_menu2 .navbar {
    margin-bottom: 0;
}

#container_search .input-group{
    border: 1px solid #fff;
    border-radius: 5px;
}

li.last .dropdown-menu
{
    right: 0;
    left: inherit;   
    
}

#container_menu .icona{
    float: left; 
    padding: 20px; 
    width: 72px; 
    margin-right: 10px;
}

#container_menu .titolo
{
    text-align: left; 
    height:72px;
    display: table-cell;
    vertical-align: middle;
}



#menu_principale a
{
    color: #052747;
}

#menu_principale a:hover
{
    color: #D82F2B;
    text-decoration: none;
}

a.dropdown-item
{
    color: #052747 !important;   
    width: 100%;
    float: inherit;
    padding: 5px;
}

a.dropdown-item:hover
{
    color: #D82F2B !important;   
    text-decoration: none;
}

.dropdown-item > img, .btn-default > img
{
    width: 20px;   
}

.ComboOperazioni .dropdown-menu
{
    top: 15px !important;   
}

#menu1_smart > li, #menu2_smart > li
{
    float: left;   
    margin-right: 20px;
}

#menu1_smart,  #menu1_smart ul, #menu2_smart,  #menu2_smart ul
{
    list-style: none;
}

#menu1_smart, #menu2_smart{
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

#menu1_smart a, #menu2_smart a
{
    color: #052747;
}

#menu1_smart a:hover, #menu2_smart a:hover
{
    color: #D82F2B;
}

#menu1_smart > li > ul > li > a, #menu2_smart > li > ul > li > a
{
    font-size: 12px;
    white-space: normal;
}

#menu1_smart > li > ul > li > a img, #menu2_smart > li > ul > li > a img
{
    width: 20px;
}

#menu1_smart > li > ul > li, #menu2_smart > li > ul > li
{
    padding: 8px 0;
}

#container_albero_anagrafica .jstree li[title="Anagrafica"] > a, span.anagrafica
{
    background-color: yellow;
}

.etichetta_tot
{
    float: right;
    margin-left: 10px;
    background-color: #052747;
    padding: 0px 5px;
    border-radius: 50%;  
    color: #fff; 
}

#RadioButtonListEsporta label
{
    width: 100%;   
}

.table_tipoutente td
{
    padding-right: 15px;   
}

#tabRapporti
{
    margin-top: 26px;   
}

.dropdown-menu.open {
    overflow: inherit !important;
}


/*********************************************/


.message_body {
        position:                   relative;
        font-family:                sans-serif;
        display:                    block;
        height:                     7em;
        overflow:                   hidden;
    }
    .message_body .intro {
        color:                      #333;
        overflow:                   hidden;
        font-size:                  12px;
        line-height:                1.4;
        text-align:     			justify;
        height: 30px;
    }
    
    .message_body .intro:after {
        content:                    ' ';
        position:                   absolute;
        display:                    block;
        width:                      100%;
        height:                     1em;
        bottom:                     0px;
        left:                       0px;
    }

    .message_body .intro:before {
        content:                    '...';
        text-align:                 right;
        position:                   absolute;
        display:                    block;
        width:                      4em;
        height:                     1em;
    bottom: 0px;
    right: 15px;
background: -moz-linear-gradient(left,  rgba(241, 243, 247,0) 0%, rgba(241, 243, 247,1) 38%, rgba(241, 243, 247,1) 99%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(241, 243, 247,0)), color-stop(38%,rgba(241, 243, 247,1)), color-stop(99%,rgba(241, 243, 247,1)));
background: -webkit-linear-gradient(left,  rgba(241, 243, 247,0) 0%,rgba(241, 243, 247,1) 38%,rgba(241, 243, 247,1) 99%);
background: -o-linear-gradient(left,  rgba(241, 243, 247,0) 0%,rgba(241, 243, 247,1) 38%,rgba(241, 243, 247,1) 99%);
background: -ms-linear-gradient(left,  rgba(241, 243, 247,0) 0%,rgba(241, 243, 247,1) 38%,rgba(241, 243, 247,1) 99%);
background: linear-gradient(to right,  rgba(241, 243, 247,0) 0%,rgba(241, 243, 247,1) 38%,rgba(241, 243, 247,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0e0e0', endColorstr='#e0e0e0',GradientType=1 );
    }


/*********************************************/

.op_colturale, .bg_green
{
    background-color: rgba(0,255,64,0.2) !important;
}

.op_contabile, .bg_blue
{
    background-color: rgba(73,233,255,0.2) !important;   
}

.op_macchina, .bg_orange
{
    background-color: rgba(255,191,0,0.2) !important;  
}

.op_zootecnica, .bg_purple
{
    background-color: rgba(165,75,255,0.2) !important;   
}

.radio input[type=radio]
{
    margin-left: 0 !important;   
}


/*********************************************/

tr.ui-widget-header > th{
    text-transform: uppercase;
    background-color: #428bca !important;
    color: #fff !important;
    text-align: center;
}

tr.ui-widget-header > th > a{
    color: #fff !important;
}

tr.ui-widget-header > th > a:hover{
    color: #052747 !important;
}

table>tbody>tr>td
{
    vertical-align: inherit !important;   
}

.tab_impianti 
{
    margin-top: 60px;
}

#CostiAccessori table
{
    margin-top: 50px;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f4fbff;
}

.alert-info {
    border-color: #428BCA;
        color: #052747;
}

.form-control {
    border: 1px solid #428BCA;
}

.btn-default {
    border-color: #428BCA;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #D9EDF7;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #D9EDF7;
}


h4
{
    color: #052747;
}

#div_master_azioni h4
{
    color: #fff;
}

.watable tbody tr:hover td
{
    background-color: #f1f3f7 !important;
}

.watable thead tr.sort th
{
    background-color: #428BCA;
    text-align: center;
}

.watable thead tr.sort th a
{
    color: #fff !important;
}

.watable thead tr.sort th a:hover
{
    color: #052747 !important;
}

ul.selectpicker
{
    margin-top: 0 !important;
}

ul.selectpicker li.selected
{
    background-color: #428BCA;
}

ul.selectpicker li.selected a
{
    color: #fff !important;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active
{
    border: 1px solid #428BCA;
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) 
{
    .container
    {
        width: 85%;
    }
    
    .visible-lg
    {
        display: inherit !important;
    }
    
    #divanagrafica
    {
        min-height: 100px !important;
        margin-bottom: 0 !important;
    }

    
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) 
{
    .container
    {
        width: 90%;
        padding: 0 !important;
    }
    
    label.error
    {
        color: #A94442;
        font-size: 9px;
        display: block;
        position : inherit !important;
        left: 0 !important;
        top: 0 !important; 
    }
    
    #ctl00_MainContent_Box_Salva
    {
        text-align: center;
        margin: 0 auto;
    }
    
    .div_salva_btn
     {
           padding: 0 25px !important;
     }
 
     .footable-row-detail-row:first-child > .footable-row-detail-name
     {
        display: none;   
     }
     
     .footable-row-detail-value > .fa
     {
           margin-right: 20px;
           margin-bottom: 10px;
     }
     
     .visible-md
    {
        display: inherit !important;
    }

    #main_menu nav
    {
        display: none;
    }
    
    #menu1_smart > li > ul, #menu2_smart > li > ul
    {
        width: 300px;   
    }
    
    #menu1_smart > li.last .dropdown-menu, #menu2_smart > li.last .dropdown-menu {
        right: inherit; 
    }
    
    #container_albero_anagrafica 
    {
        display: none;   
    }
    
    
    #divanagrafica
    {
        min-height: 100px !important;
        margin-bottom: 0 !important;
    }
    
    .input-group-addon:first-child {
        border-right: 1px solid #428bca;
    }
    

}


/* XSmall devices (mobile, < 768px) */
@media (max-width: 767px)
{
    .container
    {
        width: 95%;
        padding: 0 !important;
    }
    
    label.error
    {
        color: #A94442;
        font-size: 9px;
        display: block;
        position: inherit !important;
        left: 0 !important;
        top: 0 !important; 
    }
    
    #ctl00_MainContent_Box_Salva
    {
        text-align: center;
        margin: 0 auto;
    }
    
    .div-aggiungi
    {
        text-align: center;   
    }
    
    .nav-tabs > li {
           float: none;
            width: 85%;
            margin: 0 auto;
            text-align: center;
    }
    
    .btn-salva, .btn-salva button
    {
        width: 100%;   
        margin-bottom: 20px;
    }
    
    .form-control option
    {
           width: 200px;
           word-wrap: break-word;
    }
    
    .pulsante-indietro
    {
        float: left;   
        
    }
    
    #ctl00_Logo
    {
        float: left;     
    }
    
    .box-logo
    {
        text-align: left;   
    }
   
    
    .btn
    {
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    
    .separatore
    {
        height: 15px;   
    }
    
    .navi_item
    {
        font-size: 12px;
    }
    
    .bootstrap-select
    {
        margin-top: 0px;
    }
    
    .bootstrap-select.btn-group .dropdown-menu
    {
        margin-top: -15px;
    }
    
     .div_salva_btn
     {
           padding: 0 25px !important;
     }
     
     .footable-row-detail-row:first-child > .footable-row-detail-name
     {
        display: none;   
     }
     
     .footable-row-detail-row:first-child > .footable-row-detail-value
     {
          background-color: #F1F3F7;
          padding: 5px;
          width: 145px;
          margin-bottom: 5px;
     }
     
     .footable-row-detail-value > .fa
     {
           margin-right: 20px;
          
     }
     
     #btn_nuova_distinta
    {
        position: inherit;
        display: block;
        right: 0;
    }
    
    .visible-sm
    {
        display: inherit !important;
    }
    
    #main_menu nav
    {
        display: none;
    }
   
    #menu1_smart > li > ul, #menu2_smart > li > ul
    {
        width: 200px;   
    }
    
    #container_albero_anagrafica 
    {
        display: none;   
    }
    
    #divanagrafica
    {
        min-height: 100px !important;
        margin-bottom: 0 !important;
    }
    
    #container_search .input-group {
        border: 0;
    }
    
    .input-group-addon:first-child {
        border-right: 1px solid #428bca;
    }
    
}