.faAddSchedule {
  height: 25px;
  width: 25px;
  margin-top: -1px;
}

.form-row {
  display: flex;
  flex-direction: row;

  gias-drop-down-template-s {
    width: 100%;
  }
}

.form-row .k-icon {
  margin-top: 20px;
}

.faGridToolbarIcon {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  color: transparent;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &.faQdCCancellazioneMultipla {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_multiple_delete.svg');
  }
}

.faBDNIcon {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  color: transparent;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url('../../../../assets/custom-icons/icon-general/dropdown_arrow_bottom.svg');
}

.btn-delete {
  height: 30px;
  border: 1px solid red;

  div {
    margin-top: -5px;
  }
}

fa-icon.ng-fa-icon.ng-star-inserted svg {
  width: 35px;
  height: 17px;

  path {
    fill: #002850;
  }
}
