#anagrafica-ddl {
    width: 250px;
}

h6 {
    margin-bottom: 0px;
}

.delete-button {
    line-height: 1;
    border-color: transparent;
}

::ng-deep #muz-edit-dialog > .k-dialog > .k-dialog-content {
    overflow-y: auto !important;
}

::ng-deep #muz-edit-dialog > .k-dialog {
    max-height: 70vh;
}