.notifications {
    flex: 1;
    border: 1px #dee2e6 solid;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 6px;
    min-width: 240px;
}

.notifications>h6 {
    text-align: center;
}