.gias-testata-qdc {
  display: flex;
  align-items: flex-end;

  .gias-data-container-qdc {
    width: 142px;
  }
  .gias-time-container-qdc {
    width: 120px;
    margin-left: 5px;
  }
}
