<%@ Master Language="VB" MasterPageFile="~/Master/AgendaBootstrap.Master" AutoEventWireup="false"  
        CodeBehind="AgendaBootstrap_Visite.master.vb" Inherits="AgroAgenda_2010.AgendaBootstrap_Visite" %>
<%@ MasterType VirtualPath="~/Master/AgendaBootstrap.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
    <style type="text/css">
        
        #navbar-visite .nav>li>a {
            text-decoration: none;
            background-color: #fff !important;
            color: #052747 !important;
            transition: background-color 0.5s ease;
        }
        
        #navbar-visite .nav>li>a:hover, #navbar-visite .nav>li>a:focus, #navbar-visite .nav .menuattivo a{
            text-decoration: none;
            background-color: #052747 !important;
            color: #fff !important;
        }
        
    </style>

    <asp:ContentPlaceHolder id="HeadContent_Visite" runat="server"></asp:ContentPlaceHolder>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <asp:HiddenField id="hf_utenteAbilitato_Lista_Lettura" runat="server" Value="False" />
    <asp:HiddenField id="hf_utenteAbilitato_Anagrafiche_Lettura" runat="server" Value="False" />
    
    <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-visite" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

             <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-visite">
                <ul class="nav navbar-nav">
                <li id="menuCreaModificaItem" style="display:none;"><a href="../Visite/Visite_CreaModificaItem.aspx">NUOVA VISITA</a></li>
                <li id="menuLista" style="display:none;"><a href="../Visite/Visite_Lista.aspx">LISTA VISITE</a></li>
                <li id="menuListaDettagli" style="display:none;"><a href="../Visite/Visite_ListaDettagli.aspx">DETTAGLI VISITE</a></li>
                <li id="menuAnagrafiche" style="display:none;"><a href="../Visite/Visite_Anagrafiche.aspx">ANAGRAFICHE</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->

          </div><!-- /.container-fluid -->
        </nav>
    </div>

    <div class="row">
        <div id="contenitore">
            <asp:ContentPlaceHolder id="MainContent_Visite" runat="server"></asp:ContentPlaceHolder>
        </div>
    </div>

</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="ContentScript" runat="server">
    <asp:ContentPlaceHolder id="ContentScript_Visite" runat="server"></asp:ContentPlaceHolder>

    <script type="text/javascript">

        $(document).ready(function () {

            $('.collapse').on('shown.bs.collapse', function () {
                $(this).parent().find(".fa-plus-circle").removeClass("fa-plus-circle").addClass("fa-minus-circle");
            });

            $('.collapse').on('hidden.bs.collapse', function () {
                $(this).parent().find(".fa-minus-circle").removeClass("fa-minus-circle").addClass("fa-plus-circle");
            });

            //Attiva il menu in base alla pagina in cui ci si trova
            var url = window.location.pathname;
            var substr = url.split('/');
            var urlaspx = substr[substr.length - 1];
            $('#navbar-visite .nav').find('.menuattivo').removeClass('menuattivo');
            $('#navbar-visite .nav li a').each(function () {
                if (this.href.toUpperCase().indexOf(urlaspx.toUpperCase()) >= 0) {
                    $(this).parent().addClass('menuattivo');
                }
            });

            //In base ai permessi, mostro le tab
            if ($("input[name$='hf_utenteAbilitato_Lista_Lettura']").val() == "True") {
                //$('#menuCreaModificaItem').show();
                $('#menuLista').show();
                $('#menuListaDettagli').show();
            }

            if ($("input[name$='hf_utenteAbilitato_Anagrafiche_Lettura']").val() == "True")
                $('#menuAnagrafiche').show();


        });

    </script>

</asp:Content>
