
.hidden {
    display: none;
}

.ob-no-scroll {
    overflow: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gridColumnCenter {
    text-align:center !important;
}

.k-button.k-button-solid-primary.gridCommandUpdate {
    color: #228B22 !important; 
}

.gridCommandCancel {
    color: #D41E1A !important;
}