.filters-container {
  border: #002850 1px dashed;
  border-radius: 15px;
  padding: 1%;
  margin: 1%;
}
.padded {
  padding: 2%;
}

gias-validita-datetime {
  display: flex;
  gap: 2%;
  width: 100%;
}

form {
  display: flex;
  width: 100%;
  gap: 2%;
  align-items: flex-end;
}

gias-side-filters-template {
  position: absolute;
  z-index: 1000;
  right: 0 !important;
}

.custom-toolbar button {
  background-color: #002d5a !important;
  color: white;
  border-radius: 25px 0px 0px 25px;
  // position: fixed;
  // margin-top: 10px;
  // margin-left: -66px;
  // z-index: 2;
  width: 66px;
  height: 50px;
}

.custom-toolbar {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Assicurati che abbia un valore di z-index abbastanza alto per stare sopra altri elementi */
}
