.faSoglieGiustificazioni {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-image: url('../../../../../../../assets/custom-icons/icon-general/ic_options_soglie_giustificazioni_02.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon {
    margin: auto;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-btn_rileva_soglia_trattamento_antiparassiti {
    background-image: url('../../../../../../../assets/custom-icons/icon-general/ic_options_rileva_soglia_trattamento_antiparassiti_02_on.svg');
}

.k-icon.k-i-btn_dettagliodose_consentita_disciplinare {
    background-image: url('../../../../../../../assets/custom-icons/icon-general/ic_options_dettagliodose_consentita_disciplinare_on.svg');
}

.button-rileva-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-inserisci-dose-prodotto {
    max-width: 400px;
    min-width: 250px;
    background-color: #002D5A !important;
    border: 0;
    height: 40px !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.btn-inserisci-dose-prodotto span {
    text-transform: uppercase !important;
    font-size: 14px !important;
}

.inserisci-dose-container {
    display: flex;
    .udm-container {
        flex: 1;
        min-width: 150px;
    }
    .dosi-container {
        flex: 3;
        min-width: 450px;
    }
    .btn-dose-container {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        min-width: 350px;
        margin: auto;
        margin-bottom: 2px;
    }
}

@media only screen and (max-width: 1066px)  {
    .inserisci-dose-container {

        .btn-dose-container {
            margin-top: 10px;
            max-width: none;
        }
    }
}

.formulati-header {
    display: flex;
    justify-content: flex-end;

    .epoca-container {
        flex: 1;
    }
    .bottone-aggiunta-container {
        flex: 1;
        max-width: 165px;
        align-items: flex-end;
        display: flex;
        justify-content: end;
    }

    .modalita-applicazione-container{
      flex: 1;
      padding-left: 5px;
    }

}
