.k-icon {
    margin: auto;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-btn_rileva_soglia_trattamento_antiparassiti {
    background-image: url('assets/custom-icons/icon-general/ic_options_rileva_soglia_trattamento_antiparassiti_on.svg');
}

.avversita-title-container {
    display: flex;
}

.card-title {
  flex: 1;
}
.ricerca-gestione-prodotto {
    display: flex;
    flex:1;
    justify-content: flex-end;
}

.border-innesco {
  border: 0.5px dotted #002D5A;
  border-left: 2px solid #002D5A;
  margin-bottom: 4px;
  border-radius: 8px;
}

.border-innesco-non-salvato {
  border: 0.5px dotted #ff7300;
  border-left: 2px solid #ff7300;
  margin-bottom: 4px;
  border-radius: 8px;
}

.margin-innesco{
  margin: 2px;
}

.margin-innesco-header{
  margin-left: 18px;
}

.ricerca-text {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 10px;
}

h6 {
  margin-bottom: 0 !important;
}

.ricerca-prodotto-title {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;

  .card-title {
    margin: 0 !important;
  }
}

.ricerca-prodotto-title .card-subtitle,
.ricerca-prodotto-title .card-subtitle {
  margin-bottom: 0 !important;
}

.ricerca-visualizza-giacenze,
.bottone-ricerca-prodotto,
.ricerca-visualizza-magazzini-agenzie,
.ricerca-visualizza-magazzini-esterni{
  margin-left: 1rem;
}

.gias-switch-two-labels {
  display: flex;
  align-items: flex-end;
}

gias-switch-template {
  margin-right: 3px;
}

