.edit-muz-container {
    width: 90vw;
    max-width: 1000px;
}

.edit-muz-card {
    width: 100% !important;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-top-right-radius: 8px;
    border-color: #dee2e6;
    border-top-color: transparent;
}

.edit-muz-column {
    display: flex;
    flex-direction: column;
}

.edit-muz-row {
    display: flex;
    flex-direction: row;
}

.edit-muz-row-wrap {
    width: calc(100% - 150px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.edit-muz-row>.info {
    width: 150px;
    line-height: 2;
}

.analysis-ddl {
    max-width: 250px;
    width: 100%;
}

.space-between {
    justify-content: space-between;
}

.muz-input {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: #002D5A;
}

.g-16 {
    gap: 16px;
}

.g-32 {
    gap: 32px;
}

.g-64 {
    gap: 64px;
}

::ng-deep #select-dialog>.k-window {
    max-width: 90vw;
}