.btn-inserisci-dose-prodotto {
    max-width: 400px;
    min-width: 250px;
    background-color: #002D5A !important;
    border: 0;
    height: 40px !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    span {
        text-transform: uppercase !important;
        font-size: 14px !important;
    }
}

:host ::ng-deep .riga_modificata, .k-alt.riga_modificata,
:host ::ng-deep .Modifica_Dose_Prodotti, .k-alt.Modifica_Dose_Prodotti {
    background-color: #e6ecf2 !important;
}

:host ::ng-deep tr.riga_modificata .k-grid-content-sticky,
:host ::ng-deep tr.Modifica_Dose_Prodotti .k-grid-content-sticky {
    background-color: #e6ecf2 !important;
}

:host ::ng-deep tr.riga_modificata td:first-child,
:host ::ng-deep tr.Modifica_Dose_Prodotti td:first-child {
    border-left: 2px solid #c0d2e3 !important;
}

