.btn-success {
    background-color: green;
    color: white;
    margin-bottom: 2%;
}

.btn-error {
    background-color: red;
    color: white;
    margin-bottom: 2%;
}

.btn-add-prod {
    margin-top: 10px;
    margin-bottom: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
}
