.faMenuZoo {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_qdc_tab_zoo.svg');
  }
  
.faGridRowIcon {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.faGridToolbarIcon {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  color: transparent;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &.faQdCCancellazioneMultipla {
    background-image: url('../../../../assets/custom-icons/icon-general/ic_options_multiple_delete.svg');
  }
}

.btn-delete {
  height: 30px;
  border: 1px solid red;

  div {
    margin-top: -5px;
  }
}

.faAddSchedule {
  height: 25px;
  width: 25px;
  margin-top: -1px;
}

.faQdCGoToReciepe{
    background-color: green !important;
    width: 50px !important;
    height: 50px !important;
}
