<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.1.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Bootstrap 3 - Modal - inizializza</Title>
      <Author>John Sheehan</Author>
      <Shortcut>shortcut</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>id</ID>
          <ToolTip>id del modal da inizializzare</ToolTip>
          <Default>id</Default>
        </Literal>
        <Literal>
          <ID>keyboard</ID>
          <ToolTip>ESC per chiudere</ToolTip>
          <Default>true</Default>
        </Literal>
      </Declarations>
      <Code Language="jscript">
        <![CDATA[
        $$("#$id$").modal({
			keyboard: $keyboard$,
			show: false
		});

        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>